<h1><%= @shelter.name %></h1>

<h3>Dogs</h3>
<ul>
<% @shelter.dogs.each do |d| %>
	<li><%= link_to d.name, dog_path(d) %></li>
<% end %>
</ul>

<h3>Cats</h3>
<ul>
<% @shelter.cats.each do |c| %>
	<li><%= link_to c.name, cat_path(c) %></li>
<% end %>
</ul>
