<h1><%= @title %></h1>
<br />

<div class="row">
	<div class="span12">
		<p><%= link_to "New Waitlist", new_waitlist_path, :class => "btn btn-primary" %></p>


	<% if @waitlists.count > 0 %>
		<ul>
			<%= render @waitlists %>
		</ul>
	<% else %>

		<h5>No Waitlists</h5>

	<% end %>

	</div>
</div>
