
<div class="row">
	<div class="span6">
		<h1>Reset Password</h1>

		<%= form_tag password_resets_path, :html=> { :class => "form-horizontal" }, :method => :post do %>
			<fieldset>
				<div class="well">
					<div class="control-group">
						<%= label :email, "Email Address", :class => "control-label" %>
						<div class="controls">
							<%= text_field_tag :email, params[:email] %>
						</div>
					</div>
					<div class="actions">
						<%= submit_tag "Reset Password", :class => "btn btn-primary" %>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
<% end %>
