.ackrc
.bundle
.byebug_history
.DS_Store
.env.*
.idea/
.powenv
.rvmrc
.sass-cache/
.vscode/
.yarn-integrity
/node_modules
/public/packs
/public/packs-test
chromedriver.log
config/database.yml
config/initializers/setup_mail.rb
config/newrelic.yml
coverage
db/*.sqlite3
dist/
log/*.log
node_modules/
npm-debug.log
public/system/
site_notes.txt
tags
tmp/
yarn-debug.log*
yarn-error.log
