.bundle
bin/
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
.DS_Store
public/system/
config/newrelic.yml
config/initializers/setup_mail.rb
config/initializers/mailchimp.rb
config/database.yml
.rvmrc
chromedriver.log
.idea/
.env*
