.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
.DS_Store
public/system/
config/newrelic.yml
config/initializers/setup_mail.rb
config/database.yml
.rvmrc
chromedriver.log
.idea/
.env.*
coverage
.powenv
.vscode/
.byebug_history
site_notes.txt
node_modules/
dist/
npm-debug.log
yarn-error.log
/public/packs
/public/packs-test
/node_modules
yarn-debug.log*
.yarn-integrity