dist: bionic
language: ruby
cache:
- bundler
sudo: required
rvm:
- 2.6.6
bundler_args: "--without production"
addons:
  artifacts: true
  postgresql: '9.6'
  apt:
    packages:
    - google-chrome-stable
env:
  global:
  - ARTIFACTS_S3_REGION="us-east-1"
  - ARTIFACTS_S3_BUCKET="travis-ci-screenshots"
  - ARTIFACTS_PATHS="tmp/capybara/"
  - secure: mxVj329WgLFr5YjjvsBNaMVhJVG2nyVQZiXPf1sGxrDPeYA+Duh+/PGUjnoFLEHXNwaV+3RfW9V/EWRpaEpIk+hKWjJXkHkUTqCU/bK1NeOLeV4FlqrkVfSD+hBG9FU7Y3aTu/bALYlYOzGsjXHuPBfYXBqBzN1gtpi7l9S8a2U=
  - secure: 3Ko9ZhLHpZiharEefPMoJ6KSJUpI+h1pDRmzzQzt+4M4PIN4inhMb57qudoHtSYbgJRo45hZ8A3x+QI7fjAwHQyJNTDIHnXolMTwit2/wziSpeHuaqtKWAELrVUgPfP3avnl5GC3jvO2cHK1eWPwdx6Ks/iybXhyYeTf39ogxRs=
  - secure: fcTE2FdWMzHEv++avWgdICDN1d20c+iWfXmMEcEva04kikJfz9np++E2HHkd3OP8Y4puWJ2j4Q+QAscviP7ATmAWTjX4mscq1UY5/fNwd4qDFUkct/UG/8soS4XKzMkZy9KvoniEvSSDuJJeLmEd/0ImuS1F60Dr+jxUal0p9Fg=
  - secure: YmVza5uaDsncEQ+8kq0XOCcrBP6VFHfHTPp0W0VpU0iq1vtCeWQGIUYQtvvxPU7O1sDzb+U7cx+Sn8aFNzxsHHwP0zLcrtPcwT1mD18XANPTmcmrKSQHozeYzgdyi7c2c/zymLr/i3KmwUvAhQe89Qt2ZmgepuRyg3oRj3VLMNI=
  matrix:
  - BROWSER=chrome_headless SUITE=spec/
script:
- RAILS_ENV=test bundle exec rake db:migrate --trace
- bundle exec rake db:test:prepare
- BROWSER=$BROWSER bundle exec rspec $SUITE
before_script:
- psql -c 'create database travis_ci_test;' -U postgres
- cp config/database.yml.travis config/database.yml
after_failure:
- artifacts upload
