<div class="container">
  <div class="row">
    <div class="col-12 pt-3">
      <h1>Thank You For Your Payment</h1>

      <p>An email confirmation has been sent to you and the assigned foster</p>
      <p>You may also view your completed invoice at the link below.</p>
      <br />
      <p><%= link_to "View Your Invoice", @invoice, class: "btn btn-large btn-primary" %>
    </div>
  </div>
</div>
