<li>
  <span>
  <% unless contract.get_details["status"] == 'error' %>
    <%= contract.get_details["title"] %> - <%= contract.get_details["status"] %>
    <% if contract.get_details["status"] == 'signed' %> -
      <%= link_to("view pdf", contract.get_details["contract_pdf_url"]) %>
    <% end %>
  <% else %>
    Contract Data Temporarily Unavailable
  <% end %>
  </span>
</li>
