<li>
	<%= link_to dog.name, dog %>
	<% if current_user.admin? %>
	|	<%= link_to "delete", dog, :method => :delete, :confirm => "You sure?",
								    :title => "Delete #{dog.name}" %>
	<% end %>
</li>