<div class="alert alert-error">
  <h4>Sorry, this dog is no longer available for adoption!</h4>
  Please see our gallery of <%= link_to "available dogs", :controller => "dogs", :status => "active"  %>.
</div>
