<h1><%= @title %></h1>
<% if is_admin? %>
<p>
<%= link_to "Add a Dog", new_dog_path %>
</p>
<% end %>

<div class="row">
	<div class="span16">
		<ul class="media-grid">
			<%= render @dogs %>
		</ul>
	</div>
</div>