<table id="folders" class="table table-striped table-bordered table-sm" id="folder-sort">
  <thead>
    <tr>
      <th>Name</th>
      <th>Created</th>
      <th>Access</th>
    </tr>
  </thead>
  <tbody id="folder_tbody">
    <%= render @folders %>
  </tbody>
</table>
