<h1><%= @title %></h1>

<% if is_admin? %>
  <p>
  <%= link_to "New Folder", new_folder_path, class: "btn btn-primary" %>
  </p>
<% end %>


<% if !@folders.nil? %>

  <%= render @folders %>

<% else %>
  <h3>No Folders Found</h3>
<% end %>


