<table class="table table-striped table-bordered table-condensed">
  <thead>
    <th>Name</th>
    <th>Phone</th>
    <th>E-mail</th>
    <th>Relationship</th>
    <th>When to Call</th>
  </thead>
  <%= render @adopter.references, :target => @adopter %>
</table>
