<table id="comments" class="table table-striped table-bordered table-condensed table-hover">
  <% @adopter.comments.each do |comment| %>
    <% if comment.id != nil %>
      <%= render 'comments/comment_read_only', :comment => comment %>
    <% end %>
  <% end %>
</table>
