<%= form_for(@adopter.adoptions.build(:adopter_id => @adopter.id),:html => {:id => "new_dog_link"}) do |ad| %>
  <fieldset>
    <div class="control-group">
      <%= ad.label :dog_id, "Associate Dog with Application", :class => "control-label" %>
      <div class="controls">
        <input id="autocomplete_label" name="adoption_dog_name" class='autocomplete'>
        <input id="adoption_dog_id" type="hidden" name="adoption[dog_id]" class='chosen-select'>
      </div>
    </div>
    <div><%= ad.hidden_field :adopter_id %></div>
    <div id="Navigation">
      <%= ad.submit "Link Dog", :id => "link_dog_submit",:class => "btn btn-small btn-primary" %>
    </div>
  </fieldset>
<% end %>
