<table class="table table-striped table-bordered table-condensed">
  <th>Pet Selections</th>
  <td>
    <%= form_for @adopter, format: :json, html: { class: 'form-horizontal' } do |f| %>
      <%= f.text_area :dog_name, rows: 5, cols: 40 %>
      <div id="status-icon" class=""></div>
    <% end %>
  </td>
  <tr>
    <th>Pet Requirements</th>
    <td><%= @adopter.dog_reqs %></td>
  </tr>
</table>
