<table class="table table-striped table-bordered table-condensed">
  <th>Dog Selections</th>
  <td><%= @adopter.dog_name %></td>
  <tr>
    <th>Dog Requirements</th>
    <td><%= @adopter.dog_reqs %></td>
  </tr>
</table>