<table class="profile" summary="Profile information">
	<tr>
		<td class="main">
			<h1>
				<%= @adopter.name %>
			</h1>
		<td class="sidebar round">	
			<strong>Name</strong> 	<%= @adopter.name %><br />
		</td>
	</tr>
</table>