<div class="container" id="badge_show">
    <div class="row">
        <div class="col-12">
        <h1 class="mt-3"><%= @badge.title %></h1>
        <%= link_to "Edit", edit_badge_path(@badge), class: "btn btn-primary" %>
        </div>
    </div>


    <div class="row">
        <div class="col-10">
            <%= image_tag(@badge.image.url(:thumb)) %>  <%= @badge.title %>
        </div>
    </div>
</div>
