
<ul>
  <% if @user.admin? %>
    <li>Can Admin System</li>
  <% else %>
    <li>Cannot Admin System</li>
  <% end %>

  <% if @user.edit_all_adopters? %>
    <li>Can Process All Applications</li>
  <% else %>
    <li> Cannot Process All Applications</li>
  <% end %>

  <% if @user.edit_my_adopters? %>
    <li>Can be Assigned Adoption Applications</li>
  <% else %>
    <li>Cannot be Assigned Adoption Applications</li>
  <% end %>

  <% if @user.complete_adopters? %>
    <li>Can set Adoption Applications to completed status.</li>
  <% else %>
    <li>Cannot set adoption applications to completed status.</li>
  <% end %>

  <% if @user.ban_adopters? %>
    <li>Can update the banned adopters list</li>
  <% else %>
    <li>Cannot update the banned adopters list</li>
  <% end %>

  <% if @user.edit_events? %>
    <li>Can create and edit events</li>
  <% else %>
    <li>Cannot create and edit events</li>
  <% end %>

  <% if @user.add_dogs?%>
    <li>Can add dogs and update the medical summary</li>
  <% else %>
    <li>Can not add dogs or update the medical summary</li>
  <% end %>

  <% if @user.edit_dogs?%>
    <li>Can edit all dogs</li>
  <% else %>
    <li>Can only edit dogs they are fostering</li>
  <% end %>

  <% if @user.is_foster? %>
    <li>Is a Foster</li>
  <% else %>
    <li>Is Not a Foster</li>
  <% end %>

  <% if @user.is_photographer? %>
    <li>OPH Photographer</li>
  <% else %>
    <li>Not an OPH Photographer</li>
  <% end %>

  <% if @user.writes_newsletter? %>
    <li>Newsletter Team</li>
  <% else %>
    <li>Not on Newsletter Team</li>
  <% end %>

  <% if @user.dl_resources? %>
    <li>Can Download Staff Resources</li>
  <% else %>
    <li>Cannot Download Staff Resources</li>
  <% end %>

  <% if @user.locked? %>
    <li><span class="label label-important">Account Disabled</span></li>
  <% else %>
    <li><span class="label label-success">Account Active</span></li>
  <% end %>
</ul>