<% if @users.any? %>
  <table class="table-striped table-bordered table-condensed" id="user-sort">
    <thead>
      <tr>
        <th>Name</th>
        <% if params[:translator] %>
        <th> Known Languages </th>
        <% end %>
        <th>Duties</th>
        <th>Phone</th>
        <th>Location</th>
        <% if params[:foster_mentor] == 'true' %>
          <th>Mentees</th>
        <% end %>
      </tr>
    </thead>
    <tbody id="users_tbody">
      <%= render @users %>
    </tbody>
  </table>
<% else %>
  <h3>No Records Found</h3>
<% end %>
