<div class="actions row">
  <div class="col">
    <%= f.submit "Submit", class: 'btn btn-primary mr-20' %>
    <%= link_to 'Cancel', return_path, class: 'btn btn-danger' %>
    <div class='invalid-feedback'>form cannot be saved due to errors</div>
  </div>
</div>
