<h1><%= t('.title') %></h1>
<% if can_edit_events? %>
<p>
( <%= link_to "Add an Event", new_event_path %> / 
<%= link_to "Past Events", "/events/past" %> )
</p>
<% end %>

	<% if @events.count > 0 %>
		<%= render @events %>	
	<% else %>
		<div class="row">
			<div class="col-12">
				<h3>No Events Scheduled</h3>
			</div>
		</div>
	<% end %>
