<div class="container">
  <div class="row title_row">
    <div class="col-md-12">
        <h1>New Event</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= render 'form' %>
    </div>
  </div>
</div>
