<h1><%= t('.title') %></h1>
<% if is_admin? %>
<p>
( <%= link_to "Add an Event", new_event_path %> / 
<%= link_to "Upcoming Events", events_path %> )
</p>
<% end %>

	<% if @events.count > 0 %>
		<%= render @events %>	
	<% else %>
		<div class="row">
			<div class="span12 offset2">
				<h3>No Past Events</h3>
			</div>
		</div>
	<% end %>
