<script>
    var redirectCallback = function() {
        window.location.href = "https://www.active.com/frederick-md/running/distance-running-races/4th-annual-fast-and-furriest-5k-1m-fun-walk-event-2018"
    };
    ga('send', 'pageview', {
        'hitCallback': redirectCallback
    });
</script>

<script type="text/javascript">
    // Redirect after 2 seconds in case the analytics call didn't finish
    window.setTimeout(redirectCallback, 2000);
</script>


<div class="row-fluid">
  <div class="span10">

    <h1>4th Annual Fast and Furriest Registration</h1>

    <p>Redirecting to you our <a hef="https://www.active.com/frederick-md/running/distance-running-races/4th-annual-fast-and-furriest-5k-1m-fun-walk-event-2018">registration page</a>.</p>

  </div>
</div>
