<div class="row-fluid">
	<div class="span10">

		<h1>Our Story</h1>
		
			<p>Operation Paws for Homes, Inc. rescues dogs of all breeds and ages from high-kill shelters reducing the numbers being euthanized.  Most of our dogs come from rural shelters in South and North Carolina.  With limited resources, the shelters are forced to put down anywhere between 50% and 90% of the animals that come in the front door.  We also partner with shelters located in Virginia and Maryland.  Our organization provides pet adoption services to families located in Virginia, Washington DC, Maryland, Southern Pennsylvania and neighboring states. </p>

			<p>OPH does not operate a shelter or have a physical location.  We rely on foster families who open their homes to give love and attention to each dog before finding a forever home.  Through the foster care program, we are able to learn about each dog and their needs and we provide their potential and future adopters with this information.  We believe in responsible adoptions and strive to work with each adopter to find a good match for their home and lifestyle.  </p>

			<p>Operation Paws for Homes, a 501(c)(3) organization, is 100% donor funded.  We receive no funding from federal, state, or county governments. As a result, we rely on donations and our adoption fees in order to save the dogs in need that join our rescue organization.</p>

			<p>Our goal is to fulfill the dreams of dogs who find themselves abandoned in shelters.  Sadly, without our help, all of these adoptable animals would face almost certain euthanasia - usually within days or hours of arriving at the shelter.  Each year we take in hundreds of wonderful animals who were left at shelters by no fault of their own. We work hard to unite them with forever families who will give them the life and love they deserve.  Without the dedication of our incredible adopters, fosters, donors, and volunteers, we would be unable to fulfill this dream.  </p>
	
	</div>
</div>