<div class="row-fluid">
  <div class="span12">
    <h1>About Us</h1>
  </div>
</div>

<div class="row-fluid">
  <div class="span8">
    <div class="article">
      <br/>

      <h3>About Our Organization</h3>

      <p>Operation Paws for Homes is a 501(c)3 nonprofit organization devoted to the rescue, rehabilitation and placement of dogs who have overcome great odds and deserve wonderful, caring forever homes.
      These dogs are rescued from overcrowded high kill shelters in the southern region of the United States, primarily shelters in South and North Carolina, as well as Virginia. We partner with local shelters as needed.
      We also rescue a few international dogs partnering with shelters and rescues  in India and Turks & Caicos who rescue dogs from dangerous and deplorable conditions .</p>

      <p>Our organization is volunteer-powered by a dedicated group of animal lovers who have seen the horrors and
      sad fate of dogs who find themselves abandoned and left to fend for themselves in the world.
      At the rural shelters, the staff faces everyday challenges of few adopters, underdeveloped spay/neuter programs in their counties, and (in many instances)
      an uneducated population that does not understand the need to spay/neuter or  engage in rescue activities.  With limited resources and few adoptions locally,
      the shelters are forced to put down 50% - 90% of their dogs.</p>

      <p>After visiting these facilities and seeing the heartache on the faces of the shelter staff and the dogs in their care, we started OPH to help give these deserving dogs a second chance.  We have some of the best shelter and rescue partners!  There is no better feeling than pulling out of the shelter’s parking lot with 25 lucky dogs who are being given a new lease on life!  In doing so - we give hope to these amazing Shelter Partners that  the dogs they have cared for will find forever homes.  In fact, part of our mission is to support these facilities through donations  guidance, and resources.</p>

      <p>OPH does not operate a shelter or have a physical location. We rely on foster families who open their homes to give love and attention to each dog while it waits for a forever home. In addition, we partner with wonderful boarding facilities who care for our rescue dogs.  Through the foster program and our partners, we learn about each dog and its needs.  These dogs have been through a lot and it  may take days or weeks to allow their personality to completely unfold .  We strive to provide as many details as possible to potential and future adopters which increases the likelihood of a good match for each dog and family.</p>

      <h3>About Our Adoptions</h3>

      <p>Our organization provides pet adoption services to families located in Virginia, Washington DC, Maryland, Southern Pennsylvania and neighboring states.  We believe in responsible adoptions and strive to work with each adopter to find a good match for their home and lifestyle.  Our adoption process includes completion of an application, a review of reference checks, vet checks, an interview and a personal “meet and greet” where the family can meet and interact with their potential new four-legged family member.  Throughout this process, we work to ensure each family and dog are the right fit for each other.</p>

      <p>We are fortunate to have some wonderful and active volunteers who help OPH find forever homes for over 1,000 dogs a year.  The key to that statement is - volunteer!  Please remember that our organization is driven by caring individuals who give their personal time to help rescue these dogs and provide them with the opportunity to find an amazing future!  In addition to adoptions, volunteers carry out education and outreach events throughout the area, and conduct donation drives for our partner shelters in the south.</p>

      <p>Our goal is to offer a second chance to dogs  abandoned in shelters and out of time. Sadly, without our help, all of these adoptable animals would face almost certain euthanasia - usually within days or hours of arriving at the shelter. Each year we rescue hundreds of wonderful dogs.    We work hard to unite them with forever families who will give them the life and love they deserve. These dogs are saved only because of the dedication  of our incredible adopters, fosters, donors, and volunteers.</p>

      <h3>About our Funding</h3>

      <p>OPH is 100% donor funded. We receive no funding from federal, state, or county governments. As a result, we rely on the generous donations from our supporters and the adoption fees for each dog in order to save the dogs in need that join our rescue organization.  In addition, we have a hard working Grant Team who reaches out to organizations who provide grants for rescue animals.  Without these vital funds, we could not continue our mission to make a positive difference in the lives of the dogs - and the people - who we save.  Together We Rescue.</p>
    </div>
      <br/>
      <%= image_tag "gnp-2015-award.png", alt: "2016 Top-rated nonprofits and charities" %>
      <%= image_tag "gnp-2016-award.png", alt: "2016 Top-rated nonprofits and charities" %>
      <%= image_tag "gnp-2017-award.png", alt: "2017 Top-rated nonprofits and charities" %>
      <%= image_tag "gnp-2018-award.png", alt: "2018 Top-rated nonprofits and charities" %>
  </div>
</div>
