<div class="row-fluid">
	<div class="span10">

		<h1>Our Story</h1>
		
		<p>Operation Paws for Homes, Inc. rescues dogs of all breeds and ages from high-kill shelters 
		reducing the numbers being euthanized daily.  We provide foster homes where they can get the 
		love and attention needed before finding their forever homes.  Our organization provides pet adoption services in 
		Virginia, Washington DC, Maryland, and parts of Southern Pennsylvania. Operation Paws for Homes, a 501(c)(3) 
		organization, is 100% donor funded and could not save these dogs and fulfill their dreams of being united with their 
		forever families, without the dedication of our incredible adopters, fosters, donors and volunteers.  Sadly, without our help, 
		all of these adoptable animals would face almost certain euthanasia - usually within days or hours of arriving at 
		the shelter. Each year we take in hundreds of wonderful animals who were left at shelters by no fault of their own. 
		</p>
		<br />

		<div class="span12">
		  <address>
			<strong>Operation Paws for Homes, Inc.</strong><br />
			P.O. Box 90813<br />
			Alexandria, VA 22309<br />
			Fax: (804) 302-7975
		  </address>
		</div>
	
	</div>
</div>