<div class="container-fluid">
  <div class="row">
    <div class="col-sm-11 offset-sm-1 col-md-11 offset-md-1 col-lg-11 offset-lg-1">
      <div class="pages">
        <h1>Adoption Fee Payments</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9 offset-sm-1 col-md-9 offset-md-1 col-lg-8 offset-lg-1">
      <div class="article pages">

        <p>Please make your adoption fee payment using the payment link in your meet and greet email. </p>

        </div>
    </div>
  </div>

</div>
