<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 offset-sm-1 col-md-9 offset-md-1 col-lg-8 offset-lg-1">
      <div class="article pages">

        <h3>Seeking Contributions for OPH Auction</h3>

        <p>OPH’s 3rd annual Autumn Online Auction is approaching, Oct. 31 – Nov. 7, 2021.</p>

        <p>Donated items must be received no later than September 30.</p>

        <h5>Donate and Make a Difference</h5>

        <p>Last year OPH found homes for more than 1,600 abandoned dogs and cats, bringing the total of lives saved to over 10,000 in the past decade!</p>

        <p>The auction is one of OPH’s largest fundraisers, essential to the operations of our rescue! Transport, supplies and medical expenses alone cost nearly $300,000 each year.</p>

        <p>Donating an item for the annual auction is another way to contribute to these expenses and help OPH rescue, care for and place more pets in their forever homes.
        Donated items are posted to the auction with photos, a description of the item and donor's business and website link. Last year's auction had over 35,000 page views!</p>

        <p>Contact us at <a href="mailto:auction@ophrescue.org">auction@ophrescue.org</a> and let us know what you’ve got and we’ll follow up!</p>

        <a href="mailto:auction@ophrescue.org" class='btn btn-primary btn-large'>Contact Us</a>

      </div>
    </div>
  </div>

  <div class="row pt-3">
    <div class="col-md-4 offset-1">
      <h5>What kinds of things make good auction items?</h5>
        <ul>
          <li>Gift certificates to restaurants, retail and online stores</li>
          <li>Tickets to sports or entertainment events</li>
          <li>Vacation rentals</li>
          <li>Art work</li>
          <li>Luxury items</li>
          <li>Hand crafted items</li>
          <li>Skills and services</li>
          <li>Re-gift a new, unwanted item</li>
          <li>Coveted or unique dog and cat supplies</li>
        </ul>
    </div>
    <div class="col-md-4 offset-1">


      <%= image_tag 'auction-dog.jpg' %>
    </div>
  </div>

  <div class="row pt-3">
    <div class="col-md-4 offset-1">
      <%= image_tag 'auction-cat.jpg' %>
    </div>
    <div class="col-md-4 offset-1">
      <h5>How can you help?</h5>
        <ul>
          <li>Contribute an item or gift certificate</li>
          <li>Reach out to your friends, neighbors, and local businesses for auction items; share this page</li>
          <li>Suggest a business or person we should contact</li>
          <li>Join the auction team and help out with logistics, marketing, graphics, and seeking donations.</li>
        </ul>
        <a href="mailto:auction@ophrescue.org" class='btn btn-primary btn-large'>Contact Us</a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9 offset-sm-1 col-md-9 offset-md-1 col-lg-8 offset-lg-1">
      <div class="article pages">

        <p>Operation Paws for Homes is a 501(c)(3) nonprofit. Your donation is tax-deductible to the extent allowed by law.  Donated items are posted to the auction with photos, a description of the item and donor's business and website link. Last year's auction had over 35,000 page views!</p>

        <p><strong>Donated items must be received no later than September 30.</strong></p>

      </div>
    </div>
  </div>

</div>
