<div class="row-fluid">
  <div class="span12">
    <div class="article">

    <h1>Community Partnerships</h1>

    <p>To truly make strides towards ending the overpopulation of animals in the United States,
    OPH understands that we need to do more than adopt – we need to partner with the
    Rescue World to educate, stop the cycle, and help.  To reach these goals, OPH has
    formed some incredible partnerships with organizations.  Please take a moment to
    get to know some of the Movers and Shakers, and Programs that OPH participates
    in.  We are always looking for volunteers to help us increase our efforts and to provide
    additional support to these Partners and our goal to end the overpopulation of animals
    in the U.S. </p>

    <p><strong><a href="http://www.brvbb.com/index.pml">Blue Ridge Blood Bank</a></strong> - This Blood Bank fields calls from across the continent from
    Veterinarians needing blood to perform lifesaving blood transfusions on dogs.  OPH is
    proud to support the incredible efforts of the Blood Bank and is honored that Adopted
    OPH dogs given regularly to this amazing cause.  Please check out their website to see
    how your dog can become a True Lifesaver!</p>

    <p><strong><a href="http://www.fidosforfreedom.org/">Fidos for Freedom</a></strong> - This ADI accredited program is providing a wonderful service to those in need. Fidos For Freedom raises and trains service dogs to assist adults and veterans with disabilities live more independent lives. They also provide therapy dogs that visit hospitals, nursing homes and special needs schools.</p>

    <p><strong><a href="http://www.hopedogs.org/">HOPE</a></strong>- HOPE (Hounds of Prison Education) is a non-profit service
    that helps homeless dogs receive training to prepare them for adoption by a forever
    home!  Integracare (a network of assisted living facilities) contracts with HOPE to train
    low-key dogs for placement into an assisted living facility where they will enjoy life with
    100+ dotting moms and dads!  OPH is proud to work with these organizations to bring
    years of happiness to several moms and dads.</p>

    <p><strong><a href="http://www.mdpetgazette.com/">Maryland Pet Gazette</a></strong> - Maryland Pet Gazette promotes animal education and awareness to over 320,000 readers annually. </p>

    <p><strong><a href="http://www.semperk9.org/">Semper K9</a></strong> - This public charity is making a difference in the lives of wounded, critically-ill and injured members of the U.S. Armed Forces. Semper K9 provides Assistance Dogs to these individuals by training rescue dogs from shelters and other rescue groups.</p>

    <p><strong><a href="http://unchaincc.com/">Unchain Cumberland</a></strong> - This organization is working to make a big impact on the root
    of the pet overpopulation problem – Spay and Neuter!  We are proud to support the
    amazing work being done at Unchain Cumberland and thank the amazing individuals
    who are working to change the mindset of families who need some extra nudging to
    spay and neuter their animals.</p>

    <p><strong><a href="http://www.humanesociety.org/issues/spay_day/">World Spay Day</a></strong> – This is a national movement we are proud to participate in!  Each
    year, OPH sponsors the spay/neuter of dogs whose families are unable to afford the
    cost of the procedure.  It’s an amazing opportunity to make a direct impact on the
    overpopulation of unwanted dogs in America.  We always need volunteers to help greet
    families, screen applications and assist in the Day Of festivities.</p>

    <h1>Associations</h1>

    <p><strong><a href="http://www.heartwormsociety.org/">Heartworm Society of America</a></strong></p>

    <p><strong><a href="http://www.vaashelters.com/">Virginia Alliance for Animal Shelters</a></strong></p>

    <p><strong><a href="http://www.cpaa.info/">Central Pennsylvania Animal Alliance (CPAA)</a></strong></p>

    <p><a href="http://generationwags.com/pawsitive-action-alliance"><%= image_tag "pawsitiveaa.jpg" %></a></p>



      <h1>Event Hosts</h1>

      <p><strong><a href="http://us.petvalu.com/location/5213">PetValu Clifton, VA</a></strong> – The wonderful staff at Clifton Pet Valu have been so great to OPH
      dogs and volunteers!  Stop in to Pet Valu and they will be happy to assist in finding the
      best food, discovering the next best thing to a tennis ball, or selecting an outfit for your
      pet!</p>

      <p><strong><a href="http://thedogparkva.biz/">The Dog Park</a></strong> – This Dog Boutique is the It Place for dogs to be spotted in Old Town
      Alexandria!  Stop in and meet the entire staff at The Dog Park, located on King Street in
      downtown Alexandria.  While you are there, don’t forget to let your Four Legged Friend
      sample some of the yummy treats offered for sale!</p>

      <p><strong><a href="http://barknatural.com/">Barks</a></strong> – Located in Pikesville, Maryland, this Barks location has been a longtime
      supporter of OPH and our Maryland based dogs!</p>

      <p><strong><a href="http://petvalu.com/location/5030">PetValu Pasadena, MD</a></strong> - The PetValu in Pasadena, MD has been one of the most generous
      and supportive event hosts that OPH could hope for in our mission to rescue dogs.  They have assisted us in fundraising by matching what we raise and
      have been extremely generous in donating supplies for the dogs in foster care.</p>

      <p><strong><a href="http://www.petco.com/content/locator/Details.aspx?storeId=2724&Nav=2">Petco Glen Burnie, MD</a></strong> - The Petco in Glen Burnie, MD
      is a terrific site for community outreach and adoption events.  We will be participating in their Mega Adoption Event weekend on September 21st.
      The Petco is very generous and supportive of adopters by providing discounts on necessary items and providing dog obedience classes.</p>

      <p><strong><a href="http://stores.petsmart.com/1817">PetSmart Abingdon, MD</a> - </strong>The PetSmart in Abingdon, MD has a very supportive staff that is always excited to host an OPH event. They have been very generous with their monthly donation of supplies for the dogs in foster care. PetSmart also donates funds to OPH for each dog that is adopted at an event they host.</p>

      <p><strong><a href="http://www.uptownpetboutique.com/">Uptown Pet Bistro and Boutique</a></strong> - Uptown Pet Bistro and Boutique is one of our most popular event locations in Fairfax, VA. This unique boutique is a great place to find one of a kind items for your pampered pet. The Boutique owner is extremely knowledgeable about organic dog food, treats and supplements. Be sure to stop by and take advantage of Uptown Pet Bistro and Boutique's customer appreciation sales!</p>

      <h1>Boarding Facilities</h1>

      <p><strong><a href="http://www.dogtalesdaycare.com/">Dog Tales Daycare</a></strong> - Chantilly, VA</p>
      <p><strong><a href="http://www.wholedogz.com/"><%= image_tag "sponsors/whole-dogz.png", size: "120x120" %></a>  <a href="http://www.wholedogz.com/">Whole Dogz</a></strong> - Alexandira, VA</p>
      <p><strong><a href="http://www.royalpethaven.com/">Royal Pet Haven LLC</a></strong> - Alexandria, VA </p>
      <p><strong><a href="http://dogwoodhillkennels.com/">Dogwood Hill Kennels</a></strong> -  Reva, VA</p>
      <p><strong><a href="http://www.oldetownepetresort.com/">Olde Towne Pet Resort</a></strong> - Springfield, VA - Rockville, MD - Sterling, VA</p>
      <p><strong><a href="http://www.countrycomfortkennels.com/"> Country Comfort Kennels</a></strong> - Delta, PA</p>
      <p><strong><a href="https://www.cozycaninepa.com/">Cozy Canine LLC</a></strong> - Fairfield, PA</p>
      <p><strong><a href="http://www.dpncc.com/">Dog Paws 'n Cat Claws Pet Care</a></strong> - Bailey's Crossroads, VA</p>
      <p><strong><a href="http://www.lakesidepetresort.com/">Lakeside Pet Resort</a></strong> – Hanover, PA </p>
      <p><strong><a href="https://www.bestfriendsfurever.com/">Best Friends Fur Ever</a></strong> - Joppa, MD</p>
      <p><strong><a href="http://countryclubkennels-south.com/">Country Club Kennels South</a></strong> - Locust Grove, VA</p>
      <p><strong><a href="http://www.willowrunkennels.net/">Willow Run Kennels</a></strong> - Linden, VA</p>




      <h3>Local Businesses</h3>

      <p><a href="http://www.gaithersburg.homewoodsuites.com"><img src="/assets/sponsors/homewood_suites.jpg"</a></p>

      <p><strong><a href="http://pawsofhanover.com/">Paws Animal Hospital</a></strong> – Jessica and the wonderful staff at Paws in Hanover, PA have
      been long time supporters of OPH!  We couldn’t be more grateful.  Paws provides high
      quality veterinary medicine in a friendly, welcoming environment.</p>

      <p><strong><a href="https://www.vetmtairy.com/">P.A.W. Veterinary Clinic</a></strong> - Mount Airy, MD - Dr. Crystal Brobst-Wormell </p>

      <p><strong><a href="http://www.piedmontpetsvet.com/">Piedmont Pets Veterinary Care</a></strong> – A heartfelt thank you to Dr. Lutz and her wonderful
      staff in Warrenton, VA who have been so kind and compassionate to many OPH dogs
      over the years.  Dr. Lutz was our first partner in treating heartworm disease.  Thanks to
      her excellent care, the dogs who came in suffering from heartworm are given a chance
      at life that would not have been possible years ago!</p>

      <p><strong><a href="http://pawsibilitiescollars.com/">Pawsibilities Collars for Dogs!</a></strong> – Looking for fashionable accessories for your dog?
      Look no more!  This website has amazing products available for the hip dogster.  They
      are also amazing supporters of OPH and help us in our mission to save dogs!</p>

      <p><strong><a href="http://otsfd.com">Olde Towne School for Dogs</a></strong> – The wonderful staff at Olde Towne School for Dogs
      has been longtime supporters of OPH and our Virginia based endeavors.  Stop in and
      ask for help in finding a great food for your pup!</p>

      <p><strong><a href="http://www.alwaystherehorsecare.com">Malena Brisbois, LVT - Always There Horse Care</a></strong></p>

      <p><strong><a href="http://manassas.anicira.org/">Anicira</a></strong> - Manassas, VA </p>

      <p><strong><a href="https://blueridgevets.com/">Blue Ridge Veterinary Associates </a></strong> - Purcellville, VA <p>

      <p><strong><a href="http://www.valuevet.net/">Value Vet</a></strong> - McLean, VA </p>

      <p><strong><a href="http://www.capehornvet.com/">Cape Horn Veterinary Associates</a></strong> - Red Lion, PA </p>

      <p><strong><a href="http://www.clearviewah.com/">Clearview Animal Hospital</a></strong> - Hanover, PA </p>

      <p><strong><a href="http://palmyraac.com/">Palmyra Animal Clinic</a></strong> - Palmyra, PA </p>

      <p><strong><a href="http://spaynow.com/">Spay Now Animal Surgery Clinic</a></strong> - Laurel, MD &amp; Grasonville, MD</p>





  </div>
  </div>
</div>
