<div class="row-fluid">
  <div class="span12">
    <h1>Contact Us</h1>

    <div class="span8">

      <p><strong>General Information:</strong> <a href="mailto:info@ophrescue.org">info@ophrescue.org</a></p>
      <p><strong>Main Line</strong> <span class="tel value">703-344-7320</span></p>
      <p><strong>Adoptions:</strong> <a href="mailto:adopt@ophrescue.org">adopt@ophrescue.org</a></p>
      <p><strong>Volunteer Information:</strong> <a href="mailto:volunteer@ophrescue.org">volunteer@ophrescue.org</a></p>
      <p><strong>Special Events:</strong> <a href="mailto:events@ophrescue.org">events@ophrescue.org</a></p>
      <p><strong>Medical Records Fax:</strong> 717-620-4313</p>

      <br />

      <address>
      <strong>Operation Paws for Homes, Inc.</strong><br />
      P.O. Box 90813<br />
      Alexandria, VA 22309<br />
      Fax: (804) 302-7975 <br />

      </address>

      <h3>Fostering</h3>

      <p>Please visit our <a href="/foster">foster information page</a> and complete an application.  Once completed, our Foster Coordinator will reach out to talk about saving a life!</p>


      <h3>Volunteering</h3>
      <p>OPH depends on caring volunteers who can participate in our mission of saving dogs in need.  We have several wonderful volunteer opportunities and would love help!  Please contact our Volunteer Team at <strong>volunteer@ophrescue.org</strong> or visit our <a href="/volunteer">volunteer page</a>. </p>

      <h3>Donations and Financial Contributions</h3>

      <p>Please see our <a href="/donate">Donation</a> page.</p>

      <h3>Spay Neuter Policy Questions</h3>

      <p>Do you have a question about our spay/neuter policy?  Do you have a receipt to submit for your spay/neuter deposit?  If so, please contact our Spay Neuter Coordinator at <strong>ophspayneuter@gmail.com</strong>.</p>

      <h3>Stay Connected with OPH Rescue</h3>

      <p>We enjoy hearing from our adopters and supporters, so please join us via social media.</p>

      <ul>
        <li><a href="https://www.facebook.com/Operationpawsforhomes">Facebook</a></li>
        <li><a href="https://twitter.com/RescueOPH">Twitter</a></li>
        <li><a href="http://instagram.com/operationpawsforhomes">Instagram</a></li>
        <li><a href="http://pinterest.com/ophrescue">Pintrest</a></li>
      </ul>

    </div>

  </div>
</div>
