<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 offset-1 col-md-8 offset-1 col-lg-8 offset-1">
      <div class="article pages">
        <h1>Contact Us</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 offset-1 col-md-8 offset-1 col-lg-8 offset-1">
      <div class="article pages">
        <ul class="list-unstyled">
          <li><strong>General Information:</strong> <a href="mailto:info@ophrescue.org">info@ophrescue.org</a></li>
          <li><strong>Main Line</strong> <span class="tel value">703-344-7320</span></li>
          <li><strong>Adoptions:</strong> <a href="mailto:adopt@ophrescue.org">adopt@ophrescue.org</a></li>
          <li><strong>Volunteer Information:</strong> <a href="mailto:volunteer@ophrescue.org">volunteer@ophrescue.org</a></li>
          <li><strong>Special Events:</strong> <a href="mailto:events@ophrescue.org">events@ophrescue.org</a></li>
          <li><strong>Medical Records Fax:</strong> 717-620-4313</li>
          <li><strong>General Fax:</strong> (804) 302-7975</li>
        </ul>

        <%= render template: "shared/_oph_mailing_address" %>

        <h3>Fostering</h3>

        <p>Please visit our <a href="/foster">foster information page</a> and complete an application.
        Once completed, our Foster Coordinator will reach out to talk about saving a life!</p>

        <h3>Volunteering</h3>

        <p>OPH depends on caring volunteers who can participate in our mission of saving dogs and cats in need.
        We have several wonderful volunteer opportunities and would love help!  Please contact our Volunteer
        Team at <strong>volunteer@ophrescue.org</strong> or visit our <a href="/volunteer">volunteer page</a>.</p>

        <h3>Donations and Financial Contributions</h3>

        <p>Please see our <a href="/donate">Donation</a> page.</p>

        <h3>Spay Neuter Policy Questions</h3>

        <p>Do you have a question about our spay/neuter policy?  Do you have a receipt to submit for your spay/neuter
        deposit?  If so, please contact our Spay Neuter Coordinator at <strong>ophspayneuter@gmail.com</strong>.</p>

        <h3>Stay Connected with OPH Rescue</h3>

        <p>We enjoy hearing from our adopters and supporters, so please join us via social media.</p>

        <ul>
          <li><a href="https://www.facebook.com/Operationpawsforhomes" target="_blank" rel="noopener">Facebook</a></li>
          <li><a href="https://twitter.com/RescueOPH" target="_blank" rel="noopener">Twitter</a></li>
          <li><a href="http://instagram.com/operationpawsforhomes" target="_blank" rel="noopener">Instagram</a></li>
          <li><a href="http://pinterest.com/ophrescue" target="_blank" rel="noopener">Pintrest</a></li>
          <li><a href="https://www.youtube.com/user/RescueOPH" target="_blank" rel="noopener">YouTube</a></li>
        </ul>

      </div>
    </div>
  </div>
</div>
