<div class="row-fluid">
	<div class="span12">
		<h1>Contact Us</h1>

		<div class="span8">


		 	<p><strong>General Information:</strong> operationpawsforhomes@gmail.com</p>
		 	<p><strong>Adoptions:</strong> adopt@ophrescue.org</p>

		  <br />

		  <address>
			<strong>Operation Paws for Homes, Inc.</strong><br />
			P.O. Box 90813<br />
			Alexandria, VA 22309<br />
			Fax: (804) 302-7975 <br />

		  </address>
		</div>
		
	</div>
</div>