<div class="row-fluid">
	<div class="span12">
		<h1>Contact Us</h1>

		<div class="span8">


		 	<p><strong>General Information:</strong> operationpawsforhomes@gmail.com</p>
		 	<p><strong>Adoptions:</strong> adopt@ophrescue.org</p>

		  <br />

		  <address>
			<strong>Operation Paws for Homes, Inc.</strong><br />
			P.O. Box 775<br />
			Middleburg, VA 20117<br />
			Fax: (804) 302-7975 <br />

		  </address>

		  <h3>Fostering</h3>

		  <p>Please visit our <a href="/foster">foster information page</a> and complete an application.  Once completed, our Foster Coordinator will reach out to talk about saving a life!</p>


		  <h3>Volunteering</h3>
		  <p>OPH depends on caring volunteers who can participate in our mission of saving dogs in need.  We have several wonderful volunteer opportunities and would love help!  Please contact our Volunteer Team at <strong>volunteer@ophrescue.org</strong> or visit our <a href="/volunteer">volunteer page</a>. </p>

		  <h3>Donations and Financial Contributions</h3>

		  <p>OPH depends on the generous donations of individuals in order to help save the lives of dogs in need.  All donations are used to save more dogs and to provide the medical care and treatment of each dog we bring into the rescue.  If you are interested in donating, please donate via <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=donate%40ophrescue%2eorg&lc=US&item_name=Operation%20Paws%20for%20Homes&no_note=0&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHostedGuest">paypal</a> or contact us at <strong>donate@ophrescue.org</strong> for specific questions.</p>

		  <h3>Spay Neuter Policy Questions</h3>

		  <p>Do you have a question about our spay/neuter policy?  Do you have a receipt to submit for your spay/neuter deposit?  If so, please contact our Spay Neuter Coordinator at <strong>ophspayneuter@gmail.com</strong>.</p>

		  <h3>Stay Connected with OPH Rescue</h3>

		  <p>We enjoy hearing from our adopters and supporters, so please join us via social media.</p>

		  <ul>
		  	<li><a href="https://www.facebook.com/Operationpawsforhomes">Facebook</a></li>
		  	<li><a href="https://twitter.com/RescueOPH">Twitter</a></li>
		  	<li><a href="http://pinterest.com/ophrescue">Pintrest</a></li>
		  </ul>

		</div>
		
	</div>
</div>