<div class="row-fluid">
	<div class="span12">
		<div class="article">

		<h1>Sponsors & Contributors</h1>

		<p>Operation Paws for Homes is a 501(c)(3) organization and is 100% donor funded.
		OPH receives no funding from federal, state, or county governments.  As a result, OPH 
		Rescue relies on generous donations and the adoption fees of our dogs to help in our 
		mission of saving dogs from shelters and finding them forever homes!</p>

		<h2>Sponsors</h2>

		<p>OPH Rescue would like to express our deep gratitude to the businesses and individuals
		who support our mission by becoming OPH Sponsors!  These contributors help us to 
		save the amazing dogs we find huddled in a shelter, running out of time in a kennel run, 
		or overlooked because of their fear for being abandoned in an unknown place and give 
		them the opportunity to find caring, loving forever homes.  Saying thank you doesn’t 
		seem to be enough for the support, but we do know it is a great start!</p>


		<h3>Big Dog Sponsors</h3>

			<address>
				<strong><a href="http://lawyersadvantage.com/">Lawyers Advantage</a></strong> <br>
				8000 Main Street<br>
				Ellicott City, MD 21043<br>
			</address>

			<address>
				<strong><a href="http://www.jezwater.com/">JezWater</a></strong>
			</address>

			<address>
				<strong>Emerald Title and Escrow</strong> <br>
				Gaithersburg, MD <br>
				301-947-9080 <br>
			</address>

			<address>
				<strong>DVM Professional Corp</strong> <br>
				Burke, VA <br>
			</address>

			<address>
				<strong><a href="http://www.hermandorfer.com">Hermandorfer & Associates</a></strong> <br>
				Long & Foster  <br>
				6045 Burke Centre Parkway  <br>
				Burke, VA 22015  <br>
			</address>


			<address>
				<strong><a href="www.mooreconstructiongroup.com">Moore Construction Group</a></strong> <br>
			1-888-48-MOORE
			</address>

			<address>
				<strong><a href="www.parkwayvetclinic.com">Parkway Vet Clinic</a></strong> <br>
				5743 Burke Centre Parkway <br>
				Burke, VA 22015-2204 <br>
			</address>

			<address>
				<strong><a href="http://novapetvet.com/">Northern Virginia Veterinary Associates</a></strong> <br>
				Area hospitals with locations in Centreville, Chantilly, Fairfax Station, and Falls Church.<br>

			</address>

			<address>
				<strong><a href="http://www.fvcbank.com/">First Virginia Community Bank</a></strong> <br>
				Community bank with locations in Manassas, Reston, Arlington, and Fairfax, Virginia.<br>

			</address>

			<address>
				<strong><a href="http://www.caringhandsvet.com/">Caring Hands Animal Hospital</a></strong> <br>
				Full service veterinary in Alexandria, Arlington, Ashburn, Bristow, and Centreville, VA<br>
				
			</address>

			<address>
				<strong><a href="http://www.hopecenter.com/">The Hope Center</a></strong> <br>
				140 Park St SE  <br>
				Vienna, VA 22180<br>
				(703) 281-5121<br>
			</address>

			<address>
				<strong><a href="http://www.petvalu.com/">PetValu</a></strong> <br>
				5750 Union Mills Road <br>
				Clifton, VA 20124<br>
				(703) 266-3696 <br>
			</address>

			<address>
				<strong><a href="http://www.sunsetpetservices.com/">Sunset Pet Services</a></strong> <br>
				5521 Vine St  <br>
				Alexandria, VA 22310 <br>
			</address>

			<address>
				<strong><a href="http://vitacoco.com/">Vita Coco</a></strong> <br>
			</address>

			<address>
				<strong><a href="http://www.forpetssakeofalexandria.com/">For Pets Sake</a></strong> <br>
				1537 N Quaker Ln<br>
				Alexandria, VA 22302<br>
				(703) 931-2600 <br>
			</address>


		<h3>Medium Dog Sponsors</h3>

			<address>
				<strong><a href="http://www.valleyenergy.org/">Valley Energy</a></strong><br>
				Purcellville, VA <br>
			</address>

			<address>
				<strong><a href="http://www.outdoorhomecenter.com/">Outdoor Home Center </a></strong><br>
				Manassas, VA <br>
			</address>

			<address>
				<strong><a href="http://www.bankersinsurance.net/">Bankers Insurance</a></strong><br>
				Fairfax, VA  <br>
			</address>

			<address>
				<strong><a href="http://www.novec.com/">NOVEC</a></strong><br>
			</address>

			<address> 
				<strong><a href="http://www.americandisposal.com">American Disposal Services</a></strong> <br>
				P.O. Box 1326 <br>
				Centerville, VA 20122 <br>
			</address>

			<address>
				<strong><a href="http://www.kavaliro.com">Kavaliro</a></strong> <br>
				Kavaliro is a full-service staffing agency specializing in technology. <br>
			</address>

			<address>
				<strong><a href="http://www.clocktowervets.com">Clocktower Vets</a></strong> <br>
				2451 Centreville Road <br>
				Herndon, Virginia 20171 <br>
				703-713-1200 <br>
			</address>

			<address>
				<strong>Jonathan and Kelly Carmack</strong> <br>
				Proud parents of Misha (formerly Tiara while a foster dog with OPH!) <br>
			</address>

			<address>
				<strong><a href="http://novapetvet.com/centreville-square-animal-hospital">Centreville Square Animal Clinic</a></strong> <br>
				Centreville, Virginia  <br>
			</address>

			<address>
				<strong><a href="http://www.onestepabovellc.com/">One Step Above</a></strong> <br>
				York, PA<br>
			</address>


			<address>
				<strong><a href="http://www.yourdogsbestfriends.com/">Your Dog’s Best Friends Doggie Daycare</a></strong> <br>
				Alexandria, Virginia<br>
			</address>

			<address>
				<strong><a href="http://www.academydoor.com/">Academy Door and Control Corp</a></strong> <br>
				Chantilly, Virginia <br>
			</address>

			<address>
				<strong>Matthew Shepard and James Johnson</strong> <br>
			</address>

			<address>
				<strong><a href="http://phyllispatterson.com/">Phyllis Patterson Real Estate</a></strong> <br>
				Alexandria, Virginia <br>
			</address>

			<address>
				<strong>Ann Brody Cove</strong> <br>
			</address>

			<address>
				<strong><a href="http://wesellsportinggoods.com/">W.E. Sell Sporting Goods</a></strong> <br>
				Hanover, PA <br>
			</address>

			<address>
				<strong><a href="http://www.popchips.com/">PopChips</a></strong> <br>
			</address>

			<address>
				<strong><a href="http://sitmeanssit.com/dog-training-mu/fairfax-dog-training/">Sit Means Sit</a></strong> <br>
			</address>

			<address>
				<strong><a href="http://www.thedogparkva.biz/">The Dog Park Boutique</a></strong> <br>
				Alexandria, Virginia <br>
			</address>

			<address>
				<strong><a href="http://www.otsfd.com/">Old Towne School for Dogs</a></strong> <br>
				Alexandria, Virginia <br>
			</address>


			<h2>Contributors</h2>

			<p>Many businesses and professionals give their time, space, resources and discounted 
			fees to assist us in our mission of saving dogs.  They are partners with OPH and – 
			without their support – we could not continue to rescue dogs, help find forever homes 
			for the dogs, and work to end the influx of unwanted dogs into rural shelters in the 
			South.  It’s hard to imagine how many moving parts and pieces go into a “rescue” of 
			a dog.  You have shown our rescued dogs and our team of incredible volunteers 
			that creating a village of dog lovers who will work for a common goal is something 
			obtainable!</p>


			<h3>Photographers</h3>

			<p>A special thank you to our wonderful photographers who donate their time and talent to 
			help showcase the adorableness of our pooches!  We appreciate their incredible photos 
			and know that several dogs have found forever homes thanks to their efforts! Be sure to visit Allen and Michael’s websites to see their beautiful photographs, learn 
			more about the amazing pet portraits they can create for you, and to follow their Doggie 
			Blogs.</p>

			<strong><a href="http://www.allenpearsonsphotos.com/-/allenpearsonsphotos/">Allen Pearson</a></strong> <br>
			<strong><a href="http://michaelgarth.com/">Michael Garth</a></strong> <br>


			<h3>Local Businesses</h3>

			<p><strong><a href="http://www.blanketsandbowls.org">Blankets and Bowls</a></strong> – A big thank you to the wonderful folks at Blankets and Bowls for 
			helping to provide dog beds, blankets, bowls and other fun doggie items to our Foster 
			Families as well as our Shelter Partners in the South!</p>

			<p><strong><a href="http://pawsofhanover.com/">Paws Animal Hospital</a></strong> – Jessica and the wonderful staff at Paws in Hanover, PA have 
			been long time supporters of OPH!  We couldn’t be more grateful.  Paws provides high 
			quality veterinary medicine in a friendly, welcoming environment.</p>


			<p><strong><a href="http://www.piedmontpetsvet.com/">Piedmont Pets Veterinary Care</a></strong> – A heartfelt thank you to Dr. Lutz and her wonderful 
			staff in Warrenton, VA who have been so kind and compassionate to many OPH dogs 
			over the years.  Dr. Lutz was our first partner in treating heartworm disease.  Thanks to 
			her excellent care, the dogs who came in suffering from heartworm are given a chance 
			at life that would not have been possible years ago!</p>

			<p><strong><a href="http://pawsibilitiescollars.com/">Pawsibilities Collars for Dogs!</a></strong> – Looking for fashionable accessories for your dog?  
			Look no more!  This website has amazing products available for the hip dogster.  They 
			are also amazing supporters of OPH and help us in our mission to save dogs!</p>

			<p><strong><a href="https://www.facebook.com/BBBMG">Bubbles, Bows and Bones Mobile Grooming</a></strong> – Thank you goes out to the great folks 
			at the mobile groomer for pampering some of our lucky dogs before they go to their 
			excited foster homes!  </p>

			<p><strong><a href="http://otsfd.com">Olde Towne School for Dogs</a></strong> – The wonderful staff at Olde Towne School for Dogs 
			has been longtime supporters of OPH and our Virginia based endeavors.  Stop in and 
			ask for help in finding a great food for your pup!</p>


			<p><strong><a href="http://www.alwaystherehorsecare.com">Malena Brisbois, LVT - Always There Horse Care</a></strong></p>

			<p><strong><a href="http://news.petmeds.com/">Petmeds.com</a></strong></p>

			<p><strong><a href="http://www.summermeadowspetspa.com/">Summer Meadows Pet Spa</a></strong></p>

			<p><strong><a href="http://www.jbd4u.com/">Jewelry By Design</a></strong> - Beautiful jewelry and custom jewelry creations available.  2932 Prince William Pkwy, Woodbridge, VA 22192</p>


			<h3>Event Hosts</h3>

			<p><strong><a href="http://unleashedby.petco.com/stores/reston-va.aspx">Reston Unleashed</a></strong> – This Unleashed location in Reston Virginia is a hit with OPH 
			Volunteers and dogs!  The staff loves our doggies and will always lend a hand to help 
			you out in the Self Wash.  The Treat Bar will be a hit with any dog!</p>

			<p><strong><a href="http://us.petvalu.com/locations_services/5446/clifton-towne-square">Clifton Pet Valu</a></strong> – The wonderful staff at Clifton Pet Valu have been so great to OPH 
			dogs and volunteers!  Stop in to Pet Valu and they will be happy to assist in finding the 
			best food, discovering the next best thing to a tennis ball, or selecting an outfit for your 
			pet!</p>

			<p><strong><a href="http://thedogparkva.biz/">The Dog Park</a></strong> – This Dog Boutique is the It Place for dogs to be spotted in Old Town 
			Alexandria!  Stop in and meet the entire staff at The Dog Park, located on King Street in 
			downtown Alexandria.  While you are there, don’t forget to let your Four Legged Friend 
			sample some of the yummy treats offered for sale!</p>

			<p><strong><a href="http://barknatural.com/">Barks</a></strong> – Located in Pikesville, Maryland, this Barks location has been a longtime 
			supporter of OPH and our Maryland based dogs!</p>


			<h3>Boarding Facilities</h3>

			<p><strong><a href="http://www.woodlawnkennel.com/joomla/">Woodlawn Kennel Pet Care Center</a></strong> – Alexandria, Virginia </p>

			<p><strong><a href="http://www.herefordbedandbiscuit.com/">Hereford Bed and Biscuit </a></strong> – Parkton, Maryland</p>

			<p><strong><a href="http://www.oldetownepetresort.com/">Olde Towne Pet Resort</a></strong> – Locations in Springfield, Virginia and Chantilly, Virginia</p>

			<p><strong><a href="mailto:spotsdayout@gmail.com">Spot's Day Out Pet Sitting</a></strong></p>

	</div>
	</div>
</div>