<div class="row-fluid">
	<div class="span12">
		<div class="article">

		<h1>Contributors and Partners</h1>

		<p>Operation Paws for Homes is able to save lives and build families with the help of volunteers and other contributors in the community.  Many businesses and professionals give time, space, resources and their expertise free of charge to help our dogs find good homes.</p>
		
		<br />
		<h2>Animal Health and Welfare</h2>

		<h3>Blankets and Bowls</h3>

		<p><a href="http://www.blanketsandbowls.org ">Blankets and Bowls</a> is a charitable group whose mission is to gather, organize and distribute needed pet items to homeless animals in shelters, reputable rescues and foster homes. For those animals that have been abandoned, abused, sick, neglected and unwanted, we want to provide a sense of warmth, love and human kindness. We also aim to educate people on all levels on how to unite, provide and advocate and to encourage the only option; adoption.</p>

		<h3>Cumberland County Animal Shelter</h3>
		<p><a href="http://members.petfinder.com/~NJ44/HOME.htm">Website</a></p>

		<h3>Heartworm Society of America</h3>
		<p><a href="http://www.heartwormsociety.org">HeartwormSociety.org</a></p>

		<h3>Malena Brisbois, LVT</h3>
		<p><a href="http://www.alwaystherehorsecare.com">Always There Horse Care</a></p>
		<p>Marlena provides blood draws, heartworm tests and supports our medical
team in keeping our fosters safe and healthy. She also helps our
nervous fosters get through puppy birth. Her efforts have helped save
many lives.
</p>

		<h3>Montgomery County Humane Society</h3>
		<p><a href="http://mchumane.org">mchumane.org</a></p>

		<h3>PetMeds</h3>

		<p><a href="http://news.petmeds.com/">Petmeds.com</a></p>

		<h3>Piedmont Pets Veterinary Care</h3>

		<address>
			<a href="http://www.piedmontpetsvet.com/">piedmontpetsvet.com</a><br />
			122 West Shirley Avenue<br />
			Warrenton, VA 20186<br />
			540-349-7200
		</address>

		<h3>Unchain Cumberland</h3>

		<address>
			<a href="http://unchaincc.com">unchaincc.com</a><br />
			P.O. Box 473<br />
			Hope Mills, NC 28348<br />
			910-223-2588
		</address>
		<p>Mission: 
To will reduce the number of euthanasias at Cumberland County Animal Control by half in the next five years by making spay and neuter, vaccinations and basic veterinary care affordable and available to every pet owner.</p>

		<h3>Washington Humane Society</h3>

		<address>
		<a href="http://washhumane.org">washhumane.org</a><br />
		1001 L Street, SE<br />
		Washington, DC 20003
		</address>
		
		<h2>Training and Behavioral Specialists</h2>

		<h3>WonderMutts Academy, LLC</h3>
		<address>
			T:443.304.2121 <br />
			<a href="mailto:WonderMuttsAcademy@gmail.com">WonderMuttsAcademy@gmail.com</a>
		</address>

		<p>WonderMutts Academy is dedicated to using ONLY positive reinforcement training methods/clicker training to enrich the relationship between canine and human family members. We offer puppy/adult dog basic training and modification of problem behaviors. We specialize in helping family members learn to communicate with each other to ensure an everlasting bond.  The owner/trainer/family counselor-Gina Yandrofski-is a certified dog trainer, APDT member, BA in Psychology and Sociology, and is currently working on her Master's in Anthrozoology.</p>


<h3>Olde Towne School for Dogs</h3>

<address>
	<a href="http://otsfd.com">otsfd.com</a> <br />
	529 Oronoco St. Alexandria, VA 22314 <br />
	703-836-7643 <br />
</address>


<h2>Boarding Facilities</h2>

<h3>Olde Towne Pet Resort </h3>
<address>
	<a href="http://www.oldetownepetresort.com/">oldetownepetresort.com</a> <br />
</address>

<h3>Woodlawn Kennel Pet Care Center</h3>
<address>
	<a href="http://woodlawnkennel.com/">woodlawnkennel.com</a> <br />
	8340 Richmond Highway Alexandria , VA 22309 <br />
	703-360-6161 <br />
</address>

<h2>Photographers</h2>

<h3>Amaury Quinones</h3>
<p><a href='http://www.polarisphoto.com'>polarisphoto.com</a></p>
<p><a href='http://www.facebook.com/polarisphoto'>facebook.com/polarisphoto</a></p>

<h3>Michael Garth Photography</h3>
<p><a href="http://michaelgarth.com/">michaelgarth.com</a></p>
<p>Michael Garth is a professional pet photographer located in northern Virginia. His goal is to capture images that show furry, four-legged family members being themselves in a photographic style that is fresh, fun, and contemporary.  He is a member of HeARTs Speak – a worldwide community of artists uniting their efforts with the efforts of animal rescues to bring public awareness and positive change to the lives of rescued animals.  He is also a member of Professional Photographers of America and the National Association of Photoshop Professionals.</p>

<p>Michael offers a reduced creative fee to the parents of all adopted pets (not just OPH adopters!). </p>

	</div>
	</div>
</div>