<div class="row-fluid">
  <div class="span8 offset4">
    <h1><%= @title %></h1>
  </div>
</div>

<script type="text/javascript">
function _uGC(l,n,s) {
if (!l || l=="" || !n || n=="" || !s || s=="") return "-";
var i,i2,i3,c="-";
i=l.indexOf(n);
i3=n.indexOf("=")+1;
if (i > -1) {
i2=l.indexOf(s,i); if (i2 < 0) { i2=l.length; }
c=l.substring((i+i3),i2);
}
return c;
}
var uaGaCkVal= _uGC(document.cookie, '_ga=', ';');
var uaGaCkValArray= uaGaCkVal.split('.');
var uaUIDVal="";
var gacid="";
if(uaGaCkValArray.length==4) {
uaUIDVal=uaGaCkValArray[2] + "." + uaGaCkValArray[3];
gacid='=' + uaUIDVal.replace(/%2F/g,"-");
}
else {
uaUIDVal="";
gacid="";
}
var myNewValue = gacid;
</script>

<div class="row-fluid">
  <div class="span4 eventphoto hidden-phone">
    <%= image_tag "donate_1.jpg"%>
  </div>

  <div class="span8">
    <div class="article">
      <p>Operation Paws for Homes is a 501(c)(3) dog rescue organization that is run entirely by dedicated volunteers who help saves dogs in need. Your generous donations directly help cover the costs of rescuing dogs in need.  We also work hard to support the shelters we work with in the south.  It is only due to the patronage of people like you that we can save dogs and give them a chance to find a forever home.</p>

      <br>
      <br>

        <script async="async" src="https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant=donate@ophrescue.org"
    data-button="donate"
    data-name="Donation to Operation Paws for Homes"
    data-callback="https://zapier.com/hooks/paypal/?cid=716492"
    ></script>

    </div>
  </div>
</div>