<div class="row">
	<div class="span12 offset2">
	<div class="article">

		<h1>Contributors</h1>

		<p>Operation Paws for Homes is able to save lives and build families with the help of volunteers and other contributors in the community.  Many businesses and professionals give time, space, resources and their expertise free of charge to help our dogs find good homes.</p>
		
		<br />

		<%= link_to image_tag( "animaux.gif"), "http://www.chateau-animaux.com" %>
		
		<address>
			<strong>Chateau-Animaux</strong><br />
			733 8th St SE <br />
			Washington DC 20003<br />
			 800-354-8710 
		</address>

		<address>
			101-A S Saint Asaph Street<br />
			Alexandria, VA  22314<br />
			703-518-5188
		</address>
		
		<h2>WonderMutts Academy, LLC for Training</h2>

		<p>WonderMutts Academy is dedicated to using ONLY positive reinforcement training methods/clicker training to enrich the relationship between canine and human family members. We offer puppy/adult dog basic training and modification of problem behaviors. We specialize in helping family members learn to communicate with each other to ensure an everlasting bond.  The owner/trainer/family counselor-Gina Yandrofski-is a certified dog trainer, APDT member, BA in Psychology and Sociology, and is currently working on her Master's in Anthrozoology.</p>
		<address>
			T:/443.304.2121 <br />
			<a href="mailto:WonderMuttsAcademy@gmail.com">WonderMuttsAcademy@gmail.com</a>
		</address>

<h2>Simple.Intelligent.Training llc.</h2>

<address>
	<strong>Erin Jones</strong> <br />
	Head Trainer <br />
	443-684-3798 <br />
	<a href="mailto:simple.intelligent.training@gmail.com">simple.intelligent.training@gmail.com</a>
</address>
 
<p>S.I.T.  strives to educate our clients and to promote lifestyle training. Meaning: make polite, socially appropriate behavior, that fits with your lifestyle and unique family situtaion, the rule 100% of the time.

We use proven and more importantly, effective and safe training methods. Our training will not encourage violent or aggressive behavior from either the human or the canine partner. This is particularly important if there are or ever will be children in or around the home.</p>
	
	<h2>Kassi Reedy Photographer</h2>

<p>Kassia Reedy is a natural light portrait photographer serving Anne Arundel County, Fort Meade, Howard County Maryland & surrounding communities.  She offers portraits for families, couples, babies, children, high school seniors, and maternity portraits for expectant mothers. Kassia has contributed her time to OPH to photograph dogs to help them find their new homes.  If you're looking to break away from the traditional studio portrait, consider Kassia for your next family portrait.</p>

<address>
	<strong>Kassia Reedy</strong> <br />
	T. 410.3058625 <br />
	kassia.reedy@gmail.com <br />
	<a href="http://www.kassiareedyphotography.com" target="_blank">kassiareedyphotography.com</a>
</address>
	
<h2>Petography by Amanda</h2>

<address>
<strong>Amanda Sterba</strong><br />
<a href="http://petographybyamanda.webs.com" target="_blank">petographybyamanda.webs.com</a> <br />
<a href="mailto:petographybyamanda@gmail.com">petographybyamanda@gmail.com</a>
</address>

	</div>
	</div>
</div>