<div class="row-fluid">
	<div class="span12">
		<div class="article">

			<h1><%= @title %></h1>

			<br>

			<iframe width="640" height="480" src="//www.youtube.com/embed/v1DfGWrvYdc?rel=0" frameborder="0" allowfullscreen></iframe>

			<p>Why does Operation Paws for Homes rescue dogs who find themselves in south, rural shelters?  The documentary 600 Miles Home explores the cultural landscape that dictates why OPH has chosen to partner with shelters in the South and rescue, rehabilitate and adopt out dogs from this region of the country.  The documentary highlights our partnership with one small shelter in Greenwood, SC, and demonstrates how we are giving many deserving dogs a second chance at a forever home.</p>

			<p>This documentary takes a look at the threadbare shelter in Greenwood.  This shelter is underfunded, which forces the Humane Society of Greenwood to make tough decisions each day that determine which dogs will be put up for adoption, and which dogs will be put to sleep.  The incredibly loving staff at the shelter faces this horrible challenge each and every day.  Over the last year, Greenwood has formed new partnerships with rescue organizations in the North to create a team that works to change the future of many dogs who come through their door.  The partnerships allow Greenwood to work locally on adoption programming, and to save dogs by sending them to reliable nonprofit rescues.  The result of the shelter and rescue partnerships… Hope for everyone.</p>

			<p>We hope you enjoy watching three OPH dogs – Capone, Oprah and Nirvana – as they journey from forgotten and discarded dogs to the shelter, our rescue, and finally their forever homes.  600 Miles Home is an important film for adopters, volunteers and anyone interested in changing the culture of animal sheltering and rescue.  Remember – without OPH volunteers, supporters, donors, and each wonderful adopter – this journey would not be possible.  Each time someone fosters and adopts – you may not be changing the world – but you are changing the world for one dog at a time.</p>

			<p>A big Thank You to Liza Hamilton and Meagan Lutz for your hard work in creating this documentary!  Also, a heartfelt thank you to Mindy and Mike Young for making this journey.  Finally, without the great staff at Greenwood, we could not make this journey a reality for these dogs.  We love this team!  If you would like to help us change the world for more dogs, please <a href="/volunteer">volunteer</a> and <a href="/dogs">adopt</a>!</p>

		</div>
	</div>
</div>