<div class="container-fluid">
  <div class="row">

  <div class="col-sm-10 offset-sm-1 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
    <div class="article pages">

      <h1>Please Watch 600 Miles Home</h1>
    </div>
      <div class="documentary">
        <iframe width="320" height="240" src="//www.youtube.com/embed/v1DfGWrvYdc?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
    <div class="article pages">

      <p>600 Miles Home is an inspiring documentary about Operation Paws for Homes. Filmed in 2012, it explains the need for OPH and why our rescue organization was founded in 2010. This 14-minute film explores the non-spaying and non-neutering cultural landscape of the southern area of the U.S. where OPH rescues dogs from rural high-kill shelters.</p>

      <p>Watching 600 Miles Home, you’ll meet the loving staff from one of our partners, the Greenwood County Animal Shelter in Greenwood, South Carolina. You’ll learn why they’re forced to euthanize animals due to overpopulation, limited space, and under-funding. You’ll follow Capone, Oprah, and Nirvana, dogs rescued by OPH, on their 600-mile journey from the shelter to fosters and adopters in Virginia.</p>

      <p>600 Miles Home is an important documentary for adopters, volunteers, and people who want to support the mission of OPH to save dogs from the end of the road by taking them on their journey to a second chance at life.</p>

      <p>To help us save more dogs, please <a href=/donate>donate</a>, <a href=/volunteer>volunteer</a>, <a href="/foster">foster</a>, or <a href=/guide>adopt</a>.</p>

      <h3>Special Thanks</h3>

      <p>OPH would like to thank:</p>

      <p><strong>Liza Hamilton and Meagan Lutz</strong> - for their hard work and talent creating 600 Miles Home</p>
      <p><strong>OPH Volunteer Transporters Mindy and Mike Young</strong> - for making the 600-mile journey for this film</p>
      <p><strong>The great staff at Greenwood County Animal Shelter</strong> - OPH loves this team and couldn’t make the 600-mile journey to a new home a reality for these dogs without them</p>

      </div>
    </div>
  </div>
</div>