<div class="row-fluid">
  <div class="span4">

    <h3>Dog Status Definitions</h3>

    <ul>
      <li><strong>Coming Soon</strong> - This dog will be entering our foster care very soon. You may apply to adopt this dog, or check back soon as we add more photos and details.</li>
      <li><strong>Adoptable</strong> - This dog is currently available for adoption. There may be other applicants interested in this dog, so apply right away.</li>
      <li><strong>Adoption Pending</strong> - An approved adopter is seriously considering this dog. Apply to adopt, in case the dog becomes available.</li>

    </ul>
  </div>
</div>