<div class="row-fluid">
  <div class="span8 offset4">
    <h1>Help rescue a dog today</h1>
  </div>
</div>

<div class="row-fluid">
  <div class="span4 eventphoto hidden-phone">
    <%= image_tag "donate_1.jpg"%>
  </div>

  <div class="span8">
    <div class="article">
      <p>Your gift to Operation Paws for Homes is put to immediate use saving dogs from high-kill shelters.</p>

      <p>OPH depends on donations from generous people like you to provide the medical, transportation, fostering, and adoption services needed to place 1,000 homeless dogs in forever homes each year.</p>
      <br>

     <p><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=donate%40ophrescue%2eorg&lc=US&item_name=Operation%20Paws%20for%20Homes&no_note=0&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHostedGuest"><img src="/assets/paypal-donate-button.png"></a></p>

    <br>

    <p>Our rescued dogs are cared for throughout their adoption journey, from before they leave the shelter in the transport van to the day they’re welcomed with open arms by their adopters.</p>

    <p>Adoption fees help offset our expenses, but do not cover all of the services that are needed and provided by OPH. Here are ways our dogs will benefit from your generosity:</p>

    <ul class="unstyled">
      <li>$25 - food for one month during foster care</li>
      <li>$75 - shelter release fee  with initial vaccinations</li>
      <li>$100 - transportation from the shelter to the foster pickup location</li>
      <li>$125 - spay or neuter</li>
      <li>$250 - needed medical procedures, like tooth extractions</li>
      <li>$500 - heartworm treatment</li>
    </ul>

    <h3>To donate by check</h3>

    <p>Please mail your check payable to <strong>Operation Paws for Homes</strong> to:</p>

    <address>
      <strong>Operation Paws for Homes</strong><br>
      P.O. Box 90813<br>
      Alexandria, VA 22309<br>
    </address>

    <h3>Questions about supporting OPH?</h3>

    <p>Contact us at <a href="mailto:donate@ophrescue.org">donate@ophrescue.org</a>.</p>

    <p>OPH is a 501(c)3 tax-exempt organization. All donations are tax-deductible.</p>
    </div>
  </div>
</div>