<div class="row-fluid">
	<div class="span8 offset4">
	
		<h1><%= @title %></h1>
	</div>
</div>	

<div class="row-fluid">
	<div class="span4 eventphoto hidden-phone">
		<%= image_tag "donate_1.jpg"%>
	</div>
		
	<div class="span8">
		<div class="article">
		  <p>Operation Paws for Homes is a 501(c)(3) organization staffed entirely by volunteers.  Your donations directly help cover the costs of rescuing dogs in need.</p>
	      <p><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=donate%40ophrescue%2eorg&lc=US&item_name=Operation%20Paws%20for%20Homes&no_note=0&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHostedGuest"><img src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif"></a></p>

	      <h2>More Ways to Give</h2>

	      <h3><a href="http://www.goodsearch.com">GoodSearch</a></h3>

	      <p>OPH has joined over 100k other non-profit organizations and schools on GoodSearch. Goodsearch is a search engine, powered by Yahoo, that donates a penny per search to a designated cause. Designate Googsearch.com as your primary search engine and start contributing to the rescue, rehabilitation, and placement of dogs in need, one search at a time!</p>  

		  <p>Select "Operation Paws for Homes" as your cause: <a href="http://www.goodsearch.com/">GoodSearch.com</a></p>

		  <h3><a href="http://www.igive.com">iGive</a></h3>

		  <p>With your iGive account our dogs will receive a donation everytime you shop at over 1,000 online stores, including Crate and Barrel, Buy Buy Baby, Petco, Toys R Us, and over 1,300 more.</p>

		  <p>Select "Operation Paws for Homes": <a href="http://www.igive.com">iGive</a></p>


		  <h3><a href="http://www.erikaw.scentsy.us/buy">Scentsy</a></h3>

		  <p>Operation Paws for Homes is a beneficiary of the non-profit revenue sharing program with Scentsy.  Distinctive, decorative Scentsy warmers melt specially formulated scented wax with the heat of a low-watt light bulb, enhancing your home with more than 80 delicious Scentsy fragrances. Scensty also offers Scentsy Buddies, and their Layer line that includes: lip blam, shower cream, lotion, perfume, soap, sanitizer, laundry care products and more.</p>

		  <p>Select "Proceeds benefit OPH rescue": <a href="https://erikaw.scentsy.us/Scentsy/Buy/SetupPrompt">Scentsy</a></p>


		</div>
	</div>
</div>