<div class="row-fluid">
  <div class="span8 offset4">
    <h1>Help rescue a dog today</h1>
  </div>
</div>

<div class="row-fluid">
  <div class="span4 eventphoto hidden-phone">
    <%= image_tag "donate_1.jpg"%>
  </div>

  <div class="span8">
    <div class="article">
      <p>Your gift to Operation Paws for Homes is put to immediate use saving dogs from high-kill shelters.</p>

      <p>OPH depends on donations from generous people like you to provide the medical, transportation, fostering, and adoption services needed to place 1,000 homeless dogs in forever homes each year.</p>
      <br>

    <p><%= link_to "Donate Now", "https://www.razoo.com/us/story/Operation-Paws-For-Homes", :class => "btn btn-primary btn-large" %></p>

    <br>

    <p>Our rescued dogs are cared for throughout their adoption journey, from before they leave the shelter in the transport van to the day they’re welcomed with open arms by their adopters.</p>

    <p>Adoption fees help offset our expenses, but do not cover all of the services that are needed and provided by OPH. Here are ways our dogs will benefit from your generosity:</p>

    <ul class="unstyled">
      <li>$25 - food for one month during foster care</li>
      <li>$75 - shelter release fee  with initial vaccinations</li>
      <li>$100 - transportation from the shelter to the foster pickup location</li>
      <li>$125 - spay or neuter</li>
      <li>$250 - needed medical procedures, like tooth extractions</li>
      <li>$500 - heartworm treatment</li>
    </ul>

    <h3>To Donate by Check</h3>

    <p>Please mail your check payable to <strong>Operation Paws for Homes</strong> to:</p>

    <address>
      <strong>Operation Paws for Homes</strong><br>
      P.O. Box 90813<br>
      Alexandria, VA 22309<br>
    </address>

    <h3>Questions about Donating?</h3>

    <p>Contact us at <a href="mailto:donate@ophrescue.org">donate@ophrescue.org</a>.</p>

    <p>OPH is a 501(c)3 tax-exempt organization. All donations are tax-deductible.</p>

    <p>EIN: 45-2785962</p>

    <h3>Donate your Car</h3>

    <p>Operation Paws for Homes has partnered with the Melwood Foundation to accept car donations.  For information on how to donate your car to us call <strong>1-877-MEL-WOOD</strong></p>

    <h3>Combined Federal Campaign 2016</h3>

    <p>Operation Paws for Homes is proud to be part of the 2016 <a href="http://cfcnca.org/">Combined Federal Campaign of the National Capital Area (CFCNCA)</a>. Federal Employees within the National Capital Area can use code <strong>44590</strong> to donate to OPH.</p>
    </div>
  </div>
</div>
