<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 offset-4 col-md-8 offset-4 col-lg-8 offset-4">
      <div class="pages">
        <h1>Education and Outreach</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class="centered">
        <%= image_tag "outreach-1.jpg", size: "300", class: "shorter-side rounded" %>
        <%= image_tag "outreach-2.jpg", size: "300", class: "shorter-side rounded" %>
        <%= image_tag "outreach-3.jpg", size: "300", class: "shorter-side rounded" %>
      </div>
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8">
      <div class="article pages">
        <h3>Mutt-i-grees Program</h3>

        <div class="vid">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/i_5_x_bWNfM" frameborder="0" allowfullscreen></iframe>
        </div>

        <p>OPH has partnered with the Mutt-i-grees® Curriculum Program to raise awareness about how amazing shelter dogs (and dogs 
        in general) are for families - especially children.  In 2008, a group called Pet Savers created the concept of the 
        Mutt-i-gree® program — which translates to a dog waiting for adoption at a shelter or rescue: the idea was to raise 
        awareness of shelter animals; particularly, mixed-breed dogs who represent the majority of shelter dogs. The program also 
        aims to help increase shelter and rescue adoptions.</p>

        <p>The goal of OPH in partnering with the the Mutt-i-grees® Program is to cultivate a loving and fun environment that allows 
        children to interact in a safe and friendly environment with dogs.  This helps the children to hone their critical skills that 
        they need during interactions with people and animals in school, at home, and in the workplace. Along with highlighting the needs 
        of dogs waiting for adoption at shelters, we also read stories and complete art projects relating to dogs and their place in the family.</p>

        <p>Since most children have a natural love and curiosity for dogs and animals, teaching these lessons with dogs present that are 
        about the dogs themselves helps children to respond with enthusiasm to dog-themed activities and books!</p>

        <p>Please visit our <a href="https://www.facebook.com/Operationpawsforhomes">Facebook</a> page and our <a href="/events">Events</a> 
        page to learn about upcoming Mutt-i-gree programs.  To assist OPH in expanding our Mutt-i-grees outreach and education programs by 
        volunteering, please email us at <a href="mailto:volunteer@ophrescue.org">volunteer@ophrescue.org</a>.</p>
      </div>
    </div>
  </div>
</div>
