<div class="container-fluid">
  <div class="row">
    <div class="col-sm-11 offset-sm-1 col-md-11 offset-md-1 col-lg-11 offset-lg-1">
      <div class="pages">
        <h1>Frequently Asked Questions</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9 offset-sm-1 col-md-9 offset-md-1 col-lg-8 offset-lg-1">
      <div class="article pages">

        <h5>How does Operation Paws for Homes manage Feline Infectious Peritonitis (FIP) in cats?</h5>
<p>Decisions around the treatment of cats with feline infectious peritonitis (FIP) can be difficult and emotionally charged. </p>

<p>OPH cares deeply about all of the animals in our care and the people involved in helping them.  We have carefully considered the issue of FIP treatment and are monitoring the situation for new developments.  While there is currently a drug that has shown promising results in treating FIP, the drug has not been fully researched for this use and is not approved by the FDA nor sold by the owner for use in cats.  Veterinary professionals cannot legally recommend, dispense, or administer the drug, nor can it be legally purchased from any regulated entity.  It can only be purchased illegally on the black market, where there is no quality control nor guarantee the drug is correctly formulated. </p>

<p>OPH is an established rescue with an obligation to operate within the confines of the law.  In 2021 alone, we rescued over 1400 animals.  In order to be able to continue to operate and save all those lives, we cannot expose the organization or its volunteers to legal jeopardy.  Additionally, even if we were willing to take the legal risk, we do not believe it is in the best interest of the cats in our care to receive an unregulated drug of black market origin given without the recommendation or supervision of a veterinarian.  Unfortunately, FIP is a devastating and fatal illness, and OPH will euthanize a cat with the disease to alleviate its suffering.  We look forward to the day when there is a safe, approved treatment that we can use to save these lives. </p>
      </div>
    </div>
  </div>


</div>
