<div class="container-fluid">
  <div class="row">
    <div class="col-sm-11 offset-sm-1 col-md-11 offset-md-1 col-lg-11 offset-lg-1">
      <div class="pages">
        <h1>Frequently Asked Questions</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9 offset-sm-1 col-md-9 offset-md-1 col-lg-8 offset-lg-1">
      <div class="article pages">

      <h5>How often does OPH take in new dogs and cats?</h5>
      <p>We generally bring in new dogs every other Friday and don't have a set schedule for when our new cats arrive.  When there is a need, we also have special transports, such as when a pregnant or nursing mama dog or cat needs to be moved out of a shelter right away to have a safe place for their babies, or when one of our shelter partners has a critical need for assistance.  Our recommendation is that you check the website regularly for newly adoptable pets, or follow us on <a href="https://www.facebook.com/Operationpawsforhomes" rel="noopener">Facebook</a> to see updates.</p>

      <h5>Where do the animals you rescue come from?</h5>
      <p>OPH rescues animals from overcrowded, under-resourced shelters mainly in the southeastern United States.  Our active partner shelters have changes over time, but currently, we work primarily with shelters in Virginia, Tennessee, North Carolina, South Carolina, Mississippi, and Alabama.  Though recently limited by the pandemic and new legal requirements, OPH also takes in a small number of dogs from international sources, including India and Kosovo.</p>

      <h5>I have a dog or cat that I want to surrender, will you take it?</h5>
      <p>OPH's mission is to partner with under-resourced shelters and reduce euthanasia rates through those partnerships.  OPH does not have a physical facility and relies on foster homes to house our animals.  We are not set up to take in animals from the public.  We recommend contacting a rescue or shelter whose mission includes public intake.  Additional resources that may be helpful are <a href="http://rehome.adoptapet.com/" rel="noopener">Adopt-a-Pet's Rehome website</a> for resources on rehoming a pet yourself, or in Maryland, DC, and northern Virginia <a href="http://rescuewell.org/">Rescue Well</a>, an organization that helps pets and pet owners in crisis.</p>

      <p>On rare occasions, OPH will take in an owner-surrendered dog or cat. To find out if your animal might qualify, you may contact <a href="mailto:ownersurrender@ophrescue.org">ownersurrender@ophrescue.org.</a> </p>

      <h5>How many animals does OPH Rescue each year?</h5>

      <p>The number of animals OPH rescues each year varies based on a number of factors.  Because we don't have a physical facility, the biggest factor is the number of available foster homes.  We had a large increase in the number of animals rescued in 2020 during the pandemic, because we had a large number of new families volunteering to foster and animals were adopted very quickly.  As people are going back to the office, we are seeing a drop in the number of available foster homes and slower rates of adoption.  Our goal for 2022 is to rescue 1,500 animals.  If you'd like to help us achieve that goal, please sign up to volunteer or foster at <a href="get-involved">https://ophrescue.org/get-involved.</a></p>
      </div>

      <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col"> </th>
          <th scope="col">2019</th>
          <th scope="col">2020</th>
          <th scope="col">2021</th>
        </tr>
       <thead>
       <tbody>
        <tr>
          <th>Dog Intake</th>
          <td>932</td>
          <td>1,608</td>
          <td>1,204</td>
        </tr>
        <tr>
          <th>Cat Intake</th>
          <td>144</td>
          <td>362</td>
          <td>238</td>
        </tr>
        <tr>
          <th>Total Animal Intake</th>
          <td>1,076</td>
          <td>1,970</td>
          <td>1,442</td>
        </tr>
        <tr>
          <th> </th>
          <td> </td>
          <td> </td>
          <td> </td>
        </tr>
        <tr>
          <th>Dog Adoptions</th>
          <td>923</td>
          <td>1,566</td>
          <td>1,216</td>
        </tr>
        <tr>
          <th>Cat Adoptions</th>
          <td>132</td>
          <td>293</td>
          <td>235</td>
        </tr>
        <tr>
          <th>Total Animal Adoptions</th>
          <td>1,055</td>
          <td>1,859</td>
          <td>1,451</td>
        </tr>
        </tbody>
      </table>

      <div class="article pages">

      <h5>How is OPH funded?</h5>
      <p>OPH is 100% donor-funded. We receive no funding from federal, state, or county governments.  Much of our funding comes from adoption fees, and we rely on the generosity of our supporters for donations in order to be able to continue to save the dogs and cats we rescue.  If you'd like to make a donation, visit our <a href="/donate">online donation page</a>.</p>


      <h5>I want to foster but I have kids/my own pets/a full-time job/no fenced-in yard/live in an apartment/etc., can I still foster?</h5>
      <p>Yes!  One of the benefits of adopting a dog or cat from a foster-based organization like OPH is that we have been able to observe how the animal behaves in a home environment.  Many prospective adopters have kids, pets, no one home during the day, don't have a fence, live in apartments, or many other variations on home life.  By observing how the animal adjusts to those factors in a foster home, it helps us make better matches between adopters and pets.</p>


      <h5>What is Operation Paws for Homes' Position on Euthanasia? </h5>
      <p>Operation Paws for Homes is dedicated to the rescue and rehabilitation of animals in our care. Our goal is to place each animal in a loving forever home. We do not euthanize for space or length of stay in rescue. OPH may choose euthanasia as an end to suffering, where there is a medical condition that is beyond our resources to treat and that will cause a poor quality of life, or if an animal is aggressive to the point where the animal is not safe to place in the community.  OPH has maintained a Live Release Rate for dogs of over 99% for the past 10 years.  The Live Release Rate is calculated by dividing the number of live outcomes (dogs adopted or transferred to other organizations) by the total outcomes (not including animals who died while in care).</p>


      <h5>How does Operation Paws for Homes manage Feline Infectious Peritonitis (FIP) in cats?</h5>

      <p>Feline infectious peritonitis (FIP) is a devastating illness that is unique to cats, which is usually progressive and almost always fatal.  There is currently no FDA-approved treatment for the disease.  </p>

      <p>There has been recent research on a drug that has shown some promising results, but the drug is not approved for this purpose.  Veterinary professionals cannot legally recommend, dispense, or administer the drug, nor can it be legally purchased from any regulated entity.  Versions of the drug are available over the internet but they are black market products, unlicensed by the patent holder and not subject to any external quality control.  Even if these products were available to the veterinary market, their use would be considered experimental. OPH cares deeply about our cats.  We are monitoring new developments in this area, and we look forward to the day when there is a safe, approved treatment that we can use to save these lives. </p>
      </div>
    </div>
  </div>


</div>
