<div class="row-fluid">
  <div class="span4 hidden-phone">

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="eventphoto">
      <%= image_tag "fost_faq1.jpg" %>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
      <%= image_tag "fost_faq2.jpg" %>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
      <%= image_tag "fost_faq3.jpg" %>
          <br />
    <br />
    <br />
    <br />
    <br />
    <br />
      <%= image_tag "fost_faq4.jpg" %>
    </div>

  </div>

  <div class="span8">
    <div class="article">

    <h1>Foster FAQ</h1>


    <h5>Q:  I’m really interested in fostering, but I’m not sure how to get started.</h5>

    <p><strong>A:</strong> Operation Paws for Homes has an extensive group of volunteers who are ready to get you started as a foster parent and guide you through the process. You can complete the <a href="https://www.emailmeform.com/builder/form/9uC334I31dZ2T0dX1">online application</a> at  to begin the approval process and get you on the road to providing a successful and loving temporary home for a deserving canine pal. Once you are approved to foster, we will give you all the necessary paperwork and instructions you will need for a pleasant fostering experience for both you and your foster.</p>


    <h5>Q:  What kind of time commitment is foster parenting?</h5>

    <p><strong>A:</strong>  Fostering does take time and patience. Your foster dog is looking to you to teach him/her the ropes about how to be a great pet. Many of them come from situations where they had little or no hope of surviving, so learning to live in a home is a foreign concept to them. Even dogs that come from homes and have been trained may have some transition problems, and that is to be expected. Knowing that and being prepared for it is essential.</p>


    <p>You will need to provide some time house training your foster and exercising and playing with him/her. Dogs are pack animals, and you have to be a good leader of the pack to help him/her become the best pet he/she can be. Spending quality time with him/her is necessary to achieve this. You also may be the ﬁrst one in your foster’s life to teach him/her about love and trust of humans, and this also takes time. When you see the results of the time you spend with your foster, the reward far outweighs the effort you have put forth.</p>


    <h5>Q:  I have children or other pets at home. How should I prepare them for a foster
    coming into the house?</h5>

    <p><strong>A:</strong>  Introducing your foster to children and other pets is a wonderful way to get them ready to be the best forever pet they can be! Families with children and other animals are always looking to spread the love to a dog in need. Foster dogs that have been exposed to other animals and children have already learned how to interact with them, so you have eased the way for your foster into a new family! But you will need to prepare your family and pets for the new addition.</p>


    <p>Keep in mind that any change in a household needs some time for transition. Your foster needs to learn your routine, and you need to learn his/hers. Your children and pets should be introduced slowly to your foster to avoid overwhelming each other. It’s a good idea to keep your children and pets away from the foster while he/she eats when he/she ﬁrst arrives. Keep in mind that the foster may have come from a situation where he/she had very little food, or had to fend for himself/herself to get any, and you need to learn his/her eating habits and tendencies before letting children and other pets discover them the hard way.</p>


    <h5>Q: What are the requirements for my home?</h5>

    <p><strong>A:</strong>  All of your family pets must be up to date on shots and be neutered/altered. Keeping your pets up to date on their veterinary care is necessary to protect your pet as well as the foster. Some animals from shelters can bring viruses or diseases with them, so you don want to put your pets at risk. This is simply avoided by being up to date with your routine pet care. Your home will need to be “pet proofed” for his/her safety, and to save yourself frustration. Remember puppies LOVE to chew, so provide them with appropriate toys and bones to chew.</p>

    <h5>Q:  I’d like to foster, but I have never had a dog and I have no idea what to expect or how to take care of one.</h5>

    <p><strong>A:</strong>  We encourage all our fosters to get as much information about raising dogs or training dogs/puppies from the internet or books. We will provide you with a list of references to investigate on the internet that will answer most any questions you may have about training. Our volunteers at OPH are always helpful to each other as well, and a quick email to the foster coordinator will either answer your question or send you in the right direction to get the help you need.</p>

    <h5>Q:  Can I foster several dogs at a time?</h5>

    <p>While we love to have fosters who are able to take multiple dogs at once, it is important to know your limits! Start off with one and work your way up to multiple dogs if it works out well for you. Don’t overwhelm yourself at the start by taking on more than you thought you could handle. We strive to have happy foster families who produce happy forever pets, and we want to keep them happy by avoiding burn out!</p>

    <h5>Q:  What if my foster dog gets sick?</h5>

    <p><strong>A:</strong>  We have staff and volunteers who are knowledgeable in most symptoms or illnesses  you may encounter with a new foster. Always contact us here at info@ophrescue.org, or you can contact your foster coordinator who will make sure you get the appropriate medicines, and if necessary, veterinary care, that your foster may need.</p>

    <h5>Q:  How long should I expect to have the foster in my home?</h5>

    <p><strong>A:</strong>  The key to getting fosters adopted and set up with their forever families is to be proactive! Really get to know your foster and his/her likes and dislikes. Knowing his/ her personality is the easiest way to match him/her with the perfect forever family. Take LOTS of GOOD photographs and send them to your foster coordinator with updates!  There is no such thing as too many GOOD PHOTOS! Take photos of the foster interacting lovingly with people and other animals, and get outside for those “happy dog smiling” shots! Nothing gets a foster dog adopted more quickly than a melt-your-heart photo that says “Take me home!”</p>

    <h5>Q:  What do I need for supplies to foster?</h5>

    <p><strong>A:</strong>  OPH provides crates, collars, leashes, vet services and medication if needed.  You provide love, guidance and food.</p>

    <h5>Q:  How long does it take to find a forever home for my foster dog?</h5>

    <p><strong>A:</strong>  It can take a few days to a few weeks to find the right home for your foster dog.  This can depend on the dogs and  their ability to adjust quickly and  the foster parents providing photos and a description of the dog so advertising can be most accurate.</p>


</div>
</div>
</div>
