<div class="row-fluid">
	<div class="span8 offset4">
	

	<h1>Become a Foster</h1>

	<p><a class="btn btn-primary btn-large" href="http://www.emailmeform.com/builder/form/9uC334I31dZ2T0dX1">Apply to Foster</a></p>

	</div>
</div>
<div class="row-fluid">
	<div class="span4 eventphoto hidden-phone">
		<%= image_tag "foster-1.jpg" %>
		<br>
		<br>
		<br>
		<%= image_tag "foster-2.jpg" %>
		<br>
		<br>
		<br>
		<%= image_tag "foster-3.jpg" %>
		
	</div>

	<div class="span8">
		<p>	Fostering abandoned and rescued dogs and puppies is a wonderful and fulfilling experience!  Each year, hundreds of thousands of dogs find themselves in rural shelters and have no idea why their "family" has left them at the doors of these awful places. They are tossed aside for various reasons, most of which is none of their fault or their own doing.</p>

		<p>	As a foster, you will be giving a second chance to a poor dog who has no one to advocate for them except kind hearted people like you!  These dogs are saved from high kill shelters with limited resources who are unable to care for the number of animals that are abandoned at their doors. There is great satisfaction in knowing that you are saving a life!</p>

		<p>	If you have ever wanted to save lives by becoming a dog's foster parent, the time is now!! You don't have to be a genius. You don't have to be rich. You don't have to have tons of free time. You just have to be a good person who can offer a safe and loving home to a homeless animal, and who is willing to assist a rescue in matching your foster dog with the right forever family.</p>

		<p>	The time commitment varies from a few days to several weeks. We will work with you to find the right foster pet, and we are available to answer any questions and offer support. OPH covers all veterinary expenses, preventative, collar, leash, and crates or puppy pens as needed. Even if you can only foster once, that is one more dog who will not die, alone and afraid, in the shelter.</p>

		<p>	Fostering is also a great way to help these abandoned dogs and to learn more about different types of dogs and possibly find a forever dog for your family! If you are a bit nervous about owning a dog or a puppy, fostering gives you the opportunity to see what dog ownership entails. It is a great way to teach a family what to expect from dog ownership without jumping into something you might not be able to handle.</p>

<br>
		<h2>Why I Foster Rescue Dogs ~ My Story</h2>

		<p>It’s 6:30pm and I am heading home from a long day at the office.  It’s a typical work day that ends in “y.”  And tomorrow will be another one.  I am exhausted and traffic is awful…</p>
 
		<p>I arrive home and am greeted by my overly excited black lab who is a rescue.  We adopted him three years ago and he is like a child to us.  I greet him and head to a crate where I peer into the eyes of a gorgeous black lab mix named Annie.  Annie isn’t “my dog”, but she is my foster.  She is wagging her tail and very excited that I have made it home!  I quickly let the dogs out into the yard and let them run around excitedly!  I stop for a moment and an image flashes in my mind.  It’s the photo of this adorable black lab, No. 45312, in her “cell” at the shelter.  She was with her brother and they both looked so scared.  Like so many dogs I had seen before, they were big and black and looked like too many other dogs who were discarded to catch the eye of a potential adopter.  As her 5 days of time in the shelter ticked away, she moved to the “urgent list” and I knew I had to take her in. </p>

		<p>Day 1 of me and Annie was filled with excitement.  The transport arrived and Annie and her brother were excited to get out of their crate and meet several smiling faces.  They both looked confused and bewildered as they wondered what turn their lives had taken.  But the confusion faded and we started to get to know each other.  At first, Annie wasn’t sure who we were or why she was in a strange home that was not the same place she remembered as “home.”  You could see the look in her eye and knew she was questioning who we were.  I couldn’t blame her!  She’d traveled from North Carolina to us in Northern Virginia and the ride was long.  She was given a bath immediately (no fun!) and then let into a yard to play with happy dogs.  Just days before, her life had been turned upside down when her “family” had abandoned her to a tiny cement cell in a very loud shelter.  There was no sunshine, no playtime, and no squeaky toys in that place… Oh how much life had changed!</p>
 
		<p>Annie wasn’t the first dog I had taken in. No, there were several before her.  Some were perfect from the start.  Some were incredibly challenging for weeks on end!  But all of them have left a mark on my life.  We go through the ups and downs of training together….  Our first successful night without an accident… our first “sit”….  Conquering the walk on the leash… getting over being bossy… whatever it is, we conquer it. </p>
 
		<p>I look at Annie now.  She’s running behind my own black lab who is teasing her with a sqeeky toy!  She looks nothing like the dog who was left for dead at that shelter.  She looks like a dog who has never had a care in the world.  That weary look she had when she arrived has vanished.  She is happy and at peace.  So am I.  I know that without me, and many fosters like me, Annie would never have a second chance for happiness and peace. </p>
 
		<p>As she comes running up to me and gives me a big puppy kiss on the ear… I can’t help but smile.  And in that instant, that long day at the office is a distant memory.</p>

		<p><a class="btn btn-primary btn-large" href="http://www.emailmeform.com/builder/form/9uC334I31dZ2T0dX1">Apply to Foster</a></p>
	</div>
</div>
