<div class="row">
	<div class="span12 offset2">
	<div class="article">

	<h1>Become a Foster</h1>

	<p><a class="btn success large" href="http://www.emailmeform.com/builder/form/9uC334I31dZ2T0dX1">Apply to Foster</a></p>

	<p>Fostering abandoned and rescued dogs and puppies is a wonderful and fulfilling experience.  Thousands of dogs find themselves in rural shelters and have no idea why their "family" has left them at the doors of these awful places.  As a foster, you will be giving a second chance to a poor dog who has no one to advocate for them except kind hearted people like you!</p>

<p>These dogs are saved from high kill shelters with limited resources who are unable to care for the number of animals that are abandoned at their doors.   There is great satisfaction in knowing that you are saving a life!  </p>
 
<p>Fostering is also a great way to help these abandoned dogs and to learn more about different types of dogs and possibly find a forever dog for your family!  If you are a bit nervous about owning a dog or a puppy, fostering gives you the opportunity to see what dog ownership entails.  
It is a great way to teach a family what to expect from dog ownership without jumping into something you might not be able to handle.</p>


	</div>
	</div>
</div>