<div class="row-fluid">
	<div class="span8 offset4">
	

	<h1>Become a Foster</h1>

	<p><a class="btn btn-primary btn-large" href="http://www.emailmeform.com/builder/form/9uC334I31dZ2T0dX1">Apply to Foster</a></p>

	</div>
</div>
<div class="row-fluid">
	<div class="span4 eventphoto">
		<%= image_tag "foster_side.jpg"%>
	</div>

	<div class="span8">
		<p>	Fostering abandoned and rescued dogs and puppies is a wonderful and fulfilling experience!  Each year, hundreds of thousands of dogs find themselves in rural shelters and have no idea why their "family" has left them at the doors of these awful places. They are tossed aside for various reasons, most of which is none of their fault or their own doing.</p>

		<p>	As a foster, you will be giving a second chance to a poor dog who has no one to advocate for them except kind hearted people like you!  These dogs are saved from high kill shelters with limited resources who are unable to care for the number of animals that are abandoned at their doors. There is great satisfaction in knowing that you are saving a life!</p>

		<p>	If you have ever wanted to save lives by becoming a dog's foster parent, the time is now!! You don't have to be a genius. You don't have to be rich. You don't have to have tons of free time. You just have to be a good person who can offer a safe and loving home to a homeless animal, and who is willing to assist a rescue in matching your foster dog with the right forever family.</p>

		<p>	The time commitment varies from a few days to several weeks. We will work with you to find the right foster pet, and we are available to answer any questions and offer support. OPH covers all veterinary expenses, preventative, collar, leash, and crates or puppy pens as needed. Even if you can only foster once, that is one more dog who will not die, alone and afraid, in the shelter.</p>

		<p>	Fostering is also a great way to help these abandoned dogs and to learn more about different types of dogs and possibly find a forever dog for your family! If you are a bit nervous about owning a dog or a puppy, fostering gives you the opportunity to see what dog ownership entails. It is a great way to teach a family what to expect from dog ownership without jumping into something you might not be able to handle.</p>
	</div>
	</div>
