<div class="row-fluid">
	<div class="span8 offset4">

			<h1>Adoption Guide</h1>
	</div>
</div>


<div class="row-fluid">
	<div class="span4 eventphoto hidden-phone">
		<%= image_tag "guide-1.jpg"%>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<%= image_tag "guide-2.jpg"%>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<%= image_tag "guide-3.jpg"%>
	</div>

<div class="span8">
<div class="article">

	<p>The decision to bring a new dog into your home is a big one.  Operation Paws for Homes wants to make sure your adoption goes as smoothly as possible.  With many wonderful dogs to choose from, we’ll work with you to find a dog that is a great fit for you and your family.  All of our dogs are in foster care before adoption, helping each dog make a smooth transition into its new home.</p>

	<a href="/adopters/new" class="btn btn-primary btn-large">Adoption Application</a>

	<h2 id="application">Your Application</h2>
	<p>Our <a href="/adopters/new">Adoption Application</a> is designed to ensure a good match between dogs and adopters.  Before you begin the application, you’ll want to take care of the following:</p>

	<ul>
		<li><span class="label label-important">Important</span> Your current pets, if any, must be spayed/neutered and up-to-date on shots.</li>
		<li>Do your homework on what type of dog (age, temperament, personality, etc.) is best for your living situation and your lifestyle.</li>
		<li>If you rent, talk to your landlord about pet policies.</li>
		<li>Think of three personal references we can contact for your background check.</li>
		<li>Talk to a trainer, dog walker, doggie daycare, etc. to have a plan in place for your dog's long term happiness.</li>
	</ul>

	<p>Once your application is submitted, our volunteers will review your application.  This review will include:</p>

	<ul>
		<li>Contact your landlord, if you rent</li>
		<li>Contact your Vet, if you’ve had dogs or cats in the past 10 years</li>
		<li>Interview your references</li>
		<li>Interview you</li>
	</ul>

	<p>Our approval process generally takes 2 to 7 days.  The most common delay to approving an application is being unable to reach your references. </p>

	<h2 id="dog">Selecting Your Dog</h2>

	<p>Once your application is approved, we will setup a time for you to meet the dog you want to adopt.  Our dogs are located in loving foster homes throughout Virginia, Maryland and Southern Pennsylvania.   You can also attend one of our many <a href="/events">adoption events.</a></p>

	<p><a href="/dogs">Our Dog Gallery</a> has our most up to date listing of dogs available for adoption.  We adopt each dog to the first approved and available adopter.  The dog of your choice cannot be held or reserved until after your application is approved.  If the dog you want is adopted before your application is approved, we will gladly help you select a new dog.  Generally, you will be able to finalize the adoption at the event or meeting.</p>

	<h2 id="fees">Adoption Fees and Contract</h2>

	<p>At the time of adoption, you must complete our <a href="/docs/oph-contract.pdf">Adoption Contract</a> and provide payment of our adoption fees (check or money order). </p>

	<ul>
		<li>Adult dogs with microchips <strong>$335</strong></li>
		<li>Dogs 7 years of age and older: <strong>$250</strong></li>
		<li>Puppies (6 months and under) who are spayed/neutered: <strong>$375</strong></li>
		<li>Puppies too young to be spayed/neutered: <strong>$375</strong> - Up to $75 of this fee will be refunded based on the cost incurred by adopter for spay/neuter.</li>
	</ul>

	<p>Costs for boarding after the dog has left the shelter and is awaiting transport to our rescue, along with associated transportation costs, account for a large portion of our adoption fee.</p>

	<p>OPH does not administer lyme and lepto vaccinations for the dogs it adopts out.</p>

	<p>OPH does not conduct blood profiles for our dogs, unless recommended by our veterinarians.</p>

	<p>OPH does not conduct DNA tests on the dogs it adopts out. We use information provided by the shelters, veterinarians and volunteers to give a best estimate to the dog's breed.  As a result, we cannot guarantee the exact breed of any OPH dog.  We do our best to inform adopters about the potential dog breeds for each dog.  </p>

  <h2>Approved to Adopt Applicants Explained</h2>

  <p>In reviewing our website, you will see that many of the dogs in our rescue are listed as Adoption Pending for their status.  To explain what this means and why many adopters find their perfect match with incoming dogs, we provide this short summary.  Please also discuss any questions with your adoption coordinator once an application is submitted.</p>

  <p>Once we have an incoming dog that will arrive to the rescue, we advertise the "Coming Soon" dogs on our website.  Many adopters will go through the approval process and keep a close watch on the incoming dogs.  Once you are approved for adoption, you will be one step closer to find a forever dog!  In addition, you will be able to work with your adoption coordinator to be paired with an incoming dog who you can set up a meet and greet with. </p>

  <p>For adopters looking for puppies, it is suggested that you become approved for adoption in advance of being ready to adopt.  Once approved, you will be in a position to have a priority spot to pick out the cute puppy who catches your eye!</p>


	<h2 id="after">After Adoption</h2>

	<p>We hope that everything goes well for your new adoption. All dogs will be current on
	their DHLPP, bordetella, rabies (age appropriate), and will be tested for heartworm
	(age appropriate), and treated for intestinal parasites prior to adoption. However, please
	remember that our dogs come from shelters in rural areas. Certain intestinal parasites may
	not present themselves while the dogs are in our care.</p>

	<p>Worms are a common problem for dogs, especially young dogs and puppies. They
	often require multiple dewormings to ensure you dog is worm free. OPH provides 1-2
	(sometimes more) dewormers while the dog is in our care. Many dogs will require a third
	or fourth dewormer.</p>

	<p>Our dogs are also up to date on flea, tick and heartworm prevention before you take them
	home. You must continue these monthly treatments as a condition of your adoption.
	Heartworm and flea preventative after adoption is not provided to you.</p>

	<p>If a medical concern arises we may be able to help. Some conditions are not observed
	in a foster dog until they transition to a new home. As outlined in our adoption package,
	we ask people to contact us at
	<strong><a href="mailto:meds@ophrescue.org">meds@ophrescue.org</a></strong>
	if anything happens
	medically so we can offer assistance.  We cannot reimburse
	you for vet bills or guarantee the health of a dog.</p>

	<p>If you do not receive a copy of your records at the time of adoption, please email
	<strong>medical.records@ophrescue.org</strong> with the name of your dog and provide an email and
	mailing address. This will help us expedite the receipt of your records if they were not
	provided at the time of adoption.</p>

	<h2 id="returns">Returning Your Dog</h2>

	<p>If anything prevents you from keeping your dog, regardless of how much time has passed since the adoption, you must contact <a href="/contact">Operation Paws for Homes.</a></p>

	<p>The dog cannot be given away.  You must either return the dog to us or obtain approval to transfer ownership to a friend or relative. </p>
	<br />

</div>
</div>
</div>
