<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Operation Paws for Homes</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2>Our Mission</h2>
            <p>Annually, 50% of dogs and 70% of cats in shelters are euthanized simply because there is no one to adopt them.</p>
            <p>OPH is committed to a No Kill nation and believes every animal deserves a loving home.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2>Take Action</h2>
            <p>
            <p>
        </div>
    </div>
</div>
