<div>
  <div class="row">
    <div class="span2">
      <img src="assets/logo.png" height="90" width="90" >
    </div>
    <div class="span10">
      <h1>Operation Paws for Homes</h1>
      <h5>Virginia, Maryland, Washington DC and South Central PA</h5>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <img src="assets/hero_bg2.gif" alt="Operation Paws for Homes Dog Rescue Virginia, Maryland, Washington DC, York Pennsylvania">
            <div class="carousel-caption">
              <%= link_to "Available Dogs", dogs_path, :class => "btn btn-primary btn-large", :id => "hero-dog" %>
              <%= link_to "Apply for Adoption", new_adopter_path, :class => "btn btn-primary btn-large", :id => "hero-adopt" %>
            </div>
          </div>
        </div>
<!--         <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a> -->
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span4">
      <a href="/donate"><img src="assets/home-contribute.jpg"></a>
    </div>
    <div class="span4">
      <a href="/volunteer"><img src="assets/home-get-involved.jpg"></a>
    </div>
    <div class="span4">
      <a href="/events"><img src="assets/home-events.jpg"></a>
    </div>
  </div>

</div>