<% if signed_in? %>
	<p>You are signed in, good for you </p>
<% else %>
<h1>Operation Paws for Homes</h1>
<p>
	 Welcome to the OPH Adoption system.  You can browse dogs, or apply to adopt.
</p>
<%= link_to "Apply to Adopt", adopt_path, :class => "signup_button round" %>
<% end %>