<div class="container">
  <div class="row">
    <div class="span1">
      <img src="assets/logo.png" class="hidden-phone">
    </div>
    <div class="span7">
      <h1>Operation Paws for Homes</h1>
      <h5>Virginia, Maryland, Washington DC and South Central PA</h5>
    </div>
    <div class="span4">
      <span class="pull-right">
        <a href="https://www.facebook.com/Operationpawsforhomes"><i class="fa fa-facebook-square fa-3x"></i></a>
        <a href="https://twitter.com/RescueOPH"><i class="fa fa-twitter-square fa-3x"></i></a>
        &nbsp; &nbsp; 
          <a href="http://greatnonprofits.org/org/operation-paws-for-homes"> <img src="assets/gnp-2014-award.jpg" title="2014 Top-rated nonprofits and charities" alt="2014 Top-rated nonprofits and charities" width="165" height="83"/> </a>
        </span>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div id="ophCarousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <img src="assets/hero_bg3.jpg" alt="Operation Paws for Homes Dog Rescue Virginia, Maryland, Washington DC, York Pennsylvania">
            <div class="carousel-caption">
              <%= link_to "Our Dogs", dogs_path, :class => "btn btn-primary btn-large", :id => "hero-dog" %>
              <%= link_to "Apply for Adoption", new_adopter_path, :class => "btn btn-primary btn-large", :id => "hero-adopt" %>
            </div>
          </div>
          <div class="item">
            <img src="http://placehold.it/1200x550" alt="Operation Paws for Homes Dog Rescue Virginia, Maryland, Washington DC, York Pennsylvania">
            <div class="carousel-caption">
              <a href="#", class="btn btn-primary btn-large">Sample</a>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#ophCarousel" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#ophCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span4 eventphoto">
      <a href="/donate"><img src="assets/home-contribute.jpg"></a>
      <br />
      <br />
    </div>
    <div class="span4 eventphoto">
      <a href="/volunteer"><img src="assets/home-get-involved.jpg"></a>
      <br />
      <br />
    </div>
    <div class="span4 eventphoto">
      <a href="/events"><img src="assets/home-events.jpg"></a>
      <br />
      <br />
    </div>
  </div>
<br />
  <div class="row">
    <div class="span2 offset10">

  </div>

<script type="text/javascript"> 
$('#ophCarousel').carousel();
</script>

</div>