<div class="hero-unit">
	<br />
	<br />
	<br />
	<br />
	<br />
	<h1>Operation Paws for Homes</h1>
	<p>All breed dog rescue based in Virgina and Maryland</p>
	<%= link_to "Available Dogs", "http://www.petfinder.com/pet-search?shelterid=VA600", :target => "_blank", :class => "btn primary large" %>
	<%= link_to "Apply for Adoption", new_adopter_path, :class=>"btn primary large" %>

</div>

<div class="row">
<div class="span5 sidekick">
  <h2>Events</h2>
   <p>Looking for the perfect new family member? Want to meet them in person first? Here is your chance!  Join Operation Paws for Homes and meet some wonderful dogs and learn more about how we can find the right dog for you at our next adoption event.</p>
  <p><a class="btn primary" href="/events">Upcoming Events &raquo;</a></p>
</div>
<div class="span5 sidekick">
  <h2>Adoption Guide</h2>
   <p>Adopting a dog saves lives! You must submit an adoption application, and it will take time to process it. We will interview your references and you. We will support you through the entire process to ensure you find a dog that is right for you. Our adoption fees are explained here. </p>
  <p><a class="btn primary" href="/guide">Adoption Guide &raquo;</a></p>
</div>
<div class="span5 sidekick">
  <h2>Donate</h2>
  <p>Your donations help cover the costs of medical care for our rescues.  Secure on-line donations via PayPal are available at the link below.</p>
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=donate%40ophrescue%2eorg&lc=US&item_name=Operation%20Paws%20for%20Homes&no_note=0&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHostedGuest"><img src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif"></a>

</div>
</div>