<div class="container">
  <div class="row">
    <div class="span1 hidden-phone hidden-tablet">
      <img src="assets/logo.png" >
    </div>

    <div class="span6 hidden-phone hidden-tablet">
      <h2>Operation Paws for Homes</h2>
      <h5>Virginia, Maryland, Washington DC and South Central PA</h5>
    </div>

    <div class="span7 hidden-desktop">
      <h2>Operation Paws for Homes</h2>
      <h5>Virginia, Maryland, Washington DC and South Central PA</h5>
    </div>


    <div class="span5 hidden-phone">
      <span class="pull-right">
        <a href="https://www.facebook.com/Operationpawsforhomes"><i class="fa fa-facebook-square fa-3x"></i></a>
        <a href="https://twitter.com/RescueOPH"><i class="fa fa-twitter-square fa-3x"></i></a>
        <a href="http://instagram.com/operationpawsforhomes"><i class="fa fa-instagram fa-3x"></i></a>
        &nbsp; &nbsp; 
          <a href="http://greatnonprofits.org/reviews/operation-paws-for-homes/role:2/"> <img src="assets/gnp-2014-award.jpg" title="2014 Top-rated nonprofits and charities" alt="2014 Top-rated nonprofits and charities" width="165" height="83"/> </a>
        </span>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div id="ophCarousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <img src="assets/hero_bg3.jpg" alt="Operation Paws for Homes Dog Rescue Virginia, Maryland, Washington DC, York Pennsylvania">
            <div class="carousel-caption">
              <%= link_to "Our Dogs", dogs_path, :class => "btn btn-primary btn-large", :id => "hero-dog" %>
              <%= link_to "Apply for Adoption", new_adopter_path, :class => "btn btn-primary btn-large", :id => "hero-adopt" %>
            </div>
          </div>
<!--           <div class="item">
            <img src="assets/websitebanner15.jpg" alt="Operation Paws for Homes Dog Rescue Virginia, Maryland, Washington DC, York Pennsylvania">
            <div class="carousel-caption">
              <a href="https://www.facebook.com/events/717118955067118/" class="btn btn-primary btn-large">RSVP</a>
              <a href="http://bit.ly/1Fxkmq8" class="btn btn-primary btn-large">Tickets Password: paws</a>
            </div>
          </div> -->
        </div>
<!--         <a class="left carousel-control" href="#ophCarousel" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#ophCarousel" data-slide="next">&rsaquo;</a> -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span4 eventphoto">
      <a href="/contribute"><img src="assets/home-contribute.jpg"></a>
      <br />
      <br />
    </div>
    <div class="span4 eventphoto">
      <a href="/volunteer"><img src="assets/home-get-involved.jpg"></a>
      <br />
      <br />
    </div>
    <div class="span4 eventphoto">
      <a href="/events"><img src="assets/home-events.jpg"></a>
      <br />
      <br />
    </div>
  </div>
<br />
  <div class="row">
    <div class="span12 hidden-tablet hidden-desktop">
      <span class="pull-right">
        <a href="https://www.facebook.com/Operationpawsforhomes"><i class="fa fa-facebook-square fa-3x"></i></a>
        <a href="https://twitter.com/RescueOPH"><i class="fa fa-twitter-square fa-3x"></i></a>
        <a href="http://instagram.com/operationpawsforhomes"><i class="fa fa-instagram fa-3x"></i></a>
        &nbsp; &nbsp; 
          <a href="http://greatnonprofits.org/org/operation-paws-for-homes"> <img src="assets/gnp-2014-award.jpg" title="2014 Top-rated nonprofits and charities" alt="2014 Top-rated nonprofits and charities" width="165" height="83"/> </a>
        </span>
    </div>
    <div class="row">
      <div class="span12">
        <a href="http://adoptapet.com"><img src="assets/approved-rescue-badge.png"></a>
      </div>
    </div>

  </div>

<script type="text/javascript"> 
$('#ophCarousel').carousel({
   interval: 6000
});
</script>

</div>