<div class="container fluid">
        <div class="row">
                <div class="col-sm-11 offset-sm-1 col-md-11 offset-md-1 col-lg-11 offset-lg-1">
                        <div class="pages">
                                <h1>Watch Hope for Hope</h1>
                        </div>

                        <div class="embed-responsive embed-responsive-16by9 max-vid vid">
                                <iframe id="ytplayer" type="text/html" class="embed-responsive-item"
                                src="https://www.youtube.com/embed/CJqUBrc03dI?autoplay=0&origin=https://ophrescue.org"
                                frameborder="0"></iframe>
                        </div>

                        <div class="article pages">

                                <p><em>Hope for Hope</em> tells the story of a special dog who struggled to survive on the streets of
                                New Delhi, India while raising five puppies -- while unable to use her hind legs. After being
                                rescued by OPH's shelter partner Kannan Animal Welfare, OPH brought Hope on an amazing journey
                                to start a new life with a loving family.</p>

                        </div>
                </div>
        </div>
</div>
