<div class="container-fluid">
	<div class="col-md-11 offset-1">
		<div class="article pages">
			<h1>Pet Insurance</h1>

			<p>It’s an easy decision when you bring home your two-legged bundle of joy- all the routine doctor visits, and the vaccines and sick visits, you wouldn’t consider going a week into your precious bundle of joy’s life without medical insurance.   So when you bring home your furry bundle of joy from the adoption event, why would that be any different?</p>

			<p>There are an estimated 78 million furchildren in the United States,  and each day, on average 50,000 of those families spend around $250 on a vet visit-  and that is a routine, scheduled visits!  The average “emergency room” visit for a dog costs 25,000 families a whopping $650 a day and the numbers only go up from there! </p>

			<p>In 2009, only 5 million pets in the United States were covered by some form of insurance.  In 2011 the number of pets jumped to nearly 12 million and in the last two years, that number has continued to increase by roughly 20% each year! But, like insurance for your family, it can be difficult to navigate, difficult to understand, and downright frustrating. </p>

			<p>There are companies that ask for monthly stipends from as little as $5.00 ranging up to $100.00 a month- all offering a variety of coverage and included services.  No one company stands out from the rest; rather each company offers different costs and benefits.  The smaller stipend plans offer basic healthcare coverage, while you pay most of the additional expenses; while some of the more costly options pay nearly all of the expenses and reward you for things like vaccination upkeep, spay/neuter of covered pets, routine healthcare upkeep. Much like with insurance for humans, the right option for your pet is dependent on what your home budget allows, as well as your personal choice on the topic. </p>

			<p>We don’t advocate for one company or another, but many of our fosters and adopters find that having pet tnsurance has taken a burden off their backs when it comes to having funds available for the emergent needs when your pup devours a towel or is injured at the park, or in some cases, for just good old fashioned routine care! </p>

			<p>Compare the offerings of various companies at Reviews.com - <a href="http://www.reviews.com/pet-insurance/">http://www.reviews.com/pet-insurance</a></p>

			<p>We encourage you to consider the purchase of a policy that would help you and your wallet – making ownership of a pup that much more enjoyable! </p>

			<p>Here are some options to consider:</p>

			<ul>
				<li><a target="_blank" rel="noopener" href="http://www.embracepetinsurance.com/">Embrace</a></li>
				<li><a target="_blank" rel="noopener" href="https://www.petfirst.com/">PetFirst</a></li>
				<li><a target="_blank" rel="noopener" href="http://www.petinsurance.com/">VPI Pet Insurance</a></li>
				<li><a target="_blank" rel="noopener" href="http://www.24petwatch.com/US/pet_insurance/">24 Pet Watch</a></li>
				<li><a target="_blank" rel="noopener" href="http://www.aspcapetinsurance.com/">ASPCA Pet Insurance</a></li>
				<li><a target="_blank" rel="noopener" href="http://trupanion.com/">Trupanion</a></li>
			</ul>

			<h2>Pet Insurance Discount Offer from Trupanion for OPH Adopters</h2>

			<ul>
				<li><a target="_blank" rel="noopener" href="https://ophrescue-production.s3.amazonaws.com/wwwdocs/oph-trupanion-promo.pdf">Trupanion Offer for OPH Adopters</a></li>
				<li><a target="_blank" rel="noopener" href="https://ophrescue-production.s3.amazonaws.com/wwwdocs/trupanion_Policy_Infographic+2019.pdf">Trupanion Policy Infographic</a></li>
				<li><a target="_blank" rel="noopener" href="https://ophrescue-production.s3.amazonaws.com/wwwdocs/trupanion-Questions-Sheet.pdf">Trupanion Question Sheet</a></li>
			</ul>

		</div>
	</div>
</div>
