<div class="container-fluid">
	<div class="col-md-11 offset-1">
		<div class="article pages">
			<h1>Pet Insurance</h1>

			<p>It’s an easy decision when you bring home a new baby - with all the routine doctor visits, and the vaccines and sick visits, you wouldn’t consider going a week into your baby's life without medical insurance.   So when you bring home your furry bundle of joy from the adoption event, why would that be any different?</p>

			<p>Much like with insurance for humans, the right insurnace option for your pet is dependent on what your home budget allows, as well as your personal preferences on costs and benefits. </p>

			<p>We don’t advocate for one company or another, but many of our fosters and adopters find that having pet insurance has taken a burden off their backs when it comes to having funds available for the emergent needs when your dog or cat devours a towel or is injured at the park, or in some cases, for just good old fashioned routine care! </p>

			<p>We encourage you to consider the purchase of a policy that would help you and your wallet – making ownership of a dog or cat that much more enjoyable! </p>

			<p>Here are some options to consider:</p>

			<ul>
				<li><a target="_blank" rel="noopener" href="http://www.embracepetinsurance.com/">Embrace</a></li>
				<li><a target="_blank" rel="noopener" href="https://www.petfirst.com/">PetFirst</a></li>
				<li><a target="_blank" rel="noopener" href="http://www.petinsurance.com/">VPI Pet Insurance</a></li>
				<li><a target="_blank" rel="noopener" href="http://www.24petwatch.com/US/pet_insurance/">24 Pet Watch</a></li>
				<li><a target="_blank" rel="noopener" href="http://www.aspcapetinsurance.com/">ASPCA Pet Insurance</a></li>
				<li><a target="_blank" rel="noopener" href="http://trupanion.com/">Trupanion</a></li>
			</ul>

			<h2>Pet Insurance Discount Offer from Trupanion for OPH Adopters</h2>

			<ul>
				<li><a target="_blank" rel="noopener" href="https://ophrescue-production.s3.amazonaws.com/wwwdocs/oph-trupanion-promo.pdf">Trupanion Offer for OPH Adopters</a></li>
				<li><a target="_blank" rel="noopener" href="https://ophrescue-production.s3.amazonaws.com/wwwdocs/trupanion_Policy_Infographic+2019.pdf">Trupanion Policy Infographic</a></li>
				<li><a target="_blank" rel="noopener" href="https://ophrescue-production.s3.amazonaws.com/wwwdocs/trupanion-Questions-Sheet.pdf">Trupanion Question Sheet</a></li>
			</ul>

		</div>
	</div>
</div>
