<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-9 offset-sm-1 col-md-9 offset-md-1 col-lg-9 offset-lg-1">
            <div class="article pages">
                <h1>International Programs</h1>

                <h2>About Our International Partnerships</h2>
                <p>Since 2013, OPH has partnered with international rescue organizations to expand our efforts globally.
                OPH believes in helping deserving dogs regardless of circumstances or location - in our eyes, rescue
                has no borders or boundaries. Rescuing internationally comes with a myriad of unique challenges. For
                instance, in India, temperatures can reach 120 degrees Fahrenheit in the summer, which exposes dogs
                to the risk of dehydration, heat stroke, and kidney failure. Additionally, Turks and Caicos is susceptible
                to natural disasters, which has displaced dogs and destroyed the already limited resources shelters
                have at their disposal. While there are horrific cases of abuse and neglect and inherent challenges
                stateside, we could not turn our back to those animals in need abroad.</p>

                <p>OPH is very selective about our organization partners to ensure the dogs slated for international
                adoptions are screened thoroughly for medical issues and temperament. Like all our dogs, our
                international friends are matched with volunteer foster homes before being adopted into permanent,
                loving placements.</p>

                <p>We are proud to partner with Kannan Animal Welfare in India and the Turks and Caicos SPCA.</p>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-sm-6 col-md-3 offset-md-1 col-lg-3 offset-lg-1">
            <div class="card mb-4 shadow-sm">
              <%= image_tag "international-kaw.jpg", alt: "India Kannan Animal Welfare", class: "card-img-top" %>
              <div class="card-body text-center">
                <a class="btn btn-primary btn-block" role="button" href="/international/kaw">India - Kannan Animal Welfare</a>
              </div>
            </div>
            <div class="card mb-4 shadow-sm">
              <%= image_tag "international-tcspca.jpg", alt: "TCSPCA", class: "card-img-top" %>
              <div class="card-body text-center">
                <a class="btn btn-primary btn-block" role="button" href="/international/tcspca">Turks &amp; Caicos - TCSPCA</a>
              </div>
            </div>
        </div>
        <div class="col-sm-7 col-md-6 col-lg-6">
             <div class="card card-body">
                <h3>Watch Hope for Hope</h3>
                <p><em>Hope for Hope</em> tells the story of a special dog who struggled to survive on the streets of New Delhi, India while raising five puppies -- while unable to use her hind legs. After being rescued by OPH's shelter partner Kannan Animal Welfare, OPH brought Hope on an amazing journey to start a new life with a loving family.</p>
                <a href="/international/hope-for-hope" class="btn btn-large btn-primary">Watch</a>
            </div>
            <div class="card card-body">
                <h3>Watch 7000 Miles Home</h3>
                <p><em>7000 Miles Home</em> follows the work of OPH shelter partner KAW, an animal rescue in New Delhi, that cares for sick and injured street dogs. The film offers a glimpse into the lives of these dogs and their rescuers, the challenges they face, and highlights some heartwarming successes.</p>
                <a href="/international/7000-miles-home" class="btn btn-large btn-primary">Watch</a>
            </div>
            <div class="card card-body card-feature">
                <h3>Adopter &amp; Volunteer Takes OPH to India</h3>

                <p><small><em>An OPH volunteer, Irene Skricki, recently traveled to New Delhi to volunteer with Kannan Animal Welfare, OPH’s partner in India.  Here is the story of her journey.</em></small></p>

                <p> Have you ever had an experience so intense and engaging that you felt that time had stretched out, and weeks went
                by in the course of a single day? A time when you are so in the flow of the experience that you do
                not want it to end?</p>

                <p>I recently had a such an experience -- a trip to India to work with an organization that helps sick and injured dogs
                on the streets of New Delhi. It was a life-changing experience, and has given me and a network of other volunteers
                a way to do something we love while making a meaningful contribution to helping animals in great need.</p>

                <h4>Adoption of an Indian street dog</h4>

                <p>Here&#39;s how the story begins: in March 2017, our beloved spaniel Clara died unexpectedly of a very aggressive
                form of cancer. We were devastated, but after a couple of months, we decided to move ahead and get another dog.
                We could not replace our beloved spaniel, but how could we live a dog-less life?</p>
                <strong><a href="/international/volunteer-takes-oph-to-india">Read the rest of this story »</a></strong>
            </div>
            <div class="card card-body">
                <h3>Donate for Desi Dog Transport</h3>
                <p>Help Support Desi Dogs coming to the U.S. by donating to the transportation and medical costs to bring these amazing dogs to us!</p>
                <a href="/campaigns/13" class="btn btn-primary btn-large">Donate</a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-9 offset-sm-1 col-md-9 offset-md-1 col-lg-9 offset-lg-1">
            <div class="article pages">
                <h2>How you can Help</h2>
                <ul>
                    <li><a href="/foster">Volunteer to Foster a Desi Dog or Potcake</a></li>
                    <li><a href="https://www.facebook.com/kannananimalwelfare/" target="_blank">Donate to Kannan Animal Welfare</a></li>
                    <li><a href="https://tcspca.tc/" target="_blank">Donate to Turks &amp; Caicos SPCA</a></li>
                    <li><a href="/campaigns/13">Donate for International transports</a></li>
                    <li>Learn about Desi Dogs and Potcakes</li>
                </ul>
            </div>
        </div>
    </div>
</div>
