<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-8 offset-sm-4 col-md-8 offset-md-4 col-lg-8 offset-lg-4">
      <div class="pages">
        <h1>Turks &amp; Caicos SPCA</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class="left">
        <%= image_tag "tcspca-2.jpg", alt: "Potcake Missy", class: "rounded img-fluid" %>
        <p class="caption">Potcake Missy ~ 1st OPH Potcake</p>
        <%= image_tag "tcspca-1.jpg", alt: "Potcake Blackie", class: "rounded img-fluid" %>
        <p class="caption">Potcake Blackie</p>
      </div>
    </div>


    <div class="col-sm-8 col-md-8 col-lg-6">
      <div class="article pages">
        <p>The Turks &amp; Caicos SPCA is the oldest established animal welfare organization in the Turks &amp; Caicos
        islands. The TCSPCA volunteers and staff work tirelessly to educate locals about animal welfare and aim
        to cut the number of unwanted puppies born on the islands with regular spay/neuter clinics held
        through the islands. With the support of fantastic volunteer vet teams from the United States, the
        TCSPCA makes annual visits to the islands including Grand Turk, South Caicos and North &amp; Middle
        Caicos where currently no vet care currently exists. Residents from these small less populated islands
        are dependent on the TCSPCA to bring vet care for their pets to the islands.</p>

        <p>Since 2013, OPH has partnered with the TCSPCA. Our partner focuses on helping adult potcakes in
        Turks and Caicos who have little chance of finding forever families in the islands. In 2017, after
        Hurricane Irma, rescue workers in Turks &amp; Caicos scrambled to get back on their feet and rebuild so they could
        continue to provide shelter and carefor homeless animals. Their efforts were halted when a second storm -
        Hurricane Maria slammed into the islands soon after. OPH joined forces with <a href="https://www.facebook.com/SaveDogProject" target="_blank">SAVEDOG Project</a>,
        <a href="https://www.facebook.com/TCSPCA-137439339618179" target="_blank">TCSPCA</a>, <a href="https://www.facebook.com/pamperedpawstci/" target="_blank">Pampered Paws Spa Turks and Caicos</a>, and <a href="https://www.facebook.com/OldeTownePetResortDulles" target="_blank">Olde Towne Pet Resort</a> to assist displaced dogs. With
        Operation Hurricane efforts, these dogs more than a dozen pups safely traveled to in The States to find forever
        homes!</p>

        <p>It truly takes a village to make a difference, and we are thrilled to partner with the TCSPCA who are incredibly
        dedicated to ensuring passionate care is available for dogs in the islands!</p>
      </div>
    </div>
  </div>
</div>
