<div class="row-fluid">
      <div class="span8 offset4">
        <h1>Kannan Animal Welfare, India</h1>
    </div>
</div>

  <div class="span4 eventphoto hidden-phone">
    <img src="https://via.placeholder.com/350x350"></img>
    <br />
    <br />
    <br />
    <br />
    <img src="https://via.placeholder.com/350x350"></img>
  </div>

<div class="row-fluid">
    <div class="span8">
        <div class="article">
            <p>Since 2016, OPH has partnered with animal rescue group <a href="https://www.facebook.com/kannananimalwelfare/" target="_blank">Kannan Animal Welfare (KAW)</a> to help sick,
                injured, elderly and disabled street, or &quot;Desi Dogs,&quot; in the New Delhi region in northern India. The
                partnership began organically when an animal welfare volunteer,
                Meredith Allen, reached out to OPH and began fostering OPH&#39;s
                first two Desi Dogs, Flora (now Meeka) and Jini (now Josie). In
                addition to finding loving, permanent homes for Desi Dogs through
                international adoptions, OPH also collaborates with KAW to
                celebrate World Spay Day by funding spay/neuter campaigns with
                the goal of reducing the number of dogs born into and living on
                the streets. KAW also provides post-operation care at their on-site
                medical facility before releasing them back to their “street
                location” upon full recovery. In addition, KAW provides education
                and outreach to the community about the beauty of the native
                Desi Dogs in effort to shift the local attitude towards street dogs
                and spaying/neutering practices. Since 2016, OPH has welcomed
                over <strong>30 Desi Dogs</strong> and has found adoptive homes for them.</p>

                <p>Desi Dogs live difficult lives on the streets. Sadly, many puppies
                and dogs are hit by cars and they suffer from disease and
                malnutrition. Extreme heat and monsoon floods also bring havoc
                to their daily survival struggle. Two-thirds of puppies born to
                street dogs die before three months of age, and eight out of ten
                die before reaching one year of age. Even with all the trauma these street dogs face, <strong>there are still
                approximately 250,000 street dogs in New Delhi alone</strong>. Many of these dogs are a mix of breeds due to
                the unfortunately-common practice of purebred abandonment. Culturally, and especially in the cities,
                purebred-looking dogs are in great demand, but the native dogs
                are seen as dirty, loud and undesirable. The Desi Dog, however,
                are just superbly built for to meet the challenges of daily survival.
                They are extremely intelligent, agile, intuitive and loyal. In
                addition, they are incredible “characters” filled with love,
                personality, and enthusiasm. Known for their curly tails, tall ears,
                and barrel-like chests, Desi Dogs resemble Whippets, Salukis, and
                Basenjis. They thrive with active, confident families who
                appreciate and enjoy the dogs’ zest for life.</p>

        </div>
    </div>
  </div>
</div>
