<div class="container-fluid">
  <div class="row">
    <div class="col-sm-11 offset-sm-1 col-md-8 offset-md-1 col-lg-8 offset-lg-1">
      <div class="article pages">
        <h1>Kannan Animal Welfare, India</h1>

        <p>Since 2016, OPH has partnered with animal rescue group <a href="https://www.facebook.com/kannananimalwelfare/" target="_blank">Kannan Animal Welfare (KAW)</a> to help sick,
        injured, elderly and disabled street, or &quot;Desi Dogs,&quot; in the New Delhi region in northern India. The
        partnership began organically when an animal welfare volunteer,
        Meredith Allen, reached out to OPH and began fostering OPH&#39;s
        first two Desi Dogs, Flora (now Meeka) and Jini (now Josie). </p>


        <div class="card card-body card-space shadow-sm">
          <h3>Donate for Desi Dog Transport</h3>
          <p>Help Support Desi Dogs coming to the U.S. by donating to the transportation and medical costs to bring these amazing dogs to us!</p>
          <a class="btn btn-primary btn-lg" role="button" href="/campaigns/13">Donate</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-11 offset-sm-1 col-md-8 offset-md-1 col-lg-8 offset-lg-1">
      <div class="article pages">

        <p>The KAW Team in India works tirelessly to rescue sick and injured dogs living on the streets. Their
        days are filled with urgent requests and pleas for help. The team rushes into action to save dogs
        who have been hit by vehicles, suffering from infestations or illness that will overcome them on the
        street, or - sadly - hurt by hands of unpleasant humans. In addition, KAW provides education and
        outreach to the community about the beauty of the native Desi Dogs in effort to shift the local attitude
        towards street dogs and spaying/neutering practices.</p>

        <h2>OPH Partners with KAW</h2>

        <p>Since 2016, OPH has welcomed over <strong>30 Desi Dogs</strong> and has found adoptive homes for them. When
        KAW rescues and rehabilitates a dog, there is a window of time in which the dog can safely be
        returned to its “pack” on the streets. If the recovery for that pup takes too long, it’s difficult to
        acclimate the dogs back to street life and they become a resident at KAW. In order to help KAW
        make room for more incoming dogs, OPH and other international rescues give these beautiful dogs
        a new start here with our organization. This allows KAW to bring new deserving dogs into the KAW
        sanctuary for treatment and recovery.</p>

        <p>In addition to finding loving homes for Desi Dogs through international adoptions, OPH also
        collaborates with KAW to celebrate World Spay Day by funding spay/neuter campaigns with the goal
        of reducing the number of dogs born into and living on the streets. KAW also provides post-operation
        care at their on-site medical facility before releasing them back to their “street location” upon full
        recovery.</p>

        <h2>Desi Dog Daily Life</h2>

        <p>Desi Dogs live difficult lives on the streets. Sadly, many puppies and dogs are hit by cars and they
        suffer from disease and malnutrition. Extreme heat and monsoon floods also bring havoc to their
        daily survival struggle. Two-thirds of puppies born to street dogs die before three months of age, and
        eight out of ten die before reaching one year of age. Even with all the trauma these street dogs
        face, <strong>there are still approximately 250,000 street dogs in New Delhi alone</strong>. Many of these dogs
        are a mix of breeds due to the unfortunately-common practice of purebred abandonment. Culturally,
        and especially in the cities, purebred-looking dogs are in great demand, but the native dogs are seen
        as dirty, loud and undesirable.</p>

        <p>The Desi Dog are excellently built to meet the challenges of daily survival. They are extremely
        intelligent, agile, intuitive and loyal. In addition, they are incredible “characters” filled with love,
        personality, and enthusiasm. Known for their curly tails, tall ears, and barrel-like chests, Desi Dogs
        resemble Whippets, Salukis, and Basenjis. They thrive with active, confident families who appreciate
        and enjoy the dogs’ zest for life. Needless to say – they can make amazing additions to a family and
        we are pleased with work along KAW and help desi dogs!</p>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 d-none d-md-block">
      <div class="right">
        <%= image_tag "kaw-1.jpg", size: '250', alt: "Desi Dogs", class: "shorter-side rounded img-fluid" %>
        <%= image_tag "kaw-2.jpg", size: '250', alt: "Desi Dogs", class: "shorter-side rounded img-fluid" %>
        <%= image_tag "kaw-3.jpg", size: '250', alt: "Desi Dogs", class: "shorter-side rounded img-fluid" %>
      </div>
    </div>
  </div>
</div>
