<div class="row">
	<div class="span4">
		<div class="eventphoto">
			<%= image_tag "k9.jpg" %>
		</div>
	</div>
	<div class="span6">
	<div class="article">

		<h1>K9 Care Packs for Military Working Dogs
		</h1>
		
		<p>Operation Paws for Homes is a dog rescue organization that understands dogs everywhere need love and support.  In addition to our passion for these four legged creatures, OPH also support our troops and the Military Working Dogs that assist our troops in completing their mission both within our own borders and abroad.  As a result, OPH has started an initiative to support the hard working K-9 Military members who tirelessly serve alongside our troops.  To this end, we will be sending care packages to the Furry Service Members who are keeping our troops safe and working in combat zones.  These “K-Packs” will be sent to the K-9 units in hopes of bringing a brighter day to both the K-9 Military members and their handlers.
		</p>
 
		<p>We are putting together the K-Packs with the help of generous donations and support from Corporations as well as donations from dog-loving people like yourself!</p>
 
		<p>Items that we wish to include in our K-Packs</p>
		<ul>
			<li>Toys</li>
			<li>Treats</li>
			<li>Grooming Supplies </li>
			<li>Bones</li>
			<li><a href="http://news.petmeds.com/">PetMeds</a></li>
		</ul>
 
<p>We will be collecting donations at all <a href="/events">adoption events</a>. All donations are tax deductible. Please watch for updates on the K-Pack program on our <a href="https://www.facebook.com/pages/Operation-Paws-For-Homes/125971917423548">Operation Paws for Homes Facebook page</a>.</p>

<p>Military Working Dogs are veterans too.  Let’s give these amazing dogs something that says we appreciate the work that they are doing while serving this great Country!</p>
<p>If you have any questions about our K-Pack program, contact us at <a href="mailto:kpacks@ophrescue.org">kpacks@ophrescue.org</a></p>

	<div class="sidekick">
		<h2>Sponsors</h2>

		<%= link_to image_tag("petco.png") , "http://petco.com" %> 
		<br />
		<br />
		<%= link_to image_tag("afsa_logo.jpg") , "http://www.afsa254.org" %> 

	</div>

	</div>
	</div>
</div>