<div class="container-fluid">
    <div class="col-md-11 offset-1">
        <div class="article pages">
            <h1>Microchip Registration<h1>

            <h2>Enrollment is important!</h2>
            <h3>A chip without enrollment is like a cell phone without service.</h3>

            <p>Thank you for taking an important step in your pet’s health and wellbeing by microchipping your pet!
            But, you must not forget the most important part - ENROLLMENT! In order to get your pet home safe and sound,
            you must enroll your information in the HomeAgain database</p>

            <p>Enroll your pet today, and save $9.00 off your enrollment!</p>

            <p>In order to receive the discounted rate of $10.99, you must enroll your microchip two ways:</p>
                <ul>
                    <li>Logging in at <a target="_blank" href="https://homeagain.com/chipfurkeeps">homeagain.com/chipfurkeeps</a> with the Petfinder Shelter ID <strong>VA600</strong>, then select <strong>For Pet Parents</strong> and proceed with registration.
                    <li>You may also enroll by calling 1-866-802-5650 and providing the Petfinder Shelter ID# <strong>VA600</strong></li>
                </ul>
        </div>
    </div>
</div>
