<div class="container-fluid">
    <div class="col-md-11 offset-1">
        <div class="article pages">
            <h1>Microchip Registration</h1>

            <p>Ensure that your new pet will always be linked to you. Register with HomeAgain and gain free lifetime registration in the HomeAgain National Pet Recovery Database.</p>

            <ul>
                <li>Visit <a target="_blank" rel="noopener" href=https://homeagain.com>HomeAgain.com</a></li>
                <li>Click on <strong>Check Your Status</strong> and enter your pet’s microchip ID number.</li>
                <li>If your pet is already enrolled: Click on <strong>Sign Up for Online Access</strong>.</li>
                <li>If your pet is not enrolled: Click on <strong>Enroll Now</strong>.</li>
            </ul>
        </div>
    </div>
</div>
