<div class="container">
    <div class="row">
        <div class="col-12">
        <h1>Volunteer Newsletters</h1>
            <script language="javascript" src="//ophrescue.us4.list-manage.com/generate-js/?u=<%= ENV['MAILCHIMP_VNA_USER'] %>&fid=<%= ENV['MAILCHIMP_VNA_LIST_ID'] %>&show=30" type="text/javascript"></script>
        </div>
    </div>
</div>
