<div class="row-fluid">
  <div class="span8 offset4">
  
    <h1><%= @title %></h1>
  </div>
</div>  

<div class="row-fluid">
  <div class="span4 eventphoto hidden-phone">
    <%= image_tag "other-ways-to-give-1.jpg"%>
  </div>
    
  <div class="span8">
    <div class="article">

        <h3><a href="http://smile.amazon.com/">Amazon Smile</a></h3>
        
          <p>Do you use Amazon to shop?  Did you know you can shop and support OPH at the same time?  Adding OPH to your shopping trips is easy.  For Amazon, simply go to - http://smile.amazon.com.  Select "Operation Paws for Homes" as your choice of Charity.  Then shop!  It's literally that easy and you can get done shopping and know you helped to save dogs at the same time.</p>

        <h3><a href="http://www.goodsearch.com">GoodSearch</a></h3>

          <p>OPH has joined over 100k other non-profit organizations and schools on GoodSearch. Goodsearch is a search engine, powered by Yahoo, that donates a penny per search to a designated cause. Designate Googsearch.com as your primary search engine and start contributing to the rescue, rehabilitation, and placement of dogs in need, one search at a time!</p>  

          <p>Select "Operation Paws for Homes" as your cause: <a href="http://www.goodsearch.com/">GoodSearch.com</a></p>

        <h3><a href="http://www.igive.com">iGive</a></h3>

          <p>With your iGive account our dogs will receive a donation everytime you shop at over 1,000 online stores, including Crate and Barrel, Buy Buy Baby, Petco, Toys R Us, and over 1,300 more.</p>

          <p>Select "Operation Paws for Homes": <a href="http://www.igive.com">iGive</a></p>

        <h3><a href="http://rescue.petflow.com/operation-paws-for-pets/">PetFlow</a></h3>

          <p>Help keep our rescue dogs healthy and well fed.  Visit our food wishlist on PetFlow.com to purchase much needed dog food for our rescue dogs.  Food is shipped straght to the rescue.  Thanks for your support!</p>

        <h3><a href="http://www.petplaygroundz.com/">PetPlaygroundz</a></h3>

          <p>PetPlaygroundz.com offers a unique and affordable NON-electric dog fence solution. Their extremely effective dog fence system has given rescue dogs all over the country a safe and secure place to run free! It is a proven dog-specific fence that addresses common dog-related fence security issues including digging, chewing, and climbing. It is also easy to install on any type of property.</p>

          <p>Operation Paws for Homes has teamed up with PetPlaygroundz.com to make adopters aware of this unique NON-electric dog fence option and provide adopters the opportunity to save 5% of the purchase of a Do-It-Yourself Dog Fence Kit.</p>

          <p>To take advantage of this offer, simply use the Discount Code OPHRESCUE when ordering a kit. When you use this code, PetPlaygroundz.com will donate 5% of the cost to OPH Rescue!</p>

      <h3><a href="http://www.rescuechocolate.com">Rescue Chocolate</a></h3>

        <p>OPH has found the "Sweetest Way to Save a Life" through Rescue Chocolate. Every time you purchase a chocolate bar from Rescue Chocolate, Operation Paws for Homes will receive a $1 donation. When purchasing the chocolate remember to put "Operation Paws for Homes" in the gift note section.</p>

      <h3><a href="https://daphnew.scentsy.us">Scentsy</a></h3>

        <p>Operation Paws for Homes is a beneficiary of the non-profit revenue sharing program with Scentsy.  Distinctive, decorative Scentsy warmers melt specially formulated scented wax with the heat of a low-watt light bulb, enhancing your home with more than 80 delicious Scentsy fragrances. Scensty also offers Scentsy Buddies, and their Layer line that includes: lip blam, shower cream, lotion, perfume, soap, sanitizer, laundry care products and more.</p>

      <h3><a href="http://thebark.com/">TheBark.com</a></h3>

        <p>As an OPH supporter and fellow dog lover, we know that you will be faced with a lot of questions about your dog on a daily basis – How do I know if my dog is sick? – How do I keep my dog’s coat shiny and lustrous in winter? – How can I cook healthy meals for my dog at home? Well, wouldn’t it be great to have all of these questions and more answered in one great magazine? The Bark magazine provides a wealth of information by experts, such as training and health tips, awesome recipes for homemade treats. There are also great articles on healthy living, activities and sports, food and nutrition, and also wonderful stories about the amazing adventures of dogs and their owners!  All this and more is available to you at just $18 a year, and what’s more, you can help OPH with this purchase too! OPH has recently partnered with The Bark magazine to receive 10% of their subscription sales as donation! Just follow this link and complete an $18 magazine subscription purchase and we will receive a donation! A wonderful way to help your dogs and contribute to OPH! Sign up today!  </p>

      <h3><a href="http://www.usbones.com/mm5/merchant.mvc?Affil=1809">U.S. Dog Bones</a></h3>

        <p>US Bones sells a broad range of US manufactured premium qualtiy dog and cat food, treats, and accessories through a program focused on supporting animal welfare groups. Their initial grass roots efforts consisted primarily of generating awareness through event support; e.g. sponsoring and selling products at fundraising events.  US Bones currently has over 500 partner groups with 6-12 new groups added each month.</p>

        <p>Go to the unique link for OPH to make your purchases.  This will tag your orders so OPH can receive 25% of the order value back to the rescue (pre-tax and pre-shipping amount). </p>

      <h3><a href="http://www.wooftrax.com/">Wooftrax</a></h3>

        <p>Walk Your Dog, Run and Travel on Foot ~ The WoofTrax app is up and "running" with OPH Rescue.  iPhone users install and get outside and walking... and you can raise funds for OPH!  Operation Paws for Homes is listed under Virginia - city Alexandria. The average donation is 25 cents per mile.</p>


    </div>
  </div>
</div>