<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-4 col-lg-8 offset-lg-4">
      <div class="pages">
        <h1>Other Ways to Give</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-lg-4 d-none d-md-block">
      <div class="left">
        <%= image_tag "other-ways-to-give-1.jpg", class: "rounded side img-fluid" %>
        <%= image_tag "other-ways-to-give-2.jpg", class: "rounded side img-fluid" %>
        <%= image_tag "other-ways-to-give-3.jpg", class: "rounded side img-fluid" %>
      </div>
    </div>

    <div class="col-md-8 col-lg-8">
      <div class="article pages">

          <h3><a href="https://www.amazon.com/hz/wishlist/ls/2ES5V15PGIW1C" target="_blank">Amazon Dog Wishlist</a></h3>

          <h3><a href="https://www.amazon.com/hz/wishlist/ls/1PM4C3N3155FT" target="_blank">Amazon Cat Wishlist</a></h3>

          <p>Make a dog or cat's wish come true with our Amazon Wishlist.  We have gathered a list of favorite toys, treats, bones, chews, medical supplies and other cleaning items our foster homes use on a regular basis. Help us treat our foster animals to something special and keep our supplies stocked in our foster homes!</p>



          <h3><a href="http://www.bissell.com/partnersforpets" target="_blank">Bissell's Partners for Pets</a></h3>
          <p>Operation Paws For Homes is proud to be a Partner for Pets! BISSELL and LostPetUSA.net have teamed up to help organizations like ours to raise money, and now you can help too!  When you purchase pet products on <a href="http://www.bissell.com">bissell.com</a> and enter the code <strong>ADOPT</strong> at checkout, a portion of your purchase will be donated to our organization.</p>

          <h3><a href="https://bit.ly/1000toOPH" rel="nofollow" target="_blank" >Realtors to the Rescue</a></h3>

            <p><a href="https://bit.ly/1000toOPH" rel="nofollow" target="_blank" >Realtors to the Rescue</a> is a nationwide referral program to benefit OPH. Are you thinking of buying or selling a home? Make it a moving experience and learn how your transaction can trigger a <strong>$1000 donation in your honor to OPH</strong> and how you can get a $1000 buyer closing cost credit. Visit <a href="https://bit.ly/1000toOPH" rel="nofollow" target="_blank" >Realtors to the Rescue</a> website to learn more.</p>

            <a href="https://bit.ly/1000toOPH" rel="nofollow" target="_blank" ><%= image_tag "sponsors/realtors-to-the-rescue.jpg", class: "img-fluid" %></a>


          <h3><a href="http://www.wooftrax.com/" target="_blank">Wooftrax</a></h3>

            <p>Support us simply by walking your dog! Use the app each time you grab for the leash. It's healthy for you, your dog,
            and OPH.  The average donation is 25 cents per mile.  Find Operation Paws for Homes listed under <strong>Alexandria VA, Baltimore MD, Hanover PA and Washington DC.</strong> </p>

          <h3><a href="http://www.chewy.com/rp/2487" target="_blank">Chewy Dog Food</a></h3>

            <p>OPH is a proud partner with Chewy Dog Food!  Place your online order via our <a href="http://www.chewy.com/rp/2487" target="_blank">Chewy site</a> and OPH will receive a $20 dog food credit towards purchasing food for all of our foster dogs! Chewy has a huge selection of pet food, treats and supplies delivered straight to your door!</p>

            <ul>
              <li>Fast, FREE shipping</li>
              <li>24/7 customer service</li>
              <li>Cheaper than your local store</li>
              <li>Save 20% off your first autoship order</li>
            </ul>

      </div>
    </div>
  </div>
</div>
