<div class="row-fluid">
	<div class="span12">
		<div class="article">

		<h1>Community Partnerships</h1>

		<p>To truly make strides towards ending the overpopulation of animals in the United States,
		OPH understands that we need to do more than adopt – we need to partner with the 
		Rescue World to educate, stop the cycle, and help.  To reach these goals, OPH has 
		formed some incredible partnerships with organizations.  Please take a moment to 
		get to know some of the Movers and Shakers, and Programs that OPH participates 
		in.  We are always looking for volunteers to help us increase our efforts and to provide 
		additional support to these Partners and our goal to end the overpopulation of animals 
		in the U.S. </p>


		<p><strong><a href="http://unchaincc.com/">Unchain Cumberland</a></strong> - This organization is working to make a big impact on the root 
		of the pet overpopulation problem – Spay and Neuter!  We are proud to support the 
		amazing work being done at Unchain Cumberland and thank the amazing individuals 
		who are working to change the mindset of families who need some extra nudging to 
		spay and neuter their animals.</p>


		<p><strong><a href="http://www.brvbb.com/index.pml">Blue Ridge Blood Bank</a></strong> - This Blood Bank fields calls from across the continent from 
		Veterinarians needing blood to perform lifesaving blood transfusions on dogs.  OPH is 
		proud to support the incredible efforts of the Blood Bank and is honored that Adopted 
		OPH dogs given regularly to this amazing cause.  Please check out their website to see 
		how your dog can become a True Lifesaver!</p>


		<p><strong><a href="http://www.hopedogs.org/">Nursing Home Program </a></strong>- HOPE (Hounds of Prison Education) is a non-profit service 
		that helps homeless dogs receive training to prepare them for adoption by a forever 
		home!  Integracare (a network of assisted living facilities) contracts with HOPE to train 
		low-key dogs for placement into an assisted living facility where they will enjoy life with 
		100+ dotting moms and dads!  OPH is proud to work with these organizations to bring 
		years of happiness to several moms and dads.</p>

    <p><strong><a href="http://www.mdpetgazette.com/">Maryland Pet Gazette</a></strong> - Maryland Pet Gazette promotes animal education and awareness to over 320,000 readers annually. </p>


		<p><strong><a href="http://www.humanesociety.org/issues/spay_day/">World Spay Day</a></strong> – This is a national movement we are proud to participate in!  Each 
		year, OPH sponsors the spay/neuter of dogs whose families are unable to afford the 
		cost of the procedure.  It’s an amazing opportunity to make a direct impact on the 
		overpopulation of unwanted dogs in America.  We always need volunteers to help greet 
		families, screen applications and assist in the Day Of festivities.</p>

		<h1>Associations</h1>

		<p><strong><a href="http://www.heartwormsociety.org/">Heartworm Society of America</a></strong></p>

		<p><strong><a href="http://www.vaashelters.com/">Virginia Alliance for Animal Shelters</a></strong></p>

		<p><strong><a href="http://www.cpaa.info/">Central Pennsylvania Animal Alliance (CPAA)</a></strong></p>

    <p><a href="http://generationwags.com/pawsitive-action-alliance"><img src='assets/pawsitiveaa.jpg'></a></p>




	</div>
	</div>
</div>