<div class="row">
<h1>The Adoption Process</h1>

<h2>Application</h2>
<%= image_tag("floats/smokey.jpg", :class => "floatRight") %>
<p>Each prospective adopter must submit an adoption application. Once we receive an application, we know that potential adopters are serious about moving forward and finding a new addition to their family. If you currently own a dog or cat, it must be up to date on its shots and spayed/neutered for your application to be accepted. We will need to verify this information with your pet's vet or personal records.  Our volunteers will also contact your personal references, landlord (if applicable), and you to discuss your interest in owning a dog.</p>

<p>Sometimes we will also conduct a home check, which is at our discretion and usually done for those first-time dog owners. Dogs from animal shelters can be amazing escape artists. By visiting your home, we can help identify potential escape routes and let you know the best way to ensure that your new friend doesn’t sneak away.</p>

<p><strong>The process to adopt varies based on how quickly we can reach your references and when you are able to meet with the foster for a meet and greet to make a final decision. You can expect it to take 3 to 14 days.</strong> We adopt to the first approved and first available adopter. If the dog on your application becomes unavailable during this process or before you are ready to adopt, OPH will gladly help you find a different dog that is right for your family.

<h2>Meet and Greet</h2>

<p>Our volunteers must approve your application before you meet a dog in foster care. This way if the meeting goes well, you can finalize your adoption immediately. We prefer that everyone in the household, including any current dogs, come to the appointment because adopting a dog requires a commitment from everyone. The foster will be able to provide you with a wealth of personality information about the dog. During the meeting, you can interact with the dog to ensure that he/she is exactly what you want and make a final decision about adopting.</p>


<h2>Adoption</h2>

<p>You must complete our adoption agreement and pay the applicable fee by check or money order. If your adopted dog is too young to be spayed/neutered, you will be required to sign a spay/neuter agreement and pay a deposit to have your dog be spayed/neutered within 1 month of when he/she is age appropriate. Once this has been verified, your spay/neuter deposit check will be returned to you.</p>

<p>The adoption fee is non-refundable. Please remember that adoption fees barely cover our expenses of rescuing a dog. Additional <a href="/donate">donations</a> are greatly appreciated and will help us continue our life-saving work.</p>
 
<p>If, at the time of adoption, your dog was not already spayed/neutered, you will be required to agree to spay/neuter your dog and provide us a deposit fee. Our adoption contract requires all dogs to be spayed/neutered within 1 month of adoption or when age appropriate. Once this has been verified, your deposit check will be returned to you</p>

<h2>Follow up</h2>

<p>Our goal is to help you enjoy life with your new dog to the fullest extent possible. If issues arise, or you just need some good advice, we are happy to do follow-up counseling by telephone and email. We can also suggest dog trainers in the area as additional resources. At the time of adoption, you are provided with a pamphlet full of information and links to online resources to help with behavioral related issues like house training and basic commands.</p>

<h2>If Anything Prevents You From Keeping Your Dog</h2>
<p>Sometimes situations arise which cannot be helped. If, for any reason, you are unable to keep a dog you’ve adopted from Operation Paws for Homes, the dog cannot be given away. It doesn’t matter how much time has passed since the adoption. You must either return the dog to Operations Paws for Homes, or obtain approval from Operations Paws for Homes to transfer ownership to a friend or relative.</p>

</div>