<div class="row-fluid">
	<div class="span12">
	<div class="article">

	<h1>Day One Guide for New Adoptions</h1>
	
	<p>Greetings to you and your lucky dog, and best wishes on a safe arrival and smooth adjustment period into their new home.  Below is a basic guide to help you transition after adoption while everyone settles in with a new member of the family.</p>
	
	<h3>We have a new dog!  Now what?!</h3>
	
	<p>Bringing home a new four legged family member is exciting!  But there are a few important things to remember.  Dogs need time to adjust to new environments just like humans!  Count on your new dog marking or having accidents in the first few days.  This will happen even if they are housetrained.  You should also be prepared for some transitional behavioral problems.  Each dog will need to adjust to the rules and schedule of your home. </p>

	<p>Dogs are like people and may need a couple of days to adjust to their new surroundings.  Please understand that the dog food you bought… may not be what they want initially.  Your new addition may have loose stool when transitioning to a new food.  If you encounter this, be sure to add chicken and rice (boiled – human version) to their diet to help with the transition.  If they don’t seem interested, add wet food or chicken to their food to encourage them to eat.  If the problem persists beyond the first 24 hours (or is accompanied by vomiting or diarrhea) then let us know and contact a vet.  If you do not contact us, we cannot help in problem solving.  Remember, this is a dog, not a toy, and things can happen!</p>

	<p>Dog’s are pack animals, so you should be the leader in their eyes.  As their leader, you should set them up for success… not failure.  So look around and “puppy proof” your home.  Don’t leave out shoes or other items they may try to chew on.  Don’t leave your new dog unattended in the home.  When you are unable to supervise them, confine them to a crate, kitchen or other secure area.  When walking, remember that this is a dog!  Keep them on a leash to prevent them from darting in front of a car or running to chase a neighbor’s cat.</p>
	
	<h3>Additional Information</h3>
	
	<h4>For housetraining or housebreaking complications:</h4>
	<ul>
		<li><a href="http://bit.ly/hbpuppy">Housebreaking Your New Puppy</a></li>
		<li><a href="http://bit.ly/hbolder">Housebreaking the Older Dog</a></li>
	</ul>
	
	<h4>For behavioral related issues including dominance and aggression</h4>
	<ul>
		<li><a href="http://www.wonderpuppy.net/canwehelp/behaveD.htm">Behavioral Problems - Dogs</a></li>
		<li><a href="http://www.canismajor.com/dog/aggres1.html">Development and Correction of Canine Aggression</a></li>
		<li><a href="http://www.dogsonly.org/Dominance.html">Aggression Due to Dominance</a></li>
	</ul>
	
	<h4>Medical Issues</h4>
	
	<p>For a quick reference-style guide on generic symptoms and illnesses, please refer to the guide that has been included in your welcome packet.  When a physical condition may require emergency medical care, see <strong><a href="http://www.canismajor.com/dog/emerlist.html">List of Pet Health Emergencies</a></strong></p>
	
	<h4>Puppy Worms</h4>
	
	<p>Yes, puppies do have worms sometimes!  We deworm the dogs the minute they enter foster care.  However, one deworming may not be enough.  Some websites suggest that 90% of puppies have some form of worm.  Additionally, a second or third deworming is often needed to kill off the hatched eggs that the first deworming did not eliminate.  If you see worms within the first week or two of bringing home your new puppy, <a href="/contact">please contact us!</a>  </p>
	
	<h4>Other Information</h4>

	<p>And a personal favorite, that will cover the importance of ownership, general training advice, obedience tips. The official dog training headquarters itself: <a href="http://www.dogtraininghq.com/">dogtrainginghq.com</a></p>

	<p>Please don’t hesitate to contact your adoption coordinator if there are any concerns that are beyond the advice that follows.  We will do our best to point you in the right direction for answers to your questions!  And thank you for everything that you have done.</p>

	<h3>Puppy Chewing Tips</h3>

	<p>Puppies need to chew.  It’s part of their growing and learning process.  They chew to learn about their environment, exercise their jaws, test their rank in the pack, ease the pain of teething and just pass the time.  It’s nearly impossible to stop a puppy from chewing all together so it’s easiest to try to channel the chewing to chew toys.  </p>
	<p>Providing your puppy with approved chewing opportunities will help to eliminate the chances for him/her to chew things they shouldn't.  Anytime your puppy is left in a crate or secured space, it should have a chew toy available to keep it busy.  In fact, it’s not a bad idea to provide your puppy something to chew on at all times as someone can’t be playing with or paying attention to him/her at all times.  </p>
	<p>Keeping the puppy under constant supervision when you’re home is the easiest way to avoid unwanted chewing.  This is very tough and time consuming.  </p>
	<p>If you do catch your puppy chewing, make an “aagghhtt” sound and remove the object from the puppy (or the puppy from the object if it’s something large like a piece of furniture).  Immediately provide a suitable substitute for the puppy to chew on and praise the puppy for chewing the approved object.  </p>
	<p>Taste deterrents such as Bitter Apple can be used also.  These will leave an unpleasant taste in the puppy’s mouth and discourage it from chewing that object again.  </p>
	<p>If you choose to use a taste deterrent make sure to test it in a hidden place first to ensure it does not stain or discolor the item it is being used on.  </p>
	<p>You can also use a Kong and stuff it with all natural peanut butter for your puppy to chew on.  You can freeze the Kong, adding longer lasting mental and physical stimulation for your puppy.  The cold will also help ease the pain of teething.</p>
	<p>Just don’t forget, it is perfectly natural for your puppy to chew and you should expect it to.  It’s YOUR responsibility to make sure he/she is chewing the appropriate items.  Puppy proofing a house should be very similar to child proofing a house!</p>

	<h3>Puppy Potty Training Tips</h3>

	<p>Having a routine and schedule is of vital importance to your new puppy and their potty training.  It is important that you are consistent with him/her at all times.  You should pick a place where you would like for the puppy to go potty and when it’s time to go out, take him/her to that spot, on leash, and stand quietly for about 10 minutes waiting for the puppy to go to the bathroom. If after about 10 minutes he/she does not eliminate, simply take him/her back inside without saying a word and wait about 10 minutes and then try again.  The first few times it may take awhile and this does require some patience.  Once he/she does go, make a big deal tell him/her how good they are and even offer a treat.  Once the puppy is consistently going in his/her spot you can start incorporating the word “potty” to associate the word with the action.  You can do this by simply saying “good potty” to the puppy the second he/she starts to eliminate.  It is imperative to praise/treat as soon as the last drop leaves their body. </p>

	<p>If you want to then let the puppy play, after he/she has gone potty you should bring him/her back in the house, even if only for a minute to indicate this was just a potty trip.  You can then let him/her back outside for playtime.  It is important to distinguish between potty time and play time. </p>
		
	<p>Remember that puppies ALWAYS need to go potty after the following: waking up from a nap, eating or playing.  Even if they went previous to one of these things, they should always be taken out again because all of these will stimulate the puppy inciting the need to potty.</p>
		
	<p>For the first few weeks you should take the puppy out as often as possible.  Start with small time increments, 2-3 hours and as he/she shows signs they are able to hold it for that long you can increase the length of time to 4 or 5 hours.  Keep in mind that puppies are still growing and their bladders are not developed yet so patience and consistency is important.  </p>
		
	<p>Once you know the puppy can hold it for several hours you should get him/her on a regular schedule.  This will help them understand when it’s time to go potty and also help with the development of their bladder. </p>

	<h3>Puppy Exercise Tips</h3>
	
	<p>Getting your puppy the proper amount of exercise is imperative.   This is especially true for high energy breeds such as labs, hounds and terriers as these dogs were bred to do a specific job. Feeding this need for stimulation will help your puppy act in a more appropriate manner in the house.  It will eliminate things like unwanted chewing, barking or other disruptive/destructive behaviors.</p>
	
	 <p>Exercise can come in many forms or fashions but it’s important to know what is actually stimulating and what is not.  Your puppy must be mentally and physically engaged.  Simply going for a walk isn’t really enough exercise and it is not mentally engaging.  It would be no different than you walking to the mailbox and calling that your exercise for the day.  Here are some ways that you can help get your puppy the exercise it requires:<p>
	 
	 <ul>
		<li>Play fetch</li>
		<li>Practice food bowl exercises</li>
		<li>Go for a jog once the puppy has been cleared by the vet.</li>
		<li>Go for a hike and encounter new sights, scents and walking terrains.</li>
		<li>Take a trip to your <a href="http://g.co/maps/hr6tn">local dog park</a></li>
		<li>Play hide and seek</li>
	 </ul>
	 
	 <p>The list is really endless if you use your imagination and we can’t stress enough the importance of making sure he is both physically AND mentally exhausted.  Chances are if you’re not tired, neither is your puppy!</p>
	 
	 <h3>Make Copies</h3>
	 
	 <p>Please be sure to make a copy of all of your records.  You never know when a four-legged someone may find them and try to snack on them!</p>
	 
	 <h3>Smart Shopping</h3>
	 
	 	<p>Try these sites for discounts on important pet medications:</p>
		<ul>
			<li><a href="http://www.entirelypets.com/">Entirely Pets</a></li>
			<li><a href="http://www.1800petmeds.com/">1-800-Petmeds</a></li>
			<li><a href="http://www.petcarerx.com/">PetCare Rx</a></li>
			<li><a href="http://www.budgetpetcare.com">Budget Pet Care</a></li>
		</ul>
		
	</div>
	</div>
</div>