<div class="row">
	<div class="span12 offset2">
	<div class="article">

	<h1>Resources for Adopters</h1>
	
	<h2>Adoption Folder</h2>
	
		<ul>
			<li><a href="/process">Our Adoption Process</a></li>
			<li><a href="#">Adoption Contract</a></li>
			<li><a href="/shoppinglist">New Dog Shopping List</a></li>
			<li><a href="/puppyguide">Day One Guide for Puppies</a></li>
		</ul>
	

	<h2>Other Sites</h2>

	<p>Adopting a pet can mean a big life change for even the most experienced pet owner.  Fortunately there are many free resources available online to help with quick questions and to get you on your way.  We’ve included some links that our volunteers have found useful and interesting.</p>
 
	<p>Note that none of these should be a substitute for professional veterinary advice – or your own sound judgment about your own animal family members.</p>

	<h3>For Potential Adopters</h3>
	
	<ul>
		<li><a href="http://www.acesangels.org/articles.html" target="_blank">Why Adopt a Dog?</a></li>
		<li><a href="http://www.petfinder.com/before-pet-adoption/dog-adoption-checklist.html" target="_blank">Adoption Checklist</a></li>
		<li><a href="http://www.americanhumane.org/animals/adoption-pet-care/are-you-ready.html" target="_blank">Am I Ready to Adopt?</a></li>
		<li><a href="http://www.aspca.org/adoption/pet-care-costs.aspx" target="_blank">What are the costs of caring for a pet?</a></li>
		<li><a href="http://www.blackdogrescueproject.com/black-dog-syndrome.html" target="_blank">Why do black dogs need our help even more?</a></li>
		<li><a href="http://www.americanhumane.org/animals/adoption-pet-care/is-a-dog-right-for-you.html" target="_blank">Is a Dog Right for Me?</a></li>
	</ul>
	
	<h3>New Pet Owners</h3>
	
	<ul>
		<li><a href="http://www.dogfencediy.com/rescue-dog/" target="_blank">Adopting a Rescue Dog: The First Seven Days</a></li>
		<li><a href="http://www.blackdogrescueproject.com/basic-dog-obedience-training.html" target="_blank">General Training Tips</a></li>
		<li><a href="http://dogtrainer.quickanddirtytips.com/dog-growls-snaps.aspx" target="_blank">What to Do If Your Dog Growls or Snaps</a></li>
		<li><a href="http://wamuanimalhouse.org/" target="_blank">The Animal House</a></li>
		<li><a href="http://www.doggoes.com/iphone/dog-park-finder" target="_blank">Dog Park Finder</a></li>
	</ul>
	
	<h3>Health</h3>
	
	<ul>
		<li><a href="" target="_blank"></a></li>
		<li><a href="" target="_blank"></a></li>
		<li><a href="" target="_blank"></a></li>
		<li><a href="" target="_blank"></a></li>
		<li><a href="" target="_blank"></a></li>
		<li><a href="" target="_blank"></a></li>
	</ul>
	
	<h3>Life Changes and Your Pet</h3>

	</div>
		<li><a href="" target="_blank"></a></li>
		<li><a href="" target="_blank"></a></li>
		<li><a href="" target="_blank"></a></li>
		<li><a href="" target="_blank"></a></li>
		<li><a href="" target="_blank"></a></li>
		<li><a href="" target="_blank"></a></li>
	</div>
</div>