<div class="row-fluid">

  <div class="span8 offset4">
    <h1>Resources for Adopters</h1>
  </div>
</div>

<div class="row-fluid">
  <div class="span4 eventphoto hidden-phone">
      <%= image_tag "resources-1.jpg" %>
      <p class="caption">Lucille's family choose adoption because they saw the overwhelming need to find families for homeless and mistreated animals.  Her mom says "The look in her eyes constantly reminds us of just how loyal a rescue pet can be. We look forward to the day when we will be able to foster pets in need."</p>
    <br />
    <br />
    <br />
    <br />
    <%= image_tag "resources-2.jpg" %>
    <p class="caption">OPH Alumni Trevor's mom adores her big man!  Mom says "Trevor rescued me probably more effectively than I rescued him, and if I had to do it all again I would do it exactly the same way.  I chose adoption because I believe every dog deserves to know what its like to sleep on the bed, to smell the ocean and feel the sand between their toes, and to fall asleep content in the knowledge that the morning will bring sleepy kisses and a chance to see a brand new day, complete with squirrels and bully sticks and rides in a Jeep." </p>
  </div>

  <div class="span8">
  <div class="article">



  <h2>Adoption Folder</h2>

    <p>You will receive a copy of each of these documents in your adoption folder.</p>

    <ul>
      <li><a href="/docs/adoption-contract.pdf">Adoption Contract</a></li>
      <li><a href="/docs/spay-neuter-agreement.pdf">Spay and Neuter Agreement</a></li>
      <li><a href="/docs/oph-adopt-info.pdf">OPH Adoption Info</a></li>
      <li><a href="/puppyguide">Day One Guide for Puppies</a></li>
      <li><a href="/docs/day-one-guide-for-adults.pdf">Day One Guide for Adults</a></li>
      <li><a href="/docs/spay-and-neuter-clinics-va-md-dc-pa.pdf">Spay and Neuter Clinics (VA/MD/DC/PA)</a></li>
      <li><a href="/docs/toxic-food-and-nutrition-info.pdf">Toxic Food and Nutrition Info</a></li>
      <li><a href="/docs/guide-to-adopting.pdf">Guide To Adopting</a></li>
      <li><a href="/docs/fun-places-to-go.pdf">Fun Places to Go</a></li>
      <li><a href="/shopping">New Dog Shopping List</a></li>
      <li><a href="/docs/vaccine-records-form.pdf">Vaccine Records Form</a></li>
      <li><a href="/docs/puppy-mange.pdf">Puppy Mange</a></li>
    </ul>


  <h2>Other Sites</h2>

  <p>Adopting a pet can mean a big life change for even the most experienced pet owner.  Fortunately there are many free resources available online to help with quick questions and to get you on your way.  We’ve included some links that our volunteers have found useful and interesting.</p>

  <p>Note that none of these should be a substitute for professional veterinary advice – or your own sound judgment about your own animal family members.</p>

  <h4>For Potential Adopters</h4>

  <ul>
    <li><a href="http://www.petfinder.com/before-pet-adoption/dog-adoption-checklist.html">Adoption Checklist</a></li>
    <li><a href="http://www.americanhumane.org/animals/adoption-pet-care/are-you-ready.html">Am I Ready to Adopt?</a></li>
    <li><a href="http://www.aspca.org/adopt/pet-care-costs">What are the costs of caring for a pet?</a></li>
    <li><a href="http://www.blackdogrescueproject.com/black-dog-syndrome.html">Why do black dogs need our help even more?</a></li>
    <li><a href="http://www.americanhumane.org/animals/adoption-pet-care/is-a-dog-right-for-you.html">Is a Dog Right for Me?</a></li>
    <li><a href="http://www.rent.com/pet-friendly-apartments">Pet-Friendly Apartment Finder</a></li>
  </ul>

  <h4>New Pet Owners</h4>

  <ul>
    <li><a href="http://www.dogfencediy.com/rescue-dog/">Adopting a Rescue Dog: The First Seven Days</a></li>
    <li><a href="http://www.blackdogrescueproject.com/basic-dog-obedience-training.html">General Training Tips</a></li>
    <li><a href="http://dogtrainer.quickanddirtytips.com/dog-growls-snaps.aspx">What to Do If Your Dog Growls or Snaps</a></li>
    <li><a href="http://www.americanhumane.org/animals/adoption-pet-care/dog-behavior/introducing-dogs-to-cats.html">Introducing Dogs to Cats</a></li>
    <li><a href="http://www.aspca.org/pet-care/virtual-pet-behaviorist/cat-behavior/introducing-your-cat-new-dog">Introducing Your Cat to a New Dog</a></li>
    <li><a href="http://www.ehow.com/how_2053587_introduce-dog-cat.html">How to Introduce a Dog to a Cat</a></li>
    <li><a href="http://www.101-dog-training-tips.com/Housebreaking.shtml">Housetraining and Potty Training</a></li>
    <li><a href="/docs/no-time-for-your-dog.doc">No Time For Your Dog?</a></li>
  </ul>

  <h4>Health</h4>

  <ul>
    <li><a href="http://www.adoptapet.com/public/spay_and_neuter/index.html">Why to Spay/Neuter Your Pets</a></li>
    <li><a href="http://www.entirelypets.com/toxicplants.html">Toxic Plants that are Poisonous to Dogs</a></li>
    <li><a href="http://www.aspca.org/pet-care/poison-control/people-foods.aspx">Foods that are Poisonous to Pets</a></li>
    <li><a href="http://www.fda.gov/AnimalVeterinary/SafetyHealth/RecallsWithdrawals/default.htm">Updated Pet Food Recall List</a></li>
    <li><a href="http://www.organic-pet-digest.com/common-dog-health-problems.html">Holistic alternatives for common dog health problems</a></li>
  </ul>

  <h4>Children and Dogs</h4>

  <ul>
    <li><a href="http://petid.homeagain.com/Newsletters/2013/July/teach-your-kids-to-be-good-pet-parents.aspx">Teach Your Kids to Be Good Pet Parents</a></li>
    <li><a href="http://www.sheknows.com/pets-and-animals/articles/2212/kids-and-pets">Pets Are Good For Children and Development</a></li>
    <li><a href="http://www.liamjperkfoundation.org/_assets/downloads/coloring_book.pdf">Downloadable Coloring Book about Kids and Dogs</a></li>
  </ul>

  <h2>Books</h2>

  <h4>Dog Rescue Books</h4>
  <ul>
    <li>The Little Blue Dog Series - by Karen J. Roberts</li>
    <li>Shelter Dogs - Traer Scott </li>
    <li>The Possibility Dogs: What a Handful of "Unadoptables" Taught Me About Service, Hope and Healing - Susannah Charleson</li>
  </ul>


  <h4>Children's Books about Dogs and Pet</h4>
    <ul>
      <li>Puppy Training for Kids - by Sarah Whitehead</li>
      <li>Be a Dog’s Best Friend - by Renee Payne</li>
      <li>May I Pet Your Dog - by Stephanie Calmenson</li>
      <li>Tails Are Not for Pulling - by Elizabeth Verdick</li>
    </ul>


  <h4>Dog Training and Behavior Books</h4>
    <ul>
      <li>How to be the Leader of the Pack - Patricia McConnell</li>
      <li>I'll Be Home Soon: How to Prevent and Treat Separation Anxiety - Patricia McConnell</li>
      <li>Way to Go!  How to Housetrain a Dog of Any Age - Patricia McConnell</li>
      <li>The Cautious Canine - How to Help Dogs Conquer Their Fears - Patricia McConnell </li>
      <li>The Culture Clash - Jean Donaldson</li>
      <li>Canine Body Language: A Photographic Guide Interpreting the Native Language of the Domestic Dog - Brenda Aloff</li>
    </ul>

</div>