<div class="row">
	<div class="span12 offset2">
	<div class="article">

	<h1>Resources for Adopters</h1>
	
	<h2>Adoption Folder</h2>
	
		<p>You will receive a copy of each of these documents in your adoption folder.</p>
	
		<ul>
			<li>Adoption Contract</li>
			<li><a href="/shopping">New Dog Shopping List</a></li>
			<li><a href="/puppyguide">Day One Guide for Puppies</a></li>
		</ul>
	

	<h2>Other Sites</h2>

	<p>Adopting a pet can mean a big life change for even the most experienced pet owner.  Fortunately there are many free resources available online to help with quick questions and to get you on your way.  We’ve included some links that our volunteers have found useful and interesting.</p>
 
	<p>Note that none of these should be a substitute for professional veterinary advice – or your own sound judgment about your own animal family members.</p>

	<h3>For Potential Adopters</h3>
	
	<ul>
		<li><a href="http://www.petfinder.com/before-pet-adoption/dog-adoption-checklist.html">Adoption Checklist</a></li>
		<li><a href="http://www.americanhumane.org/animals/adoption-pet-care/are-you-ready.html">Am I Ready to Adopt?</a></li>
		<li><a href="http://www.aspca.org/adoption/pet-care-costs.aspx">What are the costs of caring for a pet?</a></li>
		<li><a href="http://www.blackdogrescueproject.com/black-dog-syndrome.html">Why do black dogs need our help even more?</a></li>
		<li><a href="http://www.americanhumane.org/animals/adoption-pet-care/is-a-dog-right-for-you.html">Is a Dog Right for Me?</a></li>
	</ul>
	
	<h3>New Pet Owners</h3>
	
	<ul>
		<li><a href="http://www.dogfencediy.com/rescue-dog/">Adopting a Rescue Dog: The First Seven Days</a></li>
		<li><a href="http://www.blackdogrescueproject.com/basic-dog-obedience-training.html">General Training Tips</a></li>
		<li><a href="http://dogtrainer.quickanddirtytips.com/dog-growls-snaps.aspx">What to Do If Your Dog Growls or Snaps</a></li>
	</ul>
	
	<h3>Health</h3>
	
	<ul>
		<li><a href="http://www.aspca.org/pet-care/poison-control/people-foods.aspx">Foods that are Poisonous to Pets</a></li>
		<li><a href="http://www.fda.gov/AnimalVeterinary/SafetyHealth/RecallsWithdrawals/default.htm">Updated Pet Food Recall List</a></li>
		<li><a href="http://www.organic-pet-digest.com/common-dog-health-problems.html">Holistic alternatives for common dog health problems</a></li>
	</ul>

</div>