<div class="row-fluid">

  <div class="span8 offset4">
    <h1>Resources for Adopters</h1>
  </div>
</div>

<div class="row-fluid">
  <div class="span4 eventphoto hidden-phone">
      <%= image_tag "resources-1.jpg" %>
      <p class="caption">Lucille's family choose adoption because they saw the overwhelming need to find families for homeless and mistreated animals.  Her mom says "The look in her eyes constantly reminds us of just how loyal a rescue pet can be. We look forward to the day when we will be able to foster pets in need."</p>
    <br />
    <br />
    <br />
    <br />
    <%= image_tag "resources-2.jpg" %>
    <p class="caption">OPH Alumni Trevor's mom adores her big man!  Mom says "Trevor rescued me probably more effectively than I rescued him, and if I had to do it all again I would do it exactly the same way.  I chose adoption because I believe every dog deserves to know what its like to sleep on the bed, to smell the ocean and feel the sand between their toes, and to fall asleep content in the knowledge that the morning will bring sleepy kisses and a chance to see a brand new day, complete with squirrels and bully sticks and rides in a Jeep." </p>
  </div>

  <div class="span8">
  <div class="article">

  <h2>Adoption Resources</h2>

  <p>Adopting a pet can mean a big life change for even the most experienced pet owner.  Fortunately there are many free resources available online to help with quick questions and to get you on your way.  We’ve included some links that our volunteers have found useful and interesting.</p>

  <p>Note that none of these should be a substitute for professional veterinary advice – or your own sound judgment about your own animal family members.</p>

  <h4>For Potential Adopters</h4>

  <ul>
    <li><a target="_blank" href="http://www.petfinder.com/before-pet-adoption/dog-adoption-checklist.html">Adoption Checklist</a></li>
    <li><a target="_blank" href="http://www.americanhumane.org/animals/adoption-pet-care/are-you-ready.html">Am I Ready to Adopt?</a></li>
    <li><a target="_blank" href="http://www.aspca.org/adopt/pet-care-costs">What are the costs of caring for a pet?</a></li>
    <li><a target="_blank" href="http://www.americanhumane.org/animals/adoption-pet-care/is-a-dog-right-for-you.html">Is a Dog Right for Me?</a></li>
    <li><a target="_blank" href="http://www.rent.com/pet-friendly-apartments">Pet-Friendly Apartment Finder</a></li>
    <li><a target="_blank" href="https://www.consumeraffairs.com/pets/pet-food/">Dog Food Reviews</a></li>
    <li><a target="_blank" href="https://www.caring.com/senior-living/assisted-living/benefits-of-elderly-owning-pets">Assisted Living for Seniors with Pets</a></li>
  </ul>

  <h4>For Approved Adopters</h4>

  <p>The following documents are important to the adoption process, both for the meet and greet and bringing your new dog home.  Please review the documents in each link and talk to your adoption coordinator or foster if you have any questions.  </p>

  <ul>
    <li><a href="/docs/oph-contract.pdf">Offical OPH Adoption Contract</a></li>
    <li><a href="/docs/spay-neuter-agreement.pdf">Spay/Neuter Agreement</a></li>
    <li><a href="/docs/staged-introductions-for-your-new-dog.pdf">Staged Introductions for Your New Dog</a></li>
    <li><a href="/docs/5-common-mistakes-by-new-adopters.pdf">5 Common Mistakes Made by New Adopters</a></li>
    <li><a  target="_blank" href="http://www.dogfencediy.com/rescue-dog/">Adopting a Rescue Dog: The First Seven Days</a></li>
    <li><a href="/docs/blue-adult-packet-1.16.17.pdf">Adult Adoption Packet</a></li>
    <li><a href="/docs/red-puppy-pack-1.16.17.pdf">Puppy Adoption Packet</a></li>
    <li><a href="/docs/new-puppy-info.pdf">New Puppy Information</a></li>
    <li><a href="/docs/crate-training-and-potty-training-your-pup.pdf">House and Crate Training</a></li>
    <li><a href="/docs/what-to-buy-ahead-of-time.pdf">What to Buy Ahead of Time</a></li>
    <li><a  target="_blank" href="http://www.americanhumane.org/animals/adoption-pet-care/dog-behavior/introducing-dogs-to-cats.html">Introducing Dogs to Cats</a></li>
    <li><a  target="_blank" href="http://www.aspca.org/pet-care/virtual-pet-behaviorist/cat-behavior/introducing-your-cat-new-dog">Introducing Your Cat to a New Dog</a></li>
    <li><a  target="_blank" href="http://www.ehow.com/how_2053587_introduce-dog-cat.html">How to Introduce a Dog to a Cat</a></li>
    <li><a href="/tips-for-finding-lost-pets">Finding Lost and Missing Pets</a</li>
    <li><a target="_blank" href="https://talkdoglogic.wordpress.com/2017/12/30/is-your-dog-friendly/">Is Your Dog Friendly?</a></li>
    <li><a href="/docs/the-difference-between-a-dog-trainer-and-a-behavior-consultant.pdf">The Difference between a Dog Trainer and a Behavior Consultant</a></li>
  </ul>

  <h4>Health</h4>

  <ul>
    <li><a target="_blank" href="http://www.adoptapet.com/public/spay_and_neuter/index.html">Why to Spay/Neuter Your Pets</a></li>
    <li><a target="_blank" href="http://www.entirelypets.com/toxicplants.html">Toxic Plants that are Poisonous to Dogs</a></li>
    <li><a target="_blank" href="http://www.aspca.org/pet-care/animal-poison-control/people-foods-avoid-feeding-your-pets">Foods that are Poisonous to Pets</a></li>
    <li><a target="_blank" href="http://www.fda.gov/AnimalVeterinary/SafetyHealth/RecallsWithdrawals/default.htm">Updated Pet Food Recall List</a></li>
    <li><a target="_blank" href="http://www.organic-pet-digest.com/common-dog-health-problems.html">Holistic alternatives for common dog health problems</a></li>
  </ul>

  <h4>Children and Dogs</h4>

  <ul>
    <li><a target="_blank" href="http://petid.homeagain.com/Newsletters/2013/July/teach-your-kids-to-be-good-pet-parents.aspx">Teach Your Kids to Be Good Pet Parents</a></li>
    <li><a target="_blank" href="http://www.sheknows.com/pets-and-animals/articles/2212/kids-and-pets">Pets Are Good For Children and Development</a></li>
    <li><a target="_blank" href="http://www.liamjperkfoundation.org/_assets/downloads/coloring_book.pdf">Downloadable Coloring Book about Kids and Dogs</a></li>
  </ul>

  <h2>Books</h2>

  <h4>Dog Rescue Books</h4>
  <ul>
    <li>The Little Blue Dog Series - by Karen J. Roberts</li>
    <li>Shelter Dogs - Traer Scott </li>
    <li>The Possibility Dogs: What a Handful of "Unadoptables" Taught Me About Service, Hope and Healing - Susannah Charleson</li>
  </ul>


  <h4>Children's Books about Dogs and Pets</h4>
    <ul>
      <li><a target="_blank" href="https://amzn.com/1530072328">Rescued By Love: A Story About Dog Adoption - by Lindsay Jouet</a></li>
      <li>Puppy Training for Kids - by Sarah Whitehead</li>
      <li>Be a Dog’s Best Friend - by Renee Payne</li>
      <li>May I Pet Your Dog - by Stephanie Calmenson</li>
      <li>Tails Are Not for Pulling - by Elizabeth Verdick</li>
    </ul>


  <h4>Dog Training and Behavior Books</h4>
    <ul>
      <li>How to be the Leader of the Pack - Patricia McConnell</li>
      <li>I'll Be Home Soon: How to Prevent and Treat Separation Anxiety - Patricia McConnell</li>
      <li>Way to Go!  How to Housetrain a Dog of Any Age - Patricia McConnell</li>
      <li>The Cautious Canine - How to Help Dogs Conquer Their Fears - Patricia McConnell </li>
      <li>The Culture Clash - Jean Donaldson</li>
      <li>Canine Body Language: A Photographic Guide Interpreting the Native Language of the Domestic Dog - Brenda Aloff</li>
    </ul>

</div>
