<div class="row-fluid">
  <div class="span12">
    <div class="article">
    <h1>Partnering Shelters</h1>
    <br />
    <h4><a href="http://www.buckinghamcountyva.org/">Buckingham County Animal Control</a></h4>
    <h4><a href="http://plannedpethoodrockymount.com/">Franklin County Humane Society</a></h4>
    <h4><a href="http://www.greenvillecounty.org/acs/">Greenville County Animal Care</a></h4>
    <h4><a href="http://gwdhumanesociety.org">The Humane Society of Greenwood</a></h4>
    <h4><a href="http://www.petfinder.com/shelters/VA115.html">Louisa County Animal Control</a></h4>
    <h4><a href="https://www.facebook.com/middlemutts">Middle Mutts</a></h4>
    <h4><a href="http://mchumane.org">Montgomery County Humane Society</a></h4>
    <h4><a href="http://www.newberrycounty.net/animal/">Newberry County Animal Shelter</a></h4>
    <h4><a href="http://www.princegeorgescountymd.gov/sites/animalmanagement/Pages/default.aspx">Prince George County Animal Division</a></h4>
    <h4><a href="https://www.facebook.com/pages/Shelter-Animals-Advocates-Aiken-Foster-Network/149433245225136">Shelter Animals Advocates of Aiken County</a></h4>
    <h4><a href="http://washhumane.org">Washington Humane Society</a></h4>
    <br />
    <br />
    <br />
  </div>
  </div>
</div>