<div class="row-fluid">
  <div class="span8 offset4">
    <h1>Shelter Partners</h1>
  </div>
</div>

<div class="row-fluid">
  <div class="span4 eventphoto hidden-phone">
    <%= image_tag "resources-2.jpg" %>
    <br />
    <br />
    <br />
    <br />
    <%= image_tag "other-ways-to-give-3.jpg" %>
  </div>
  <div class="span8">
    <div class="article">
    <br />

    Operation Paws for Homes partners with many wonderful animal rescue organization around the region and around the world.  Please <a href="/contact">contact us</a> if your group is interested in working with us.

    <h3>Maryland Shelters</h3>
    <h4><a href="https://www.frederickcountymd.gov/15/Animal-Control">Frederick County Animal Control</a></h4>
    <h4><a href="http://mchumane.org">Montgomery County Humane Society</a></h4>
    <h4><a href="http://www.princegeorgescountymd.gov/sites/animalmanagement/Pages/default.aspx">Prince George County Animal Division</a></h4>

    <h3>North Carolina Shelters</h3>
    <h4><a href="http://ansoncountyanimalshelter.org/page/adoptions/">Anson County Animal Shelter</a></h4>
    <h4><a href="https://www.facebook.com/BladenCountyAnimalControlAndShelter">Bladen County (A Shelter Friend)</a></h4>
    <h4><a href="http://www.co.cumberland.nc.us/departments/animal-control-group/animal-control">Cumberland Animal Control</a></h4>
    <h4><a href="http://franklincountync.rescueme.org/">Franklin County Animal Shelter</a></h4>
    <h4><a href="http://www.lenoircountyspca.org/">Lenoir County SPCA</a></h4>
    <h4><a href="http://www.oldnorthcanine.com/">Old North Canine Rescue (ONCR)</a></h4>
    <h4><a href="http://www.roadhomerescue.com/">Road Home Rescue</a></h4>
    <h4><a href="http://www.sampsonnc.com/departments/animal_shelter/index.php">Sampson County Animal Shelter</a></h4>

    <h3>South Carolina Shelters</h3>
    <h4><a href="https://www.andersoncountysc.org/paws">Anderson County PAWS</a></h4>
    <h4><a href="https://www.facebook.com/DayBeforetheRainbowRescue/">Day Before the Rainbow</a></h4>
    <h4><a href="http://gwdhumanesociety.org/">Greenwood Humane Society</a></h4>
    <h4><a href="https://www.facebook.com/Humane-Society-of-Cherokee-County-117580035008734/">Humane Society of Cherokee County</a></h4>
    <h4><a href="https://www.newberrycounty.net/departments/animal-control/adoptions">Newberry County Animal Shelter</a></h4>
    <h4><a href="http://www.oconeehumane.org/">Oconee Humane Society</a></h4>

    <h3>Tennessee Shelters</h3>
    <h4><a href="http://www.maurycounty-tn.gov/index.aspx?page=47">Maury County Animal Shelter</a></h4>
    <h4><a href="http://www.ruralanimalrescueeffort.org/">Rural Animal Rescue Effort</a></h4>
    <h4><a href="http://hswctn.org/">Washington Humane Society</a></h4>

    <h3>Virginia Shelters</h3>
    <h4><a href="http://www.fauquierspca.com/">Fauquier SPCA</a></h4>
    <h4><a href="http://kingwilliamcounty.us/departments-and-services/animal-shelter/">Regional Animal Shelter</a></h4>
    <h4><a href="https://www.scotthumane.com/">Scott County Humane Society</a></h4>
    <h4><a href="http://www.wythecountyhumanesociety.org/">Wythe County Humane Society</a></h4>

    <h3>West Virginia</h3>
    <h4><a href="http://www.greenbrierhumane.org/">Greenbrier Humane Society</a></h4>

    <h3>International Shelters</h3>
    <h4><a href="https://www.facebook.com/kannananimalwelfare">Kannan Animal Welfare, India</a></h4>
    <h4><a href="http://www.nowzad.com/">Nowzad, Afghanistan</a></h4>
    <h4><a href="http://tcspca.tc">Turks and Caicos SPCA, Turks and Caicos</a></h4>

  </div>
  </div>
</div>
