<div class="row-fluid">
  <div class="span8 offset4">
    <h1>Partnering Shelters</h1>
  </div>
</div>

<div class="row-fluid">
  <div class="span4 eventphoto hidden-phone">
    <%= image_tag "resources-2.jpg" %>
    <br />
    <br />
    <br />
    <br />
    <%= image_tag "other-ways-to-give-3.jpg" %>
  </div>
  <div class="span8">
    <div class="article">
    <br />

    Operation Paws for Homes partners with many wonderful animal rescue organization around the region and around the world.  Please <a href="/contact">contact us</a> if your group is interested in working with us.

    <h3>Maryland</h3>
    <h4><a href="http://mchumane.org">Montgomery County Humane Society</a></h4>
    <h4><a href="http://www.princegeorgescountymd.gov/sites/animalmanagement/Pages/default.aspx">Prince George County Animal Division</a></h4>

    <h3>Virginia</h3>
    <h4><a href="http://www.buckinghamcountyva.org/">Buckingham County Animal Control</a></h4>
    <h4><a href="http://plannedpethoodrockymount.com/">Franklin County Humane Society</a></h4>
    <h4><a href="http://www.gilesanimalrescue.org/">Giles County Animal Rescue</a></h4>
    <h4><a href="http://scotthumane.org/">Scott County Humane Society</a></h4>
    <h4><a href="http://www.wisecounty.org/AnmlCtrl/index.html">Wise County Animal Shelter</a></h4>

    <h3>North Carolina</h3>
    <h4><a href="https://www.facebook.com/BladenCountyAnimalControlAndShelter">Bladen County Animal Shelter</a></h4>

    <h3>South Carolina</h3>
    <h4><a href="https://www.facebook.com/pages/Shelter-Animals-Advocates-Aiken-Foster-Network/149433245225136">Aiken County Shelter Animals Advocates</a></h4>
    <h4><a href="http://www.greenvillecounty.org/acs/">Greenville County Animal Care</a></h4>
    <h4><a href="http://gwdhumanesociety.org">The Humane Society of Greenwood</a></h4>
    <h4><a href="https://www.facebook.com/middlemutts">Middle Mutts</a></h4>
    <h4><a href="http://www.newberrycounty.net/departments/animal-control">Newberry County Animal Shelter</a></h4>

    <h3>Tennessee</h3>
      <h4><a href="https://www.facebook.com/wcjcas/">Washington County, TN Animal Shelter</a></h4>

    <h3>International</h3>
    <h4><a href="http://tcspca.tc">Turks and Caicos SPCA</a></h4>
    <h4><a href="http://www.nowzad.com/">Nowzad</a></h4>
    <h4><a href="https://www.facebook.com/kannananimalwelfare">Kannan Animal Welfare</a></h4>

  </div>
  </div>
</div>
