<div class="container-fluid">
    <div class="row">
        <div class="col-sm-11 offset-sm-1 col-md-11 offset-md-1 col-lg-11 offset-lg-1">
            <div class="pages">
                <h1>Dogs</h1>
        <div id="shelterluv_wrap_1748777441">

        </div>
        <div>This page is powered by Shelterluv. Learn more at <a href="https://www.shelterluv.com/"
                target="_blank">www.shelterluv.com</a></div>
        <script type="text/javascript" src="https://new.shelterluv.com/misc/shelterluv_embed.js"></script>
        <script type="text/javascript">
            var sourceDomain = "https://new.shelterluv.com";
            var base_path = ""; var GID = 8269; var filters = { "animalType": "Dog" }; EmbedAvailablePets("shelterluv_wrap_1748777441", GID, filters, 1, sourceDomain, base_path, 2);
        </script>


            </div>
        </div>
    </div>



</div>
