<div class="row">
	<div class="span12 offset2">
	<div class="article">

		<h1>New Dog Shopping List</h1>
		
		<h3>Food</h3>

			<ul>
				<li>We recommend several types of dog or puppy food brands, including <a href="http://authoritypetnutrition.com/index.php" target="_blank">Authority</a> and <a href="http://www.nutro.com" target="_blank">Nutro</a>.  Look at the ingredient list for each dog food.  If grain or chicken byproducts are the first two ingredients, then the nutrition quality of the food isn't great for the dog.</li>
				<li><strong>Wet vs Dry Food</strong> - Many people will decide to only feed their dog dry food, which is perfectly acceptable.  Mixing in wet food is great for dogs that may not receive enough water from eating just dry food.</li>
			</ul>

		<h3>Dog Collar</h3>

			<ul>
				<li>Whether you want a plain or fancy variety - collars are important and will be an item you use daily.  It is important to pick out a collar that will fit and be comfy for the dog.</li>
				<li>Experts recommend a space between the dog's neck and the collar to be at least 2 fingers wide.  The dog collar should never be too loose or too tight. Make sure you take your dog with you when you are buying a collar.</li>
			</ul>

		<h3>Dog leash</h3>
			
			<ul>
				<li>When selecting a leash, keep in mind that it needs to be strong enough to hold your dog.  Both retractable leashes and regular cloth leashes are good options.</li>
				<li>Additionally, many stores sell leashes that are clearly marked with the breeds the leash is suitable for. </li>
			</ul>

		<h3>Grooming accessories</h3>
			
			<ul>
				<li>Just like us, dogs need grooming too!  The grooming accessories needed will vary by breed.  If your dog has a short coat you will need only a basic toolkit, which includes dog shampoo, a toothbrush and toothpaste, and basic dog brush. </li>
				<li>We also recommend including salmon oil or other supplements to increase the shine in your dog's coat and to reduce itchy skin.</li>
			</ul>

		<h3>Bones</h3>
			
			<ul>
				<li>Every dog should have milk bones, rawhides or nylabones to chew on.  These will help if they are teething, and they also help with the dental care of your dog.</li>
			</ul>

		<h3> Dog beds and crate</h3>
			
			<ul>
				<li>Dog beds and crates are great for dogs.  It gives the dog a 'retreat' and they will value having their own comfy space where they can go when cold or sleepy.  </li>
			</ul>

		<h3>Dog toys and treats</h3>
			
			<ul>
				<li>Most dogs love playing, and just like children, love their toys!  It is especially important if you are away for long periods of time that your dog has something to play with. It's best to give them a variety of toys as this will keep them occupied and away from your flip flops and slippers!</li>
				<li>Treats and toys should be both age and size appropriate for your dog. If the toy is too big, the dog won't be able to play with it.  Toys can also be used to train and challenge your dog! </li>
			</ul>

		<h3>Heartworm Prevention and Flea Prevention</h3>
			
			<ul>
				<li><span class="label important">Important</span>You will need to ensure your new dog receives monthly flea prevention and heartworm prevention.  Neither are inexpensive.  However, flea prevention is available at Petsmart/Petco and on-line at discounted prices at <a href="http://www.entirelypets.com/" target="_blank">Entirely Pets</a>, <a href="http://www.1800petmeds.com/" target="_blank">1-800-Petmeds</a> and <a href="http://www.petcarerx.com/" target="_blank">PetCare Rx</a>
				<li>You need a prescription from your vet to buy heartworm prevention.  It is available through your vet or the on-line sites with proof of a prescription.</li>
			</ul>

		<h3>Training Resources</h3>
			
			<ul>
				<li>Please remember that there will be an adjustment period for any new four legged family member!!  Give them time to adjust to your home and you time to learn more about them.</li>
				<li>For more information see our <a href="/resources">resources</a> page.</li>
			</ul>
		
	</div>
	</div>
</div>