<div class="row-fluid">
  <div class="span8 offset4">
  
    <h1><%= @title %></h1>
  </div>
</div>  


<div class="row-fluid">
  <div class="span8 offset4">
    <h2>Little Miracle Fund</h2>
  </div>
</div>  

<div class="row-fluid">
  <div class="span4 eventphoto hidden-phone">
    <%= image_tag "special_fund_milo_1.jpg"%>
    <br>
    <br>
    <%= image_tag "special_fund_milo_2.jpg"%>
  </div>
    
  <div class="span8">
    
    <div class="article">
      <p>Thousands of dogs and puppies find themselves suffering in shelters across the country each day… in desperate need of medical attention due to injury, disease and other life-threatening conditions.  You may know, OPH is committed to saving as many dogs as possible from becoming a “high kill shelter” statistic.  What you may not know is that OPH rescues dogs that are passed over because they have diseases such as Parvovirus, Heartworm, or other difficult to treat health conditions such as hip dysplasia, injured eyes or legs, and other treatable but expensive issues.  These dogs deserve a chance at a happy, healthy life, just as much as their healthy counterparts do.  Because of this core value: to never turn a dog away that we’ve committed to save—a great deal of resources can be required to save a sick dog.  To ensure we can always stand by these little souls, we ask that you consider a donation to the Little Miracle Fund. </p>

      <p>Meet Milagro (which means “miracle” in Spanish)... an OPH dog whose life is nothing short of a miracle.</p>

      <p>Milagro (or Milo for short) was part of a litter of puppies OPH accepted that had contracted Parvovirus (“Parvo”).  This disease is highly contagious and can spread rapidly in overcrowded shelters.  It is especially severe in puppies that are not protected by vaccination or maternal antibodies.  Vaccines can prevent Parvo, but mortality can reach 91% in untreated cases.  Puppies can go from behaving like normal, healthy animals, to declining rapidly with severe vomiting, diarrhea, weight-loss, and dehydration.  Milo’s litter of six became a litter of two in a matter of hours of their arrival.  Milo and his littermate, Jazz, were the only two remaining.  Something heroic was needed to save these last two puppies.  Thanks to donations from our supporters, we were able to rush Milo and Jazz to the hospital and have emergency care administered.  Despite their best efforts, we were unable to take Jazz home and she passed over the Rainbow Bridge.  But to every story there is a silver lining.  Thanks to the blood transfusion Milo received, he was able to begin the long journey to recovery.  Now, Milo is an ambassador for life-saving blood donations that are vital to pet hospital’s and their procedures that save dogs like Milo.</p>

      <p>Milos’ story helps illustrate how crucial donations are to help the abandoned dogs and puppies we rescue.  Regardless of their medical needs, OPH does not turn away a dog in need merely because it’s sick.  Ignoring these dogs would be counter to our mission.  Please consider a donation to the Little Miracle Fund.  Your donation will enable OPH to continue our mission of saving more sweet little pups like Milo.</p>
      <br>
        <p><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=donate%40ophrescue%2eorg&lc=US&item_name=Operation%20Paws%20for%20Homes&no_note=0&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHostedGuest"><img src="/assets/paypal-donate-button.png"></a></p>

    </div>
  </div>
</div>

<br>
<br>

<div class="row-fluid">
  <div class="span8 offset4">
    <h2>Have a Heart Fund</h2>
  </div>
</div>  

<div class="row-fluid">
  <div class="span4 eventphoto hidden-phone">
    <%= image_tag "special_fund_hhh_1.jpg"%>
  </div>
    
  <div class="span8">
    <div class="article">

      <p>Heartworm disease is a death sentence for almost all of the dogs in the south who are diagnoses with the disease.  The disease is fatal for dogs if the condition is left untreated and for many dogs in the south – the condition goes undetected until it’s too late.  In the lucky chance that a dog ends up in a shelter and has a rescue organization take notice… the battle for the heartworm positive dogs is not necessarily done. </p>

      <h5>How we are Helping Dogs who have Suffered</h5>

      <p>It’s true ~ There are many adorable faces in the shelters that just beg to be taken him home!  Many times people fall in love with a dog who seems like a match!  Then, a staff member informs the rescue or adopter that your little friend is heartworm positive…  At this point, many people walk away.  Something snaps and that instant connection and excitement is overcome with doubt, fear, or an inability to help.  People get concerned about the cost, long term health effect or simply don’t know enough about the condition.  We at OPH do not turn our back on heartworm positive dogs.  We believe all dogs deserve a forever home, especially since heartworm is treatable and preventable.</p>

      <p>The disease starts with a simple mosquito biting an infected dog.  When the insect takes aim at an unprotected dog (a dog who has not received monthly preventative medication), the bite places baby heartworm eggs into that dog’s bloodstream.  Certain bacteria in the blood, feed the eggs that grow into larvae and eventually adult heartworms.  These squiggly creatures make the dog’s heart their home.  Without treatment, that adorable little guy you passed up at the shelter will die.</p>

      <p>We have rescued, treated and placed many heartworm positive dogs with the help of our incredible team of supporters.  Without the commitment from caring veterinarians that work with us and provide treatment at a reduced rate, we could never save so many infected dogs.  But that is simply not enough.  Our adoption fees cannot cover the cost of heartworm treatment, so we rely on the generosity of our supporters to help save these deserving dogs.  OPH always has several heartworm positive dogs waiting for treatment before they can find their homes.  These furry friends need and deserve a home just as much as the other dogs.   Please consider a donation to our Have a Heart Fund to support OPH’s work to save heartworm positive dogs and to provide them with a second chance.</p>
      <br>
      <br>
        <p><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=donate%40ophrescue%2eorg&lc=US&item_name=Operation%20Paws%20for%20Homes&no_note=0&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHostedGuest"><img src="/assets/paypal-donate-button.png"></a></p>

    </div>
  </div>
</div>