<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 col-md-8 offset-md-4 col-lg-8 offset-lg-4">
      <div class="pages">
        <h1>Sponsor</h1>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-4 col-lg-4 d-none d-md-block eventphoto">
      <%= image_tag "sponsor-1.jpg", class: "side img-fluid"%>
    </div>
    <div class="col-sm-10 col-md-8 col-lg-8">
      <div class="article pages ml-2">

          <p>Sponsoring a rescue animal in need is a great way to show your support for OPH. We count on the donations of generous animal lovers to join us in our mission of rescuing dogs from high kill and rural shelters in the south.  In some horrible and upsetting cases, the homeless and abandoned dogs come to us in terrible condition and require extensive veterinary care.  This vet care requires much more money than the adoption donation can cover. Each dog we take in is examined by a vet, vaccinated, treated for parasites, given preventatives, and spayed/neutered.  We also treat any other known health issues, which include heartworm treatment, mange treatment, intestinal parasite treatment, teeth extractions, amputation, and much more.  As a non-profit organization, we rely on your support to be able to provide this care.</p>

          <h4>How to Sponsor </h4>

          <p>To sponsor an animal in need, pick one of our available <a href="/dogs">dogs</a> or <a href="/cats">cats</a> and click below to make a donation.  In the Add special instructions to recipient section, please identify the dog you are so graciously sponsoring.  Thanks for your generosity!</p>

          <p><a class="btn btn-primary btn-large" href="/donations/new">Donate</a></p>

      </div>
    </div>
  </div>
</div>
