<div class="row-fluid">
  <div class="span8 offset4">
  
    <h1><%= @title %></h1>
  </div>
</div>  

<div class="row-fluid">
  <div class="span4 eventphoto hidden-phone">
    <%= image_tag "sponsor-1.jpg"%>
  </div>
    
  <div class="span8">
    <div class="article">

        <p>Sponsoring a rescue dog in need is a great way to show your support for OPH. We count on the donations of generous animal lovers to join us in our mission of rescuing dogs from high kill and rural shelters in the south.  In some horrible and upsetting cases, the homeless and abandoned dogs come to us in terrible condition and require extensive veterinary care.  This vet care requires much more money than the adoption donation can cover. Each dog we take in is examined by a vet, vaccinated, treated for parasites, given preventatives, and spayed/neutered.  We also treat any other known health issues, which include heartworm treatment, mange treatment, intestinal parasite treatment, teeth extractions, amputation, and much more.  As a non-profit organization, we rely on your support to be able to provide this care.</p>

        <h4>How to Sponsor a Dog</h4>

        <p>To sponsor a dog in need, pick one of our <a href="/dogs">available dogs</a> and click below to make a $125 donation.  In the donation notes section, please identify the dog you are so graciously sponsoring.  Thanks for your generosity!</p>

        <p><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=donate%40ophrescue%2eorg&lc=US&item_name=Operation%20Paws%20for%20Homes&no_note=0&currency_code=USD&amount=125&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHostedGuest"><img src="/assets/paypal-sponsor-button.png"></a></p>


    </div>
  </div>
</div>