<div class="container-fluid">
	<div class="col-sm-4 col-md-4 col-lg-4">
		<div class="article pages">
			<h3>Adoption App Statuses</h3>

			<ul>
				<li><strong>New</strong> - Just received and needs initial scan for red flags.</li>
				<li><strong>Pending Response</strong> - Sent 1st email about our adoption process and waiting to hear back on confirming their readiness or gaining more information that was missing from app.</li>
				<li><strong>Workup</strong> - Calling references, verifying vet info and scheduling final intervew.</li>
				<li><strong>Approved</strong> - Process complete and they are either meeting a dog or choosing a dog to adopt soon</li>
				<li><strong>Adopted</strong> - Signed their contract and check.
				<li><strong>Adptd SN Pend</strong> - Adopted, but still needs to have dog spayed/neutered and provide proof to OPH.</li>
				<li><strong>Completed</strong> -  Sent follow up email and heard back that the dog is doing well in the new home; sent medical records; Jen has received check/contract; spay/neuter is completed.
					<span class="label label-important">IMPORTANT</span> - do not select completed.  This is reserved for admins only.</li>
				<li><strong>Standby</strong> - need a dog choice or aren't ready to adopt in the near future - we ask the applicant to email us with updated pet choices or when they are ready to adopt.</li>
				<li><strong>Withdrawn</strong> - Disappeared or adopted elsewhere</li>
				<li><strong>Denied</strong> - Cannot adopt</li>
				<li><strong>All</strong> - Every application</li>
				<li><strong>Active</strong> - Applications that are New, Pending Response, Workup or Approved</li>
			</ul>
		</div>
	</div>
</div>
