<div class="container-fluid">
	<div class="row">
		<div class="col-sm-11 offset-1 col-md-11 offset-1 col-lg-11 offset-1">
			<div class="article pages">

				<h3>OPH RESCUE LEGAL NOTICE AND TERMS OF USE</h3>

				<h2>Information Surety</h2>

				<p>Operation Paws for Homes (“OPH Rescue”) works hard to ensure that the information and materials provided on this Internet website are accurate and complete.  However, it is possible that the information may change prior to this site being updated, and/or that errors or omissions may occur.  We welcome your suggestions on how to improve this website and correct errors. </p>

				<p>Your use of this website is voluntary.  You agree by using this website that you will use the information and resources provided based on your own evaluation and analysis of any risks.  It is your responsibility to ensure that the information you use is accurate and appropriate to your use.   OPH Rescue assumes no responsibility for consequences resulting from the use of the information included on this Internet site or from the use of information obtained at linked Internet addresses.</p>

				<p><strong>The content included on this website is for informational and educational purposes only.  The content and this website is not intended to provide professional advice.  If professional medical or behavioral advice is needed or desired, you are advised to seek the assistance of a professional licensed in your state.</strong><p>

				<p><strong>Links to other Internet sites.</strong> OPH Rescue may provide links from its web pages to external web sites because these sites provide information that may interest our supporters, adopters, and the public.  These links are provided as a convenience for educational and research purposes only.   OPH Rescue does not endorse, approve, certify, or control these external sites and does not guarantee the accuracy, completeness, efficacy, timeliness, or correct sequencing of information located at such addresses.  Use of any information obtained from such external addresses is voluntary, and reliance on it should be undertaken after an independent review of its accuracy, completeness, efficacy and timeliness.</p>

				<h2>Liability</h2>

				<p>Because OPH Rescue does not know how you are using information found on our web site, OPH Rescue does not make any express or implied warranties about the information contained in this web site for your particular use.  OPH Rescue disclaims all liability for, damages of any kind arising out of use, reference to, or reliance on information found on its web sites to the full extent provided by state and Federal law. </p>

				<h2>Privacy Policy</h2>

				<p>When you visit this website, some information such as your Internet address, Internet Service Provider, operating system, the site from which you linked, and the time and date of your visit may be collected automatically as part of the software operation of this site.  This may include things like Internet Protocol (IP) addresses and other system information.  We may use this information to compile aggregate statistics about the total number of daily visitors to our site, how long people stay at each page, and to investigate potential security incidents and vulnerabilities associated with the use or abuse of this site.<p>

				<p>We also may collect personal information, including phone number, postal address, email addresses, and other information you choose to provide at various times, such as when you complete an online form or request.  The personal information we collect online is used to process your applcations.  We also store this information for all approved adopters and will provide you with information in the future that we feel will interest you as an adopter of a dog or cat.</p>

				<h2>How we store and protect your personal information</h2>

				<p>Information collected online is electronically stored.  OPH Rescue does not sell, rent, share or disclose information that identifies you personally to any other organization without your permission.  OPH Rescue is not responsible for any additional information you provide to these parties, and we encourage you to become familiar with their practices before disclosing information to them.</p>

				<p>Apart from this, we disclose personal information only when reasonably necessary to: comply with legal process; respond to any claims; or protect the rights, property or personal safety of OPH Rescue, its volutneers and Board of Director, or the public.</p>

				<h2>Use of this web site by children</h2>

				<p>OPH Rescue encourages parents to take an active interest in their children’s use of the Internet.  OPH Rescue does not intend to collect information from children who identify themselves as under 18 years of age.  If you are under 18, you should not provide information on this site and should ask your parent to do so for you.  </p>

				<h2>Changes to this Policy</h2>

				<p>OPH Rescue reserves the right to change these TERMS AND CONDITIONS of USE at any time.  We encourage you to review our terms of use whenever you use this website.</p>
			</div>
		</div>
	</div>
</div>
