<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-4 col-lg-8 offset-lg-4">
      <div class="pages">
        <h1>Tips for Finding Lost Pets</h1>
      </div>
    </div>
  </div>
  <div class="row">

  <div class="col-md-4 col-lg-4 d-none d-md-block">
    <div class="left">
      <%= image_tag "foster-1.jpg", class: "rounded side" %>
      <%= image_tag "fost_faq1.jpg", class: "rounded side" %>
    </div>
  </div>

  <div class="col-sm-10 col-md-7 offset-md-1 col-lg-7 offset-lg-0">
    <div class="article pages">

      <ul class="mt-2">
        <li>Make a flyer immediately for distribution in areas near where your pet went missing.  Post on several telephone poles, distribute in an apartment complex to all neighbors, share on community boards, etc.  Use one of these websites to assist:</li>

        <ul>
          <li><a href="http://petbond.com/flyerentry.php">petbond.com/flyerentry.php</a></li>
          <li><a href="http://www.ReturnMyPet.com">ReturnMyPet.com</a></li>
        </ul>

        <li>Your flier should be sent to vet offices and animal shelters near where your pet went missing.  In addition, you should email and fax to these establishments.</li>

        <li>Fliers in JPG form should be posted on several Lost Pet Facebook pages.  Search Facebook for Lost Pet or Dog sites in your area.  We include some sites here:</li>

        <ul>
          <li><a href="https://www.facebook.com/LostFoundDogs.VA/">Virginia</a></li>
          <li><a href="https://www.facebook.com/LostFoundDogs.MetroDC/">Metro DC</a></li>
          <li><a href="https://www.facebook.com/LostandFoundAnimalsofMaryland/">Maryland</a></li>
        </ul>

        <li>If your pet is microchipped, immediately contact the microchip company.  Ensure your personal information (phone numbers, address, etc.) is up-to-date.  The microchip company can alert vet offices and Animal Control near your home.</li>

        <li>Look at the shelters near where your pet went missing.  Do not limit yourself to one shelter in the immediate vicinity.  Reach out to shelters in surrounding counties. Someone may find your pet and bring them to a shelter location outside of your immediate area for several reasons. </li>

        <li>Check local lost dog postings – You should check Craigslist for your local area as well as any local newspaper that has a classified ads section.  </li>

        <li>Does your neighborhood (or surrounding neighborhoods) have a <a href="http://nextdoor.com">NextDoor.com</a> page?  If so, sign up and post your flier and details to the site.  Also, monitor the site for any mentioning of your pet.</li>

        <li>You should also act proactively at home.  Work to draw pets home with familiar (and endearing items they enjoy).  You can place articles of your clothing outside to help them pick up a scent.  You can set up a favorite dog bed in a sheltered area in your yard.  </li>

        <li>Enlist the help of professionals – <a href="http://www.dogsfindingdogs.com/">Dogs Finding Dogs</a> is an amazing organization that assists in tracking lost dogs.  </li>

      </ul>

    </div>
  </div>
</div>
