<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-4 col-lg-8 offset-lg-4">
      <div class="pages">
        <h1>Tips for Finding Lost Pets</h1>
      </div>
    </div>
  </div>
  <div class="row">

  <div class="col-md-4 col-lg-4 d-none d-md-block">
    <div class="left">
      <%= image_tag "lost-dog-1.png", class: "rounded side" %>
      <%= image_tag "lost-dog-2.png", class: "rounded side" %>
    </div>
  </div>

  <div class="col-sm-10 col-md-7 offset-md-1 col-lg-7 offset-lg-0">
    <div class="article pages">

      <p>If your dog gets loose and does not come back to you quickly, <strong>DO NOT CALL OR CHASE THE DOG!</strong>  Try sitting down and looking away, and offering treats if you have any with you.  If the dog runs away, start the process below.  </p>

      <ul class="mt-2">
        <li>If you would like assistance from the OPH Lost Dog team, email <a href='mailto:lostdog@ophrescue.org'>lostdog@ophrescue.org</a>.  A member of the OPH Lost Dog team will reach out to you with instructions.</li>

        <li>Make a flyer immediately and put up flyers in a one-mile radius around where the pet was lost. Post on street signs, distribute in an apartment complex, to all neighbors, share on community boards, etc.  (The OPH Lost Dog team can help make a flyer for you). </li>

        <li>Post the flyer on local social media sites (lost dog sites, Facebook, NextDoor, Ring) and encourage people to share the post.  In particular, post on Lost Pet Facebook pages. Search Facebook for Lost Pet or Dog sites in your area. We include some sites here:</li>

        <ul>
          <li><a href="https://www.facebook.com/LostFoundDogs.VA/">Virginia</a></li>
          <li><a href="https://www.facebook.com/LostFoundDogs.MetroDC/">Metro DC</a></li>
          <li><a href="https://www.facebook.com/LostandFoundAnimalsofMaryland/">Maryland</a></li>
        </ul>

        <li>Monitor local social media and lost pet sites for any mention of your pet.</li>

        <li>If your pet is microchipped, immediately contact the microchip company. Ensure your personal information (phone numbers, address, etc.) is up-to-date. </li>

        <li>Look at the shelters and Animal Control near where your pet went missing. Do not limit yourself to one shelter in the immediate vicinity. Reach out to shelters in surrounding counties. Drop off copies of your flyer at vet offices and animal shelters near where your pet went missing</li>

        <li>Set up one or more feeding stations close to where pet was lost. Use food with a strong smell, like rotisserie chicken (de-boned), Royal Farms chicken, tuna fish, sardines, canned cat food, kielbasa, hotdogs. It's best to monitor the food with a camera so you know if the dog or another animal ate the food. OPH has cellular trail cameras that can be used at the feeding station if you don't have access to one.</li>

        <li>Place articles of clothing from family members that the pet bonded to and/or a favorite dog bed/blanket outside to help them use that scent to find home. Place the items on the porch, deck, or area of the yard that would attract the dog by scent (preferably an area that keeps them dry from rain/snow).</li>

        <li>If your pet needs to be trapped, the OPH Lost Dog Coordinator can help with this, or connect you to other organizations that can help. Email <a href='mailto:lostdog@ophrescue.org'>lostdog@ophrescue.org</a> for help. </li>

      </ul>

    </div>
  </div>
</div>
