<div class="container-fluid">
	<div class="row">
		<div class="col-sm-8 offset-sm-4 col-md-8 offset-md-4 col-lg-8 offset-lg-4">
			<div class="pages">
				<h1>Volunteer</h1>
			</div>
		</div>

		<div class="col-sm-4 col-md-4 col-lg-4 d-none d-sm-block">
			<div class="left">
				<%= image_tag "volunteer-1.jpg", class: "rounded side img-fluid" %>
			</div>
			<div class="left">
				<%= image_tag "volunteer-2.jpg", class: "rounded side img-fluid" %>
			</div>
		</div>

		<div class="col-sm-8 col-md-8 col-lg-8">
			<div class="article pages">
				<p>We could not do our life saving work without dedicated volunteers! Our network of supportive volunteers will help you get started if you have the time and energy. Please contact us if you think any of these jobs are the right fit for you!</p>
				<%= link_to "Apply to Volunteer", "https://www.emailmeform.com/builder/form/d1g4Q1A57mw43ThdlRcq", :class => "btn btn-primary btn-large" %>

				<h2 name="adoption" id="adoption">Adoption Coordinator</h2>
				<p>We need help screening applications to find each dog and cat a good home! This can all be done in your own home. We need volunteers that are flexible and available to make calls and coordinate meeting between dogs and potential approved adopters. It requires training and dedication but the rewards include heartwarming updates from happy adopters as well as knowing that you helped save the life of a dog.  </p>

				<h2 name="events" id="events">Events and Fundraising</h2>
				<p>Volunteers make Events happen! Assist in fundraising or community outreach events to spread the word about rescue!   Join an event team and help dogs find their forever homes.</p>

				<h3>Adoption Events</h3>
				<ul>
					<li>We always need handlers at adoption events, which are fun for you and the animals!</li>
					<li>Help transport a rescue from a foster home or boarding partner to events.</li>
					<li>Help answer questions for the general public regarding responsible pet care.</li>
				</ul>

				<h3>Special Events</h3>
				<ul>
					<li><a href="/education-and-outreach">Education events</a> – Join our Mutt-i-grees team and help us raise awareness about the wonderful connection between children and pets.</li>
					<li>Outreach Events – OPH is involved in local communities throughout VA, MD, DC and PA.  Join us for parades, festivals, fairs, community partnership opportunities – and help spread the word about our mission to rescue animals and promote responsible pet care.  </li>
				</ul>

				<h3>Fundraising Events</h3>
				<ul>
					<li>Fundraising events rely on outgoing and creative volunteers to solicit donations and sponsors!</li>
					<li>Promotion of events is key – help with the public relations efforts to spread the word about our fundraising events.</li>
					<li>Administrative assistance is always needed to help keep large events organized and smoothly run.</li>
				</ul>

				<h2 name="transportation" id="transportation">Transportation</h2>
				<p>We can't save animals without transportation!  This is a wonderful way to interact with the animals and to help them in moving (literally!) towards their forever home.  Foster families are delighted to meet their new pet but sometimes they do need help with getting them to vet appointments and adoption events.  Our foster families, dogs, and transport coordinator are very appreciative for this kind of support! OPH is able to provide the transport crate. </p>

				<h2 name="advertising" id="advertising">Advertising</h2>
				<p>If you have a talent for writing or editing, use it to save animals! Learn about an animal and be a part of finding it a forever family in the job of advertising. For every dog and cat that finds a new home, we can save another one. We need your help getting the word out! Who doesn’t like looking at puppy pictures each week?</p>

				<h2 name="newsletter" id="newsletter">Newsletter</h2>
				<p>Do you enjoy writing? Do you enjoy sharing valuable information about dogs? Are you proficient in programs that generate newsletters? If so, we’d love your help in creating an OPH Rescue newsletter! We are looking for a dedicated volunteer who can send out monthly newsletters to OPH volunteers and adopters.</p>

				<h2 name="training" id="training">Training Team</h2>
				<p>Do you train dogs for a living? For fun? For the sheer enjoyment of seeing dogs succeed in life?  We need trainers.  OPH would like to partner with professional trainers who are looking to assist our dogs and enhance visibility of their organization.  We also need volunteer trainers with experience working with dog behavioral adaptations.  Educational development help needed!</p>

				<h2>Training Outreach</h2>
				<p>Are you able to do online research, make lists, and contact local trainers via phone call or email? We need your help establishing relationships to offer training support to our adopters. This important initiative will help set shelter animals and adoptive families up for a successful future together.  </p>

				<h2>Outreach Volunteers</h2>
				<p>Do you have a knack for marketing or love to plan events?  Do you enjoy meeting the public and talking about the importance of rescuing a dog or cat from a shelter?  We need grant writers, corporate partnership managers, outreach volunteers and donation &amp; supply team members! Fundraising &amp; sponsorship assistance needed!</p>

				<h2>Boarding Buddies</h2>
				<p>OPH partners with boarding facilities in Northern &amp; Central Virginia, Maryland and Southern Pennsylvania. When we are unable to secure a foster for an animal and it goes to one of our boarding facilities, we need Boarding Buddies to check on and walk or play with the animals, take photos of animals and get to know them. Boarding Buddies help provide valuable behavior and personality information for fosters and potential adopters. Boarding Buddies also help facilitate meet &amp; greets with potential adopters.</p>

				<h2>#Social Media Saves Lives</h2>
				<p>We need creative social media volunteers!   Tweet with us, Pin for us, advocate for long term dogs and cats who need additional help to shine, and help us to create social media teams to spread the word and build our social media presence.</p>

				<%= link_to "Apply to Volunteer", "https://www.emailmeform.com/builder/form/d1g4Q1A57mw43ThdlRcq", :class => "btn btn-primary btn-large" %>
			</div>
		</div>
	</div>
</div>
