<div class="row">
	<div class="span12 offset2">
	<div class="article">

		<h1>Volunteer</h1>

		<p>We could not do our life saving work without dedicated volunteers! Our network of supportive volunteers will help you get started if you have the time and energy. Please contact us if you think any of these jobs are the right fit for you!</p>

		<%= link_to "Apply to Volunteer", "http://www.emailmeform.com/builder/form/d1g4Q1A57mw43ThdlRcq", :class=>"btn success large" %>
		<h5>Opportunities</h5>
		<ul>
			<li><a href="#adoption">Adoption Coordinator</a></li>
			<li><a href="#transportation">Transportation</a></li>
			<li><a href="#advertising">Advertising</a></li>
			<li><a href="#events">Events and Fund Raising</a></li>
			<li><a href="#newsletter">Newsletter</a></li>
		</ul>

		<h2 name="adoption" id="adoption">Adoption Coordinator</h2>

			<p>We need help screening applications to find each dog a good home! This can all be done in your own home. We need volunteers that are flexible and available to make calls and coordinate meeting between dogs and potential approved adopters. It requires training and dedication, but the rewards are emails from adopters that they are thrilled with their new addition and knowing you helped to save the life of a dog! </p>

		<h2 name="transportation" id="transportation">Transportation</h2>

			<p>We can't save dogs without transportation!  This is a wonderful way to interact with the dogs and to help them in moving (literally!) towards their forever home.  Fosters are delighted to meet their new dogs and get help with getting them to vet appointments. We will provide you with the transportation crates.  This job comes with much thanks and appreciation from fosters and our transportation coordinator. </p>

		<h2 name="advertising" id="advertising">Advertising</h2>

			<p>If you have a talent for writing or editing, use it to save dogs! Learn about a dog and be a part of finding it a forever family in the job of advertising. For every dog that finds a new home, we can save another one. We need your help getting the word out! Who doesn’t like looking at puppy pictures each week?</p>

		<h2 name="events" id="events">Events and Fund Raising</h2>

			<p>Calling all party planner and photographers! We need organized and enthusiastic people ready to reach out to the community to:</p>
			<ul>
			  <li>Collect donated items</li>
				<li>Schedule benefit events (bingo, raffles, dinners, etc.)</li>
				<li>Organize adoption events and spread information</li>
				<li>Photograph avaiable dogs</li>
			</ul>
			<p>Most weekends we have <a href="/events">adoption events</a> in Virginia or Maryland and would love to have a few extra hands to help introduce the dogs to potential adopters or take professional pictures.</p>

		<h2 name="newsletter" id="newsletter">Newsletter</h2>

		<p>Do you enjoy writing? Do you enjoy sharing valuable information about dogs? Are you proficient in programs that generate newsletters? If so, we’d love your help in creating an OPH Rescue newsletter! We are looking for a dedicated volunteer who can send out monthly newsletters to OPH volunteers and adopters.
		</p>

	</div>
	</div>
</div>