<div class="container">
  <div class="row">
    <div class="col-md-7 offset-md-1 mt-3 pt-3 myBackground">

    <h1>Thank You!</h1>

    <p>Your donation of <strong><%= number_to_currency(@donation.amount) %></strong> has been received.</p>

    <p>It takes a village to make a big impact.  Thank you for believing in those dogs in need!</p>

    </div>
  </div>
</div>
