<div class="container">
    <div class="row">
        <div class="col-md-12">
        <h1>Donations</h1>

        <% if @donations.count > 0 %>
            <p>
                Download:
                <%= link_to "Excel", history_donations_path(format: "xls") %>
            </p>

            <%= will_paginate(@donations, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
            <table class="table table-sm table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Campaign</th>
                        <th scope="col">Name</th>
                        <th scope="col">Frequency</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Comment</th>
                    </tr>
                </thead>
                <tbody>
                    <%= render @donations %>
                </tbody>
            </table>
            <%= will_paginate(@donations, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
        <% else %>
            <h5>No Donations!</h5>
        <% end %>

        </div>
    </div>
</div>
