<tr class='attachment'>
  <td><%= link_to attachment.name, attachment_path(attachment) %></td>
  <td><%= attachment.description %></td>
  <td><%= attachment.created_at.strftime("%B %d, %Y") %></td>
</tr>
