<table class="table-striped table-bordered table-condensed" id="folder-sort">
  <thead>
    <tr>
      <th> File </th>
      <th> File Description </th>
      <th> Last Updated </th>
    </tr>
  </thead>
  <tbody id="folder_tbody">
    <%= render @attachments %>
  </tbody>
</table>
