<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Thank you for your application!</h1>

<p>Operation Paws for Homes would not exist without the hard work and dedication of our volunteers. The number of dogs and cats we can save truly depends on the number of people we have helping us. With that said, we are incredibly grateful to receive your time, talents and interest to volunteer.</p>

<p>OPH is more than just a dog and cat rescue. We have many sectors of the organization, and every role, big or small, ongoing or short-term, is a critical piece of the puzzle. No matter how you engage, your engagement matters!</p>

<p>All volunteers must first participate in our virtual volunteer orientation. Next step: our Orientation Coordinator will be in touch with you to help get you set up!</p>

<a class="btn btn-primary" role="button" href="/volunteer">Learn about OPH Volunteer Roles</a>

    </div>
  </div>
</div>
