<li class="list-group-item">
    <%= link_to "Add", new_polymorphic_path([@treatable, TreatmentRecord], treatment_id: available_treatment.id), class: 'btn btn-sm btn-primary'  %> <%= available_treatment.name  %>
</li>
