    <div class="row">
        <div class="col">
            <h5>Humane Society Recommended Vaccinations**</h5>
            <ul>
                <li><strong>Monthly Flea and Tick Prevention</strong> - Available online (1-800-Petmeds or PetcareRX) and at Petsmart or Petco.</li>
            <ul>
        </div>
    </div>

    <div class="row d-table-row">
        <div class="col w-25 d-table-cell">
            <h6>Kittens</h6>
            <ul>
                <li>4 weeks deworming</li>
                <li>6 weeks:  First kitten shot  (FVRCP)</li>
                <li>8 weeks deworming</li>
                <li>9 weeks:  Second kittenshot  (FVRCP)</li>
                <li>10 weeks deworming</li>
                <li>12 weeks:  Third kittenshot (FVRCP) and Rabies shot</li>
                <li>16 weeks:  Fourth kitten shot</li>
            </ul>
        </div>
        <div class="col w-25 d-table-cell">
            <h6>Adult Cats</h6>
            <ul>
                <li>FVRCP - Yearly</li>
                <li>Rabies - 1-3 years (after first two shots)</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-10 text-center">
            <ul class="list-unstyled">
                <li><em>** Please be sure to consult with your vet as to the proper vaccinations and vaccination schedule for your cat.</em></li>
                <li>OPH does not conduct blood analysis (unless medically neded  for apparent illness).</li>
            <ul>
        </div>
    </div>
