    <div class="row">
        <div class="col">
            <h5>Humane Society Recommended Vaccinations**</h5>
            <ul>
                <li><strong>Monthly Flea and Tick Prevention</strong> - Available online (1-800-Petmeds or PetcareRX) and at Petsmart or Petco.</li>
                <li><strong>Monthly Heartworm Prevention</strong> - Prescription from vet, available online</li>
            <ul>
        </div>
    </div>

    <div class="row d-table-row">
        <div class="col w-25 d-table-cell">
            <h6>Puppies and Young Adult Dogs</h6>
            <ul>
                <li>6-8 weeks: First puppy shot (DHLPP)</li>
                <li>8 weeks: bordetella</li>
                <li>11-12 weeks: Second puppy shot (DHLPP) + Corona</li>
                <li>15-16 weeks: Third puppy shot (DHLPP)</li>
                <li>Multiple dewormings should be completed</li>
                <li>4 months or older: Rabies shot</li>
                <li>7-9 months: First heartworm test</li>
            </ul>
        </div>
        <div class="col w-25 d-table-cell">
            <h6>Adult Dogs</h6>
            <ul>
                <li>DHLPP - Yearly</li>
                <li>Heartworm Test - Yearly</li>
                <li>Rabies - 1-3 years (after first two shots)</li>
                <li>Bordetella - Yearly</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-10 text-center">
            <ul class="list-unstyled">
                <li><strong>It is recommended that adopted dogs are heartworm tested every six months.</strong></li>
                <li><em>** Please be sure to consult with your vet as to the proper vaccinations and vaccination schedule for your dog.</em></li>
                <li>OPH does not give Lyme or Lepto vaccinations to dogs in the rescue organization.</li>
                <li>OPH does not conduct blood analysis (unless medically neded  for apparent illness) or DNA tests on adoptable dogs.</li>
            <ul>
        </div>
    </div>
