<div class="container">
    <div class="row">
        <div class="col-6-sm">
            <h1>Available Treatments</h1>
            <ul class="list-group list-group-flush">
            <%= render partial: "available_treatment", collection: @available_treatments,
                       as: :available_treatment  || "No treatments available"  %>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1>Treatment Records for <%= @treatable.name %> </h1>
            <div class="card-deck">
                <%= render @treatment_records  || "No Treatment Records"%>
            </div>
        </div>
    </div>
</div>
