<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Available Treatments</h1>
            <ul>
            <%= render partial: "available_treatment", collection: @available_treatments,
                       as: :available_treatment  || "No treatments available"  %>
            </ul>
            <h1>Treatment Records for <%= @treatable.name %> </h1>
            <ul>
                <%= render @treatment_records  || "No Treatment Records"%>
            </ul>
        </div>
    </div>
</div>
