<% case energy_level
       when 1 %><p><strong>Energy Level 1</strong> - Is it time for a nap yet? Prefers naps over walks. </p>
    <% when 2 %><p><strong>Energy Level 2</strong> - Likes to go for short walks but mostly is a lounger. Does not play much.</p>
    <% when 3 %><p><strong>Energy Level 3</strong> - Enjoys walks, mental stimulation, and some playtime. </p>
    <% when 4 %><p><strong>Energy Level 4</strong> - Needs 1 hour of a mixture of off-leash playtime and or mental stimulation every day. </p>
    <% when 5 %><p><strong>Energy Level 5</strong> - Needs 3 hours of a mixture off-leash playtime and mental stimulation every day rain or shine. </p>
<% end %>
