<div class="media pt-3">
    <p class="media-body pb-3 mb-0 lh-125">
    <strong class="d-block"><%= adopter.name %></strong>
    <%= adopter.status %> <br />
    <%= link_to("View", adopter_path(adopter)) %>
    </p>
</div>
