<div class="media pt-3">
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
    <strong class="d-block"><%= bulletin.title.titleize %></strong>
    <%= bulletin.content %> <br />
    <%= link_to("View", bulletin) %>
    </p>
</div>
