<div class="pt-3">
    <ul class="list-unstyled">
        <li><strong>Manager</strong> - Jane Doe - 555-800-3191</li>
        <li><strong>Title 2</strong> - Your Name - 123-444-1234</li>
        <li><strong>Medical</strong> - Your Name - 111-333-1234</li>
        <li><strong>Additional</strong> - Another Name - 111-333-1234</li>
        <li><strong>Hello</strong> - Another Name - 111-333-1234</li>
        <li><strong>Manager</strong> - Jane Doe - 555-800-3191</li>
        <li><strong>Title 2</strong> - Your Name - 123-444-1234</li>
        <li><strong>Medical</strong> - Your Name - 111-333-1234</li>
        <li><strong>Additional</strong> - Another Name - 111-333-1234</li>
        <li><strong>Hello</strong> - Another Name - 111-333-1234</li>
        <li><strong>Manager</strong> - Jane Doe - 555-800-3191</li>
        <li><strong>Title 2</strong> - Your Name - 123-444-1234</li>
        <li><strong>Medical</strong> - Your Name - 111-333-1234</li>
        <li><strong>Additional</strong> - Another Name - 111-333-1234</li>
        <li><strong>Hello</strong> - Another Name - 111-333-1234</li>
    </ul>
</div>
