<div class="media pt-3">
    <div class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
    <h6 class="d-block"><%= link_to(opportunity.title.titleize, opportunity) %></h6>
    <%= markdown(opportunity.content) %> <br />
    </div>
</div>
