<div class="pt-3  bg-light">
    <p class="pb-3 mb-0 small">
    <strong class="d-block">Walk some dogs</strong>
    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
    magni dolores eos qui ratione voluptatem sequi nesciunt. <br />
    <%= link_to("View", "#") %>
    </p>
</div>

<div class="pt-3">
    <p class="pb-3 mb-0 small">
    <strong class="d-block">Help at an Event</strong>
    Nemo enim ipsam voluptatem quia voluptas sit, sed quia non numquam eius modi tempora
    incidunt ut labore et dolore magnam aliquam quaerat voluptatem. <br />
    <%= link_to("View", "#") %>
    </p>
</div>

<div class="pt-3  bg-light">
    <p class="pb-3 mb-0 small">
    <strong class="d-block">Process Applications</strong>
    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
    magni dolores eos qui ratione voluptatem sequi nesciunt. <br />
    <%= link_to("View", "#") %>
    </p>
</div>

<div class="pt-3">
    <p class="pb-3 mb-0 small">
    <strong class="d-block">Transport some Dogs</strong>
 Neque porro quisquam est, qui dolorem i
    psum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
    incidunt ut labore et dolore magnam aliquam quaerat voluptatem. <br />
    <%= link_to("View", "#") %>
    </p>
</div>
