<div class="media pt-3 bg-light">
    <p class="media-body pb-3 mb-0 small lh-125">
    <strong class="d-block"><%= opportunity.title.titleize %></strong>
    <%= opportunity.content %> <br />
    <%= link_to("View", opportunity) %>
    </p>
</div>
