<li class="media">
    <div class="media-body border-bottom border-gray pb-1 mb-3">
    <h5 class="mt-0 mb-1"><%= link_to(opportunity.title.titleize, opportunity) %></h5>
    <%= markdown(opportunity.content) %>
    </div>
</li>
