<div class='container' id='campaigns_list'>
    <div class="row title_row">
        <div class="col-12">
            <h1><%= "#{t(".title.#{@scope}")}" %></h1>
        </div>
    </div>
    <% if can_edit_events? %>
        <div class="row">
            <div class="col-12 pb-5">
                <%= link_to "Create a Campaign", new_campaign_path, class: "btn btn-primary" %>
                <%= link_to(alternate_campaign_scope_string, scoped_campaigns_path(alternate_campaign_scope), class: "btn btn-secondary") %>
            </div>
        </div>
    <% end %>
    <div class="row">
        <div class='col-12'>
            <%= render(@campaigns) || render(partial: 'no_campaigns') %>
        </div>
    </div>
</div>
