<tr>
	<td><%= link_to banned_adopter.name, banned_adopter unless !banned_adopter.name %></td>
	<td><%= banned_adopter.city unless !banned_adopter.city %>, <%= banned_adopter.state unless !banned_adopter.state %></td>
	<td><%= simple_format(banned_adopter.comment) unless !banned_adopter.comment %></td>
</tr>