body {
	padding-top: 80px;
}

label.error {
	color: red;
}

input.error {
	color: red;
}

form .clearfix.error .error {
    color: #B94A48;
}

form .clearfix.error span.error {
    padding-left: 5px;
}

.hero-unit {
	background-image: url(hero_bg.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.hero-unit h1 {
	color: #FFFFFF;
	font-size: 37px;
}

.hero-unit p {
	color: #FFFFFF;
}

.sidekick {
	background-color: #ffffff;
	border-radius: 6px 6px 6px 6px;
	padding: 10px;
}

.topbar div > ul a, .nav a {
	padding: 33px 10px 11px;
}

div.article p {
	font-family: georgia, "times new roman", times, serif;
	font-size: 14px;
}

img.floatLeft { 
    float: left; 
    margin: 4px;
    border-radius: 6px 6px 6px 6px;
}
img.floatRight { 
    float: right; 
    margin: 4px;
    border-radius: 6px 6px 6px 6px;
    margin-left: 20px;
}