body {
	padding-top: 60px;
}

label.error {
	color: red;
}

input.error {
	color: red;
}

form .clearfix.error .error {
    color: #B94A48;
}

form .clearfix.error span.error {
    padding-left: 5px;
}