body {
	padding-top: 80px;
}

label.error {
	color: red;
}

input.error {
	color: red;
}

form .clearfix.error .error {
    color: #B94A48;
}

form .clearfix.error span.error {
    padding-left: 5px;
}

.hero-unit {
	background-image: url(hero_bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}

.hero-unit h1 {
	color: #FFFFFF;
	font-size: 37px;
}

.hero-unit p {
	color: #FFFFFF;
}

.menu-dropdown, .dropdown-menu {
  top: 63px;
}

.sidekick {
	background-color: #ffffff;
	border-radius: 6px 6px 6px 6px;
	padding: 10px;
}

.sidekick h2 {
	border-bottom: 2px solid #000000;
	margin-bottom: 10px;
}

.topbar div > ul a, .nav a {
	padding: 33px 10px 11px;
}

.article h2 {
	border-bottom: 1px solid #000000;
	margin-bottom: 10px;
	margin-top: 30px;
}

.article li {
	color: #404040;
}

.eventphoto img {
	display:block ; 
	margin: auto ;
	border-radius: 6px 6px 6px 6px;
}

img.floatLeft { 
    float: left; 
    margin: 4px;
    border-radius: 6px 6px 6px 6px;
}
img.floatRight { 
    float: right; 
    margin: 4px;
    border-radius: 6px 6px 6px 6px;
    margin-left: 20px;
}