.title_row {
  margin-top: 20px;
}

.title_row a {
  margin-top: 8px;
}

.gallery .col-sm-4 {
  margin-bottom: 30px;
}

.gallery img{
  display:block ;
  margin: auto ;
  border-radius: 6px 6px 6px 6px;
}

.gallery .img-thumbnail{
  display: block;
  padding-top: 22px;
  height: 100%;
  text-align: center;
  color: #333333;
  padding: 4px;
  line-height: 20px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.gallery a.img-thumbnail:hover,.gallery a.img-thumbnail:focus {
  border-color: #08c;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.gallery {
  margin-top: 20px;
}

.gallery h4 {
  text-align: center;
  color: #333;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.2;
}

// FLAGS
.flags {
  display: flex;
}

.has_medical_need, .is_high_priority, .has_behavior_problem, .needs_foster {
  background-repeat: no-repeat;
  background-size: 100%;
  width: 18px;
  height: 18px;
  margin-left:2px;
  margin-right:2px;
}

.has_medical_need {
  background-image: image-url("has_medical_need.gif");
}

.is_high_priority {
  background-image: image-url("is_high_priority.gif");
}

.has_behavior_problem {
  background-image: image-url("has_behavior_problem.gif");
}

.needs_foster {
  background-image: image-url("needs_foster.gif");
}

#manager-view {
  width: 75%;
}

#manager-view .dog span {
  margin-right: 6px;
}

#manager-view .dog.line-1 {
  border-top: 1px solid #d4d4d4;
  border-left: 1px solid #d4e4e4;
  border-right: 1px solid #d4d4d4;
  font-weight: 500;
  margin-bottom: 6px;
}

#manager-view .dog.line-1 .name {
  font-weight: 700px;
}

#manager-view .dog.line-2 {
  border-left: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  margin-bottom: 12px;
  color: #777777;
  font-size: smaller;
  padding-bottom: 6px;
}

#manager-view .dog.line-2 .foster_txt {
  text-align: right;
}

.flags .fa {
  position: relative;
  top: 4px;
  margin-left:2px;
  margin-right:2px;
}

.fa-comment-o {
  cursor: pointer;
}

// globalMultiSelect, the filter fields:
#all_filter_params span.filter_param::after {
  content: ', ';
}

#filter_controls {
  display: flex;
  margin-left: -23px;
}

.message_group {
  font-size: smaller;
}

.message_group .group_label {
  font-weight: 700;
  margin-left: 1px;
}

.dropdown-menu li {
  margin-left: 8px;
}

.dropdown-menu li.selected span.check {
  visibility: visible;
  width:12px;
  margin-right:12px;
  color: #38ad38;
}

.dropdown-menu li:not(.selected) span.check {
  visibility: hidden;
  width:12px;
  margin-right:12px;
}

.dropdown-menu li span {
  cursor: pointer;
}

#reset_message {
  font-size:smaller;
  display:none;
  cursor: pointer;
}
