@import 'dogs_index/gallery_view';
@import 'dogs_index/manager_view';
@import 'dogs_index/show';

.title_row {
  margin-top: 20px;

  a { margin-top: 8px; }

  .switch_view {
    margin-top: 14px;
    position: relative;
    display: inline-block;
  }
}

.switch_view {
  font-size: 1.2rem;
}
