.row.stay-in-touch, .row.footer-awards, .row.footer-links {
  padding-top: 20px;
  padding-bottom: 20px;
}
.row.stay-in-touch .col, .row.footer-awards .col, .row.footer-links .col{
  text-align: center;
}
