// mimic the styling of the form-group feedback block in
// a block attached to the submit button
.actions .invalid-feedback {
  display: none;
}

.actions.form-errors .invalid-feedback {
  display: block;
}

label.required:after {
  @extend .text-danger;
  content: '*';
}

.title_row {
  margin-top: 20px;
  color: #ad8b22;
  margin-bottom: 28px;

  h1 {
    display: inline-block;
    color: #10acd8;
    letter-spacing: -1.5px;
    font-style: italic;
  }
}
