.attachment {
  .edit_description_container {
    border-left: none;
    text-align: center;
    width: 1em;

    .edit_description, .cancel_edit, .save_edit {
      color: #08c;
      cursor: pointer;
    }

    .save_edit {
      margin-left: 12px;
    }
  }
}
