// .navbar-user-custom {
// background-color: #e7b93a;
// }

// /* change the color of active or hovered links */
// .navbar-user-custom  .nav-item.active .nav-link,
// .navbar-custom .nav-item:hover .nav-link {
// color: #333333;
// }

// /* for dropdown only - change the color of droodown */
// .navbar-user-custom  .dropdown-menu {
// background-color: #aedfe3;
// }
// .navbar-user-custom  .dropdown-item {
// color: #333333;
// }

// .navbar-user-custom  .dropdown-item:hover,
// .navbar-user-custom  .dropdown-item:focus {
// color: #333333;
// // background-color: rgba(255,255,255,.5);
// }

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  background-color: rgba($color: #ffbe44, $alpha: 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #333333;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}
