.navbar a{
  color: #333;
}

#navbarToggler > ul > li > a {
  color: #333;
  font-size: 1rem;
  padding: 10px 15px 10px 15px;
}

.navbar .navbar-brand {
  font-weight: 200;
}

.navbar-expand-lg {
  border: 1px solid #d4d4d4;
}
