<% if current_user.edit_all_adopters? %>
<div class="row">
  <div class="col">
    <h4>Wait List for Approved Adopters</h4>
    <div id='wait_list'>
      <%= simple_format(@cat.wait_list) %>
    </div>
  </div>
</div>
<% end %>
