<footer>
<br />
<br />
<br />
<hr>
<center>&copy; <%= Time.now.year %> Operation Paws for Homes - <a href="/terms">Terms of Use and Privacy Policy</a> - <a href="http://eepurl.com/h9oyk">Join Our Mailing List</a> </center>
</footer>
