<footer>
<br />
<br />
<br />
<hr>
<center>&copy; <%= Time.now.year %> Operation Paws for Homes - <a href="/terms">Terms of Use and Privacy Policy</a> - <a href="https://mailchi.mp/35488647a4cd/enewsletter-signup">Join Our Mailing List</a> </center>
</footer>
