
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>System down for maintenance</title>

  <style type="text/css">
    body { background-color: #fff; }
  </style>
</head>

<body>

   <img src="https://github.com/ophrescue/RescueRails/raw/master/app/assets/images/hero_bg2.jpg">
   <h2>We're currently down for maintenance.</h2>
   <p>Sorry for the inconvenience.  We'll be back in just a few minutes.</p>
   <p>You can still browse our <a href="http://www.petfinder.com/pet-search?shelterid=VA600"> dogs available for adoption</a>.</p>


</body>
</html>